

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-558430701439943923.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-558430701439943923.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-558430701439943923.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-558430701439943923.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-558430701439943923.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-558430701439943923.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-558430701439943923.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-558430701439943923.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-558430701439943923.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-558430701439943923.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-558430701439943923.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-558430701439943923.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-558430701439943923.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-558430701439943923.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-558430701439943923.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-558430701439943923.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-558430701439943923.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-558430701439943923.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-558430701439943923.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-558430701439943923.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-558430701439943923.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-558430701439943923.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-558430701439943923.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-558430701439943923.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-558430701439943923.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-558430701439943923.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-558430701439943923.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-558430701439943923.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-558430701439943923.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-558430701439943923.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-558430701439943923.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-558430701439943923.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-558430701439943923.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-558430701439943923.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-558430701439943923.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-558430701439943923.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-558430701439943923.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-558430701439943923.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-558430701439943923.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-558430701439943923.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-558430701439943923.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-558430701439943923.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-558430701439943923.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-558430701439943923.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-558430701439943923.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-558430701439943923.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-558430701439943923.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-558430701439943923.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-558430701439943923.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-558430701439943923.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-558430701439943923.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-558430701439943923.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-558430701439943923.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-558430701439943923.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-558430701439943923.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-558430701439943923.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-558430701439943923.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-558430701439943923.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-558430701439943923.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-558430701439943923.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-558430701439943923.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-558430701439943923.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-558430701439943923.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-558430701439943923.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-558430701439943923.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-558430701439943923.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-558430701439943923.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-558430701439943923.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-558430701439943923.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-558430701439943923.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-558430701439943923.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-558430701439943923.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-558430701439943923.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-558430701439943923.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-558430701439943923.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-558430701439943923.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-558430701439943923.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-558430701439943923 .gp-relative{position:relative}.gps-558430701439943923 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-558430701439943923 .gp-mb-0{margin-bottom:0}.gps-558430701439943923 .gp-flex{display:flex}.gps-558430701439943923 .gp-inline-flex{display:inline-flex}.gps-558430701439943923 .gp-grid{display:grid}.gps-558430701439943923 .\!gp-hidden{display:none!important}.gps-558430701439943923 .gp-hidden{display:none}.gps-558430701439943923 .gp-max-w-full{max-width:100%}.gps-558430701439943923 .gp-flex-col{flex-direction:column}.gps-558430701439943923 .gp-items-center{align-items:center}.gps-558430701439943923 .gp-justify-center{justify-content:center}.gps-558430701439943923 .gp-gap-y-0{row-gap:0}.gps-558430701439943923 .gp-overflow-hidden{overflow:hidden}.gps-558430701439943923 .gp-leading-\[0\]{line-height:0}.gps-558430701439943923 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-558430701439943923 .gp-duration-200{transition-duration:.2s}.gps-558430701439943923 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-558430701439943923 .tablet\:\!gp-hidden{display:none!important}.gps-558430701439943923 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-558430701439943923 .mobile\:\!gp-hidden{display:none!important}.gps-558430701439943923 .mobile\:gp-hidden{display:none}}.gps-558430701439943923 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-558430701439943923 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-558430701439943923 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-558430701439943923 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-558430701439943923 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-558430701439943923 .\[\&_p\]\:gp-inline p{display:inline}.gps-558430701439943923 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-558430701439943923 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gRGR_WIzAW" data-id="gRGR_WIzAW"
        style="--blockPadding:base;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pt:90px;--pl:20px;--pb:90px;--pr:20px;--pt-mobile:70px;--pl-mobile:20px;--pb-mobile:85px;--pr-mobile:20px;--pt-tablet:163px;--pl-tablet:20px;--pb-tablet:152px;--pr-tablet:20px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#ECEBE5;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gRGR_WIzAW gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g40W-9pGpd gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gh3DGDExuk" data-id="gh3DGDExuk"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pl:0px;--pb:0px;--pr:0px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:1170px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gh3DGDExuk gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="galY1Tkflc gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gBLNL5Yco8">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gBLNL5Yco8 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:75px;--ml-mobile:0px;--mb-mobile:40px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ff:var(--g-font-heading, heading);--weight:500;--ls:0px;--size:48px;--size-tablet:48px;--size-mobile:31px;--lh:60px;--lh-tablet:Auto;--lh-mobile:38.71px;--c:#12235D;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggBLNL5Yco8_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gN4yPgpONG" data-id="gN4yPgpONG"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:0px;--ml-mobile:auto;--mb-mobile:0px;--pl-mobile:0px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gN4yPgpONG gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gTb1m0EkfX gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="g9oQ3w5P77" data-id="g9oQ3w5P77"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--mb-mobile:0px;--pb-mobile:0px;--cg:0px;--pc:start;--gtc:minmax(0, 5fr) minmax(0, 3fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g9oQ3w5P77 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="ge5cWYMgOI gp-relative gp-flex gp-flex-col"
    >
      
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gr2u876uLn gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gypoAjKCrM">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gypoAjKCrM "
        style="--ta:left;--ta-mobile:center;--bs:solid;--bw:2px 2px 0px 2px;--bc:#000000;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:0px;--bbrr:0px;--btlr:12px;--btrr:12px"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:600;--size:34px;--size-tablet:34px;--size-mobile:17px;--lh:42.83px;--lh-tablet:Auto;--lh-mobile:21.42px;--c:#000000;word-break:break-word;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pt:40px;--pb:20px;--pl-mobile:24px;--pr-mobile:16px;--pt-mobile:8px;--pb-mobile:0px;--bblr:0px;--bbrr:0px;--btlr:12px;--btrr:12px;overflow:hidden"
        >{{ section.settings.ggypoAjKCrM_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gypoAjKCrM">
        .gypoAjKCrM {

}
.gypoAjKCrM p {

}
      </style>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gaVTzJMnuc gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gjaqbw4W6K">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gjaqbw4W6K "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mt:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:600;--size:30px;--size-tablet:31px;--size-mobile:15px;--lh:38.05px;--lh-tablet:Auto;--lh-mobile:19.03px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pt:40px;--pb:24px;--pt-tablet:40px;--pb-tablet:22px;--pl-mobile:18px;--pr-mobile:21px;--pt-mobile:10px;--pb-mobile:4px;overflow:hidden"
        >{{ section.settings.ggjaqbw4W6K_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gjaqbw4W6K">
        .gjaqbw4W6K {

}
.gjaqbw4W6K p {

}
      </style>
    
    </div>
    </div>
   
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="go3TQsn4q1" data-id="go3TQsn4q1"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pl:0px;--pr:0px;--mb-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="go3TQsn4q1 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gd9HOY9-oN gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="g8uN6pe1SX" data-id="g8uN6pe1SX"
        style="--bs:none;--bw:0px 0px 1px 0px;--bc:rgba(18, 35, 93, 0.31);--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--bblr:0px;--bbrr:0px;--btlr:22px;--btrr:22px;--mb:0px;--pl:0px;--pr:0px;--cg:0px;--pc:start;--gtc:minmax(0, 5fr) minmax(0, 3fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g8uN6pe1SX gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gkSS7KVxoK gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gJkSW5Rb8n">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gJkSW5Rb8n "
        style="--ta:left;--bs:solid;--bw:0px 0px 1.4px 0px;--bc:rgba(18, 35, 93, 0.31);--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--ml:42px;--pb:0px;--mt-mobile:0px;--ml-mobile:0px;--pb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:22px;--size-tablet:22px;--size-mobile:11px;--lh:27.5px;--lh-tablet:Auto;--lh-mobile:13.75px;--c:#12235D;word-break:break-word;--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pt:58px;--pb:24px;--pt-tablet:58px;--pb-tablet:24px;--pl-mobile:15px;--pt-mobile:29px;--pb-mobile:12px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;overflow:hidden"
        >{{ section.settings.ggJkSW5Rb8n_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gJkSW5Rb8n">
        .gJkSW5Rb8n {

}
.gJkSW5Rb8n p {

}
      </style>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gl_lC4BSZ7 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gAuIYJPqU3" data-id="gAuIYJPqU3"
        style="--bs:solid;--bw:0px 2px 0px 2px;--bc:#000000;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gAuIYJPqU3 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gGv32pUjsp gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="guNbfs-Gnz">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="guNbfs-Gnz "
        style="--ta:left;--bs:solid;--bw:0px 0px 1.4px 0px;--bc:rgba(18, 35, 93, 0.31);--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:700;--size:22px;--size-tablet:22px;--size-mobile:11px;--lh:27.5px;--lh-tablet:Auto;--lh-mobile:13.75px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pt:58px;--pb:24px;--pt-tablet:58px;--pb-tablet:24px;--pt-mobile:29px;--pb-mobile:12px;overflow:hidden"
        >{{ section.settings.gguNbfs-Gnz_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-guNbfs-Gnz">
        .guNbfs-Gnz {

}
.guNbfs-Gnz p {

}
      </style>
    
    </div>
    </div>
   
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="goyosNEHR3 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gE5VNlsWX5">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gE5VNlsWX5 "
        style="--ta:left;--bs:solid;--bw:0px 0px 1.4px 0px;--bc:rgba(18, 35, 93, 0.31);--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mt:0px;--mr:16px;--mt-mobile:0px;--mr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:22px;--size-tablet:22px;--size-mobile:11px;--lh:27.5px;--lh-tablet:Auto;--lh-mobile:13.75px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pt:58px;--pb:24px;--pt-tablet:58px;--pb-tablet:24px;--pt-mobile:29px;--pb-mobile:12px;overflow:hidden"
        >{{ section.settings.ggE5VNlsWX5_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gE5VNlsWX5">
        .gE5VNlsWX5 {

}
.gE5VNlsWX5 p {

}
      </style>
    
    </div>
    </div>
   
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gKDFg7_boE" data-id="gKDFg7_boE"
        style="--bs:none;--bw:0px 0px 1px 0px;--bc:rgba(18, 35, 93, 0.31);--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--mb:0px;--cg:0px;--pc:start;--gtc:minmax(0, 5fr) minmax(0, 3fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gKDFg7_boE gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gbyU0h7o7M gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gSpsSdypEb">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gSpsSdypEb "
        style="--ta:left;--bs:solid;--bw:0px 0px 1.4px 0px;--bc:rgba(18, 35, 93, 0.31);--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--ml:42px;--ml-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:22px;--size-tablet:22px;--size-mobile:11px;--lh:27.5px;--lh-tablet:Auto;--lh-mobile:13.75px;--c:#12235D;word-break:break-word;--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pt:37px;--pb:27px;--pt-tablet:37px;--pb-tablet:27px;--pl-mobile:15px;--pt-mobile:18px;--pb-mobile:13px;overflow:hidden"
        >{{ section.settings.ggSpsSdypEb_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gSpsSdypEb">
        .gSpsSdypEb {

}
.gSpsSdypEb p {

}
      </style>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g7sOdNmrjB gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gKlNQtURnD" data-id="gKlNQtURnD"
        style="--bs:solid;--bw:0px 2px 0px 2px;--bc:#000000;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gKlNQtURnD gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g1BVVTdWu2 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gh8IvfQwqN">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gh8IvfQwqN "
        style="--ta:left;--bs:solid;--bw:0px 0px 1.4px 0px;--bc:rgba(18, 35, 93, 0.31);--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:700;--size:22px;--size-tablet:22px;--size-mobile:11px;--lh:27.5px;--lh-tablet:Auto;--lh-mobile:13.75px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pt:37px;--pb:27px;--pt-tablet:37px;--pb-tablet:27px;--pt-mobile:18px;--pb-mobile:13px;overflow:hidden"
        >{{ section.settings.ggh8IvfQwqN_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gh8IvfQwqN">
        .gh8IvfQwqN {

}
.gh8IvfQwqN p {

}
      </style>
    
    </div>
    </div>
   
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="ghmE_02XUC gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gNlMV4sr3R">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gNlMV4sr3R "
        style="--ta:left;--bs:solid;--bw:0px 0px 1.4px 0px;--bc:rgba(18, 35, 93, 0.31);--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mt:0px;--mr:16px;--mt-mobile:0px;--mr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:22px;--size-tablet:22px;--size-mobile:11px;--lh:27.5px;--lh-tablet:Auto;--lh-mobile:13.75px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pt:37px;--pb:27px;--pt-tablet:37px;--pb-tablet:27px;--pt-mobile:18px;--pb-mobile:13px;overflow:hidden"
        >{{ section.settings.ggNlMV4sr3R_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gNlMV4sr3R">
        .gNlMV4sr3R {

}
.gNlMV4sr3R p {

}
      </style>
    
    </div>
    </div>
   
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="guZ1IKE3i3" data-id="guZ1IKE3i3"
        style="--bs:none;--bw:0px 0px 1px 0px;--bc:rgba(18, 35, 93, 0.31);--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--cg:0px;--pc:start;--gtc:minmax(0, 5fr) minmax(0, 3fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="guZ1IKE3i3 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g7Ej3hL84I gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gAQ41lUPSE">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gAQ41lUPSE "
        style="--ta:left;--bs:solid;--bw:0px 0px 1.4px 0px;--bc:rgba(18, 35, 93, 0.31);--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--ml:42px;--ml-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:22px;--size-tablet:22px;--size-mobile:11px;--lh:27px;--lh-tablet:Auto;--lh-mobile:13.75px;--c:#12235D;word-break:break-word;--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pt:37px;--pb:27px;--pt-tablet:37px;--pb-tablet:27px;--pl-mobile:15px;--pt-mobile:18px;--pb-mobile:14px;overflow:hidden"
        >{{ section.settings.ggAQ41lUPSE_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gAQ41lUPSE">
        .gAQ41lUPSE {

}
.gAQ41lUPSE p {

}
      </style>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gyVNHeWTtq gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="glDe7AGOXj" data-id="glDe7AGOXj"
        style="--bs:solid;--bw:0px 2px 0px 2px;--bc:#000000;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="glDe7AGOXj gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gzhnn40X6i gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gRU3jW_K4u">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gRU3jW_K4u "
        style="--ta:left;--bs:solid;--bw:0px 0px 1.4px 0px;--bc:rgba(18, 35, 93, 0.31);--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:700;--size:22px;--size-tablet:22px;--size-mobile:11px;--lh:27.5px;--lh-tablet:Auto;--lh-mobile:13.75px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pt:37px;--pb:27px;--pt-tablet:37px;--pb-tablet:27px;--pl-mobile:0px;--pt-mobile:18px;--pb-mobile:14px;overflow:hidden"
        >{{ section.settings.ggRU3jW_K4u_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gRU3jW_K4u">
        .gRU3jW_K4u {

}
.gRU3jW_K4u p {

}
      </style>
    
    </div>
    </div>
   
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g3UviIVQd4 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gYj5TG5Vpl">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gYj5TG5Vpl "
        style="--ta:left;--bs:solid;--bw:0px 0px 1.4px 0px;--bc:rgba(18, 35, 93, 0.31);--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mt:0px;--mr:16px;--mt-mobile:0px;--mr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:22px;--size-tablet:22px;--size-mobile:11px;--lh:27.5px;--lh-tablet:Auto;--lh-mobile:13.75px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pt:37px;--pb:27px;--pt-tablet:37px;--pb-tablet:27px;--pl-mobile:0px;--pt-mobile:18px;--pb-mobile:14px;overflow:hidden"
        >{{ section.settings.ggYj5TG5Vpl_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gYj5TG5Vpl">
        .gYj5TG5Vpl {

}
.gYj5TG5Vpl p {

}
      </style>
    
    </div>
    </div>
   
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="guAF4YScgz" data-id="guAF4YScgz"
        style="--bs:none;--bw:0px 0px 1px 0px;--bc:rgba(18, 35, 93, 0.31);--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--cg:0px;--pc:start;--gtc:minmax(0, 5fr) minmax(0, 3fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="guAF4YScgz gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g5gVj1Y_2V gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gr5n9tVLIu">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gr5n9tVLIu "
        style="--ta:left;--bs:solid;--bw:0px 0px 1.4px 0px;--bc:rgba(18, 35, 93, 0.31);--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--ml:42px;--ml-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:22px;--size-tablet:22px;--size-mobile:11px;--lh:27.5px;--lh-tablet:Auto;--lh-mobile:13.75px;--c:#12235D;word-break:break-word;--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pt:37px;--pb:27px;--pt-tablet:37px;--pb-tablet:27px;--pl-mobile:15px;--pt-mobile:18px;--pb-mobile:14px;overflow:hidden"
        >{{ section.settings.ggr5n9tVLIu_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gr5n9tVLIu">
        .gr5n9tVLIu {

}
.gr5n9tVLIu p {

}
      </style>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gKhXouaQTP gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gL6FgFYn-g" data-id="gL6FgFYn-g"
        style="--bs:solid;--bw:0px 2px 0px 2px;--bc:#000000;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gL6FgFYn-g gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gK0YH61Gqd gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="guBy2po53l">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="guBy2po53l "
        style="--ta:left;--bs:solid;--bw:0px 0px 1.4px 0px;--bc:rgba(18, 35, 93, 0.31);--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:700;--size:22px;--size-tablet:22px;--size-mobile:11px;--lh:27.5px;--lh-tablet:Auto;--lh-mobile:13.75px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pt:37px;--pb:27px;--pt-tablet:37px;--pb-tablet:27px;--pl-mobile:0px;--pt-mobile:18px;--pb-mobile:14px;overflow:hidden"
        >{{ section.settings.gguBy2po53l_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-guBy2po53l">
        .guBy2po53l {

}
.guBy2po53l p {

}
      </style>
    
    </div>
    </div>
   
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g05bRfSkBy gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gDW8x81zrK">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gDW8x81zrK "
        style="--ta:left;--bs:solid;--bw:0px 0px 1.4px 0px;--bc:rgba(18, 35, 93, 0.31);--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mt:0px;--mr:16px;--mt-mobile:0px;--mr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:22px;--size-tablet:22px;--size-mobile:11px;--lh:27.5px;--lh-tablet:Auto;--lh-mobile:13.75px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pt:37px;--pb:27px;--pt-tablet:37px;--pb-tablet:27px;--pl-mobile:0px;--pt-mobile:18px;--pb-mobile:14px;overflow:hidden"
        >{{ section.settings.ggDW8x81zrK_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gDW8x81zrK">
        .gDW8x81zrK {

}
.gDW8x81zrK p {

}
      </style>
    
    </div>
    </div>
   
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="grfmZUqczD" data-id="grfmZUqczD"
        style="--bs:none;--bw:0px 0px 1px 0px;--bc:rgba(18, 35, 93, 0.31);--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:0px;--pc:start;--gtc:minmax(0, 5fr) minmax(0, 3fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="grfmZUqczD gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gak_IX0rFU gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gj-Sqh-iMo">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gj-Sqh-iMo "
        style="--ta:left;--bs:solid;--bw:0px 0px 1.4px 0px;--bc:rgba(18, 35, 93, 0.31);--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--ml:42px;--ml-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:22px;--size-tablet:22px;--size-mobile:11px;--lh:28px;--lh-tablet:28px;--lh-mobile:13.75px;--c:#12235D;word-break:break-word;--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pt:27px;--pb:37px;--pt-tablet:27px;--pb-tablet:37px;--pl-mobile:15px;--pt-mobile:13px;--pb-mobile:18px;overflow:hidden"
        >{{ section.settings.ggj-Sqh-iMo_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gj-Sqh-iMo">
        .gj-Sqh-iMo {

}
.gj-Sqh-iMo p {

}
      </style>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gZ_CAUJA1G gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gOLKShD_Px" data-id="gOLKShD_Px"
        style="--bs:solid;--bw:0px 2px 0px 2px;--bc:#000000;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gOLKShD_Px gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gRBXri57Cb gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:solid;--bw:0px 0px 1.4px 0px;--bc:rgba(18, 35, 93, 0.31);--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-tablet:100%;--ta:center"
      class="gp-leading-[0] gq_EZKT-HA"
    >
      <div 
      data-id="gq_EZKT-HA"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pt:12px;--pb:13px;--pt-tablet:12px;--pb-tablet:13px;--pt-mobile:6px;--pb-mobile:6px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#92C63C;--t:rotate(0deg);--w:67px;--w-tablet:67px;--w-mobile:33px;--h:67px;--h-tablet:67px;--h-mobile:33px;--minw:67px;--minw-tablet:67px;--minw-mobile:33px;--height-desktop:67px;--height-tablet:67px;--height-mobile:33px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817616303882600">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M172.24,99.76a6,6,0,0,1,0,8.48l-56,56a6,6,0,0,1-8.48,0l-24-24a6,6,0,0,1,8.48-8.48L112,151.51l51.76-51.75A6,6,0,0,1,172.24,99.76ZM230,128A102,102,0,1,1,128,26,102.12,102.12,0,0,1,230,128Zm-12,0a90,90,0,1,0-90,90A90.1,90.1,0,0,0,218,128Z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
    </div>
   
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gxaXim8RZx gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:solid;--bw:0px 0px 1.4px 0px;--bc:rgba(18, 35, 93, 0.31);--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mr:16px;--mr-mobile:0px;--ta:center"
      class="gp-leading-[0] g9nCytVyGp"
    >
      <div 
      data-id="g9nCytVyGp"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pt:12px;--pb:13px;--pt-tablet:12px;--pb-tablet:13px;--pt-mobile:6px;--pb-mobile:6px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#EA4949;--t:rotate(0deg);--w:67px;--w-tablet:67px;--w-mobile:33px;--h:67px;--h-tablet:67px;--h-mobile:33px;--minw:67px;--minw-tablet:67px;--minw-mobile:33px;--height-desktop:67px;--height-tablet:67px;--height-mobile:33px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817659317584232">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M164.24,100.24,136.48,128l27.76,27.76a6,6,0,1,1-8.48,8.48L128,136.48l-27.76,27.76a6,6,0,0,1-8.48-8.48L119.52,128,91.76,100.24a6,6,0,0,1,8.48-8.48L128,119.52l27.76-27.76a6,6,0,0,1,8.48,8.48ZM230,128A102,102,0,1,1,128,26,102.12,102.12,0,0,1,230,128Zm-12,0a90,90,0,1,0-90,90A90.1,90.1,0,0,0,218,128Z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="g0TwJRzWGw" data-id="g0TwJRzWGw"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pl:0px;--cg:0px;--pc:start;--gtc:minmax(0, 5fr) minmax(0, 3fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g0TwJRzWGw gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g3rC1hbY98 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gTF8HbKJ2u">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gTF8HbKJ2u "
        style="--ta:left;--bs:none;--bw:0px 0px 1.4px 0px;--bc:rgba(18, 35, 93, 0.31);--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-tablet:100%;--bblr:22px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:0px;--pl:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:22px;--size-tablet:22px;--size-mobile:11px;--lh:27.5px;--lh-tablet:Auto;--lh-mobile:13.75px;--c:#12235D;word-break:break-word;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:42px;--pt:38px;--pb:67px;--pt-tablet:38px;--pb-tablet:67px;--pl-mobile:15px;--pt-mobile:19px;--pb-mobile:33px;--bblr:22px;--bbrr:0px;--btlr:0px;--btrr:0px;overflow:hidden"
        >{{ section.settings.ggTF8HbKJ2u_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gTF8HbKJ2u">
        .gTF8HbKJ2u {

}
.gTF8HbKJ2u p {

}
      </style>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="ghTS5zwzFU gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gZVuUHxq2G" data-id="gZVuUHxq2G"
        style="--bs:solid;--bw:0px 2px 2px 2px;--bc:#000000;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:12px;--bbrr:12px;--btlr:0px;--btrr:0px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gZVuUHxq2G gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gZ1ewcyTIf gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:none;--bw:0px 2px 2px 2px;--bc:#000000;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center"
      class="gp-leading-[0] gcZ6OaWxI0"
    >
      <div 
      data-id="gcZ6OaWxI0"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pt:18px;--pb:103px;--pt-tablet:18px;--pb-tablet:103px;--pt-mobile:9px;--pb-mobile:52px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#92C63C;--t:rotate(0deg);--w:67px;--w-tablet:67px;--w-mobile:33px;--h:67px;--h-tablet:67px;--h-mobile:33px;--minw:67px;--minw-tablet:67px;--minw-mobile:33px;--height-desktop:67px;--height-tablet:67px;--height-mobile:33px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817616303882600">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M172.24,99.76a6,6,0,0,1,0,8.48l-56,56a6,6,0,0,1-8.48,0l-24-24a6,6,0,0,1,8.48-8.48L112,151.51l51.76-51.75A6,6,0,0,1,172.24,99.76ZM230,128A102,102,0,1,1,128,26,102.12,102.12,0,0,1,230,128Zm-12,0a90,90,0,1,0-90,90A90.1,90.1,0,0,0,218,128Z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
    </div>
   
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gBSWkdHw0D gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gJanfF6s-r" data-id="gJanfF6s-r"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:22px;--btlr:0px;--btrr:0px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gJanfF6s-r gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gM2Bp_ZkYB gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:none;--bw:0px 0px 1.4px 0px;--bc:rgba(18, 35, 93, 0.31);--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center"
      class="gp-leading-[0] gHxZJUuH6p"
    >
      <div 
      data-id="gHxZJUuH6p"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pr:16px;--pt:18px;--pb:47px;--pt-tablet:18px;--pb-tablet:47px;--pr-mobile:0px;--pt-mobile:9px;--pb-mobile:24px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#EA4949;--t:rotate(0deg);--w:67px;--w-tablet:67px;--w-mobile:33px;--h:67px;--h-tablet:67px;--h-mobile:33px;--minw:67px;--minw-tablet:67px;--minw-mobile:33px;--height-desktop:67px;--height-tablet:67px;--height-mobile:33px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817659317584232">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M164.24,100.24,136.48,128l27.76,27.76a6,6,0,1,1-8.48,8.48L128,136.48l-27.76,27.76a6,6,0,0,1-8.48-8.48L119.52,128,91.76,100.24a6,6,0,0,1,8.48-8.48L128,119.52l27.76-27.76a6,6,0,0,1,8.48,8.48ZM230,128A102,102,0,1,1,128,26,102.12,102.12,0,0,1,230,128Zm-12,0a90,90,0,1,0-90,90A90.1,90.1,0,0,0,218,128Z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 7",
    "tag": "section",
    "class": "gps-558430701439943923 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/tienphamvan/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=558430690585084830&sectionId=558430701439943923)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggBLNL5Yco8_text","label":"ggBLNL5Yco8_text","default":"We dont stress about the competition"},{"type":"html","id":"ggypoAjKCrM_text","label":"ggypoAjKCrM_text","default":"<p>Gem Blend</p>"},{"type":"html","id":"ggjaqbw4W6K_text","label":"ggjaqbw4W6K_text","default":"<p>Other Blenders</p>"},{"type":"html","id":"ggJkSW5Rb8n_text","label":"ggJkSW5Rb8n_text","default":"<p>Motor Power</p>"},{"type":"html","id":"gguNbfs-Gnz_text","label":"gguNbfs-Gnz_text","default":"<p>1200W</p>"},{"type":"html","id":"ggE5VNlsWX5_text","label":"ggE5VNlsWX5_text","default":"<p>1000W</p>"},{"type":"html","id":"ggSpsSdypEb_text","label":"ggSpsSdypEb_text","default":"<p>Blade Design</p>"},{"type":"html","id":"ggh8IvfQwqN_text","label":"ggh8IvfQwqN_text","default":"<p>Stainless Steel</p>"},{"type":"html","id":"ggNlMV4sr3R_text","label":"ggNlMV4sr3R_text","default":"<p>Titanium Coated</p>"},{"type":"html","id":"ggAQ41lUPSE_text","label":"ggAQ41lUPSE_text","default":"<p>Speed Settings</p>"},{"type":"html","id":"ggRU3jW_K4u_text","label":"ggRU3jW_K4u_text","default":"<p>12</p>"},{"type":"html","id":"ggYj5TG5Vpl_text","label":"ggYj5TG5Vpl_text","default":"<p>8</p>"},{"type":"html","id":"ggr5n9tVLIu_text","label":"ggr5n9tVLIu_text","default":"<p>Noise Level</p>"},{"type":"html","id":"gguBy2po53l_text","label":"gguBy2po53l_text","default":"<p>65 dB</p>"},{"type":"html","id":"ggDW8x81zrK_text","label":"ggDW8x81zrK_text","default":"<p>75 dB</p>"},{"type":"html","id":"ggj-Sqh-iMo_text","label":"ggj-Sqh-iMo_text","default":"<p>Safety Features</p>"},{"type":"html","id":"ggTF8HbKJ2u_text","label":"ggTF8HbKJ2u_text","default":"<p>Cleaning Ease</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
