

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-557089448148337700.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-557089448148337700.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-557089448148337700.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-557089448148337700.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-557089448148337700.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-557089448148337700.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-557089448148337700.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-557089448148337700.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-557089448148337700.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-557089448148337700.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-557089448148337700.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-557089448148337700.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-557089448148337700.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-557089448148337700.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-557089448148337700.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-557089448148337700.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-557089448148337700.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-557089448148337700.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-557089448148337700.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-557089448148337700.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-557089448148337700.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-557089448148337700.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-557089448148337700.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-557089448148337700.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-557089448148337700.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-557089448148337700.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-557089448148337700.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-557089448148337700.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-557089448148337700.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-557089448148337700.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-557089448148337700.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-557089448148337700.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-557089448148337700.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-557089448148337700.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-557089448148337700.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-557089448148337700.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-557089448148337700.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-557089448148337700.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-557089448148337700.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-557089448148337700.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-557089448148337700.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-557089448148337700.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-557089448148337700.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-557089448148337700.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-557089448148337700.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-557089448148337700.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-557089448148337700.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-557089448148337700.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-557089448148337700.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-557089448148337700.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-557089448148337700.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-557089448148337700.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-557089448148337700.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-557089448148337700.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-557089448148337700.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-557089448148337700.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-557089448148337700.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-557089448148337700.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-557089448148337700.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-557089448148337700.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-557089448148337700.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-557089448148337700.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-557089448148337700.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-557089448148337700.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-557089448148337700.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-557089448148337700.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-557089448148337700.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-557089448148337700.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-557089448148337700.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-557089448148337700.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-557089448148337700.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-557089448148337700.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-557089448148337700 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-557089448148337700 .gp-relative{position:relative}.gps-557089448148337700 .gp-z-1{z-index:1}.gps-557089448148337700 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-557089448148337700 .gp-mb-0{margin-bottom:0}.gps-557089448148337700 .gp-flex{display:flex}.gps-557089448148337700 .gp-inline-flex{display:inline-flex}.gps-557089448148337700 .gp-grid{display:grid}.gps-557089448148337700 .gp-contents{display:contents}.gps-557089448148337700 .\!gp-hidden{display:none!important}.gps-557089448148337700 .gp-hidden{display:none}.gps-557089448148337700 .gp-h-full{height:100%}.gps-557089448148337700 .gp-w-full{width:100%}.gps-557089448148337700 .gp-max-w-full{max-width:100%}.gps-557089448148337700 .gp-shrink-0{flex-shrink:0}.gps-557089448148337700 .gp-flex-col{flex-direction:column}.gps-557089448148337700 .gp-items-center{align-items:center}.gps-557089448148337700 .gp-justify-center{justify-content:center}.gps-557089448148337700 .gp-gap-y-0{row-gap:0}.gps-557089448148337700 .gp-overflow-hidden{overflow:hidden}.gps-557089448148337700 .gp-break-words{overflow-wrap:break-word}.gps-557089448148337700 .gp-rounded-none{border-radius:0}.gps-557089448148337700 .gp-text-center{text-align:center}.gps-557089448148337700 .gp-no-underline{text-decoration-line:none}.gps-557089448148337700 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-557089448148337700 .gp-duration-200{transition-duration:.2s}.gps-557089448148337700 .gp-duration-300{transition-duration:.3s}.gps-557089448148337700 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-557089448148337700 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-557089448148337700 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-557089448148337700 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-557089448148337700 .gp-group\/button:hover .group-hover\/button\:\!gp-text-inherit{color:inherit!important}}.gps-557089448148337700 .gp-group\/button[data-state=loading] .group-data-\[state\=loading\]\/button\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-557089448148337700 .tablet\:\!gp-hidden{display:none!important}.gps-557089448148337700 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-557089448148337700 .mobile\:\!gp-hidden{display:none!important}.gps-557089448148337700 .mobile\:gp-hidden{display:none}}.gps-557089448148337700 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-557089448148337700 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-557089448148337700 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-557089448148337700 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-557089448148337700 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-557089448148337700 .\[\&_p\]\:gp-inline p{display:inline}.gps-557089448148337700 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-557089448148337700 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-557089448148337700 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gFE4URG4C-" data-id="gFE4URG4C-"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-3xl);--pl:15px;--pb:var(--g-s-3xl);--pr:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gFE4URG4C- gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gEKISIZXCA gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gkEujiXCuJ" data-id="gkEujiXCuJ"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-xl);--pb:var(--g-s-xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gkEujiXCuJ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g1QitWcf1O gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gNw7P9HosY" data-id="gNw7P9HosY"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-2xl);--cg:32px;--pc:center;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gNw7P9HosY gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gatjUVCFhs gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:var(--g-s-l);--ta:center"
    
  >
    <style>
    .gLx_6IUO_d.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: transparent;
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gLx_6IUO_d:hover::before {
      
      
    }

    .gLx_6IUO_d:hover .gp-button-icon {
      color: undefined;
    }

     .gLx_6IUO_d .gp-button-icon {
      color: #242424;
    }

    .gLx_6IUO_d:hover .gp-button-price {
      color: undefined;
    }

    .gLx_6IUO_d .gp-button-price {
      color: #242424;
    }

    .gLx_6IUO_d .gp-product-dot-price {
       color: #242424;
    }

    .gLx_6IUO_d:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="#" target="_self" data-id="gLx_6IUO_d" aria-label="Subscriptions"
      
      data-state="idle"
      class="gLx_6IUO_d gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:rgba(66, 66, 66, 0);--bg:rgba(66, 66, 66, 0);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:0px;--pb-tablet:0px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--c:#242424;--size:21px;--size-tablet:21px;--size-mobile:19px;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="group-hover/button:!gp-text-inherit gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:21px;--size-tablet:21px;--size-mobile:19px;--c:#242424"
      >
        {{ section.settings.ggLx_6IUO_d_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gI9ZXPSQye gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:var(--g-s-l);--ta:center"
    
  >
    <style>
    .g-RuTlD1zB.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: transparent;
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .g-RuTlD1zB:hover::before {
      
      
    }

    .g-RuTlD1zB:hover .gp-button-icon {
      color: undefined;
    }

     .g-RuTlD1zB .gp-button-icon {
      color: #242424;
    }

    .g-RuTlD1zB:hover .gp-button-price {
      color: undefined;
    }

    .g-RuTlD1zB .gp-button-price {
      color: #242424;
    }

    .g-RuTlD1zB .gp-product-dot-price {
       color: #242424;
    }

    .g-RuTlD1zB:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="#" target="_self" data-id="g-RuTlD1zB" aria-label="About Us"
      
      data-state="idle"
      class="g-RuTlD1zB gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:rgba(66, 66, 66, 0);--bg:rgba(66, 66, 66, 0);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:0px;--pb-tablet:0px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--c:#242424;--size:21px;--size-tablet:21px;--size-mobile:19px;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="group-hover/button:!gp-text-inherit gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:21px;--size-tablet:21px;--size-mobile:19px;--c:#242424"
      >
        {{ section.settings.gg-RuTlD1zB_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gJ-zFa6Gzy gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    
  >
    <style>
    .gfL5yJ7HBX.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: transparent;
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gfL5yJ7HBX:hover::before {
      
      
    }

    .gfL5yJ7HBX:hover .gp-button-icon {
      color: undefined;
    }

     .gfL5yJ7HBX .gp-button-icon {
      color: #242424;
    }

    .gfL5yJ7HBX:hover .gp-button-price {
      color: undefined;
    }

    .gfL5yJ7HBX .gp-button-price {
      color: #242424;
    }

    .gfL5yJ7HBX .gp-product-dot-price {
       color: #242424;
    }

    .gfL5yJ7HBX:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="#" target="_self" data-id="gfL5yJ7HBX" aria-label="Contact Us"
      
      data-state="idle"
      class="gfL5yJ7HBX gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:rgba(66, 66, 66, 0);--bg:rgba(66, 66, 66, 0);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:0px;--pb-tablet:0px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--c:#242424;--size:21px;--size-tablet:21px;--size-mobile:19px;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="group-hover/button:!gp-text-inherit gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:21px;--size-tablet:21px;--size-mobile:19px;--c:#242424"
      >
        {{ section.settings.ggfL5yJ7HBX_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
    </div>
   
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="g0-Z9LW25z" data-id="g0-Z9LW25z"
        style="--bs:solid;--bw:1px 0px 0px 0px;--bc:#E0E0E0;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-2xl);--cg:0px;--pc:start;--gtc:minmax(0, 3fr) minmax(0, 6fr) minmax(0, 3fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g0-Z9LW25z gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gvW64DE7mO gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gzHYCwl1-L" data-id="gzHYCwl1-L"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb-mobile:var(--g-s-2xl);--mb-tablet:var(--g-s-2xl);--cg:16px;--cg-mobile:14px;--pc:start;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gzHYCwl1-L gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="glxRoKmrb_ gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
    
  >
    <style>
    .ga__vrgl8x.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: transparent;
  
      
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      
    }

    .ga__vrgl8x:hover::before {
      
      
    }

    .ga__vrgl8x:hover .gp-button-icon {
      color: undefined;
    }

     .ga__vrgl8x .gp-button-icon {
      color: #424242;
    }

    .ga__vrgl8x:hover .gp-button-price {
      color: undefined;
    }

    .ga__vrgl8x .gp-button-price {
      color: #424242;
    }

    .ga__vrgl8x .gp-product-dot-price {
       color: #424242;
    }

    .ga__vrgl8x:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="#" target="_self" data-id="ga__vrgl8x" aria-label
      
      data-state="idle"
      class="ga__vrgl8x gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center gp-g-paragraph-1"
      style="--hvr-bg:#F5F7F8;--bg:#F5F7F8;--bblr:40px;--bbrr:40px;--btlr:40px;--btrr:40px;--shadow:none;--pl:14px;--pr:14px;--pt:13px;--pb:13px;--pl-tablet:14px;--pr-tablet:14px;--pt-tablet:13px;--pb-tablet:13px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:13px;--pb-mobile:13px;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--c:#424242"
    >
      
    <div
    class="gp-inline-flex">
    <span
        class="gp-inline-flex gp-button-icon gp-transition-colors gp-duration-300 gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]/button:gp-invisible gp-z-1 [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
        style="--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      ><svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M9.66643 4.48226C10.7326 4.46437 11.7628 4.86752 12.5337 5.60426L14.6847 3.45326C13.3272 2.17809 11.5288 1.47792 9.66643 1.49951C8.27585 1.49893 6.91252 1.88512 5.72883 2.61491C4.54514 3.3447 3.58775 4.38933 2.96368 5.63201L5.46943 7.57451C5.75761 6.68482 6.31757 5.90793 7.07048 5.3532C7.82338 4.79848 8.73131 4.49387 9.66643 4.48226Z" fill="#424242"/> <path d="M2.96373 5.63281C2.43941 6.67793 2.16638 7.83105 2.16638 9.00031C2.16638 10.1696 2.43941 11.3227 2.96373 12.3678L5.46948 10.4253C5.15591 9.50119 5.15591 8.49944 5.46948 7.57531L2.96448 5.63281H2.96373Z" fill="#424242"/> <path d="M12.206 12.8008C11.6261 13.173 10.9689 13.4079 10.2845 13.4875C9.60007 13.5671 8.9065 13.4893 8.2567 13.2602C7.60689 13.031 7.01801 12.6564 6.53498 12.165C6.05194 11.6736 5.68751 11.0784 5.46948 10.4248L2.96448 12.3673C3.58843 13.6098 4.54558 14.6542 5.72898 15.384C6.91238 16.1138 8.2754 16.5001 9.66573 16.4998C11.4914 16.5493 13.267 15.8992 14.6292 14.6826L12.2052 12.8008H12.206Z" fill="#424242"/> <path d="M16.7299 7.63672H9.66644V10.5377H13.7029C13.6194 10.9966 13.4436 11.4338 13.1863 11.8228C12.929 12.2119 12.5955 12.5447 12.2059 12.8012L14.6299 14.6837C15.3681 13.9728 15.9486 13.1147 16.3339 12.1651C16.7192 11.2155 16.9006 10.1955 16.8664 9.17122C16.8664 8.65597 16.8214 8.14297 16.7299 7.63672Z" fill="#424242"/> </svg></span>
      <span
        data-gp-text
        class="group-hover/button:!gp-text-inherit gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--c:#424242"
      >
        
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gtJzDW_PKy gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
    
  >
    <style>
    .glUobQgv_-.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: transparent;
  
      
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      
    }

    .glUobQgv_-:hover::before {
      
      
    }

    .glUobQgv_-:hover .gp-button-icon {
      color: undefined;
    }

     .glUobQgv_- .gp-button-icon {
      color: #424242;
    }

    .glUobQgv_-:hover .gp-button-price {
      color: undefined;
    }

    .glUobQgv_- .gp-button-price {
      color: #424242;
    }

    .glUobQgv_- .gp-product-dot-price {
       color: #424242;
    }

    .glUobQgv_-:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="#" target="_self" data-id="glUobQgv_-" aria-label
      
      data-state="idle"
      class="glUobQgv_- gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center gp-g-paragraph-1"
      style="--hvr-bg:#F5F7F8;--bg:#F5F7F8;--bblr:40px;--bbrr:40px;--btlr:40px;--btrr:40px;--shadow:none;--pl:14px;--pr:14px;--pt:13px;--pb:13px;--pl-tablet:14px;--pr-tablet:14px;--pt-tablet:13px;--pb-tablet:13px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:13px;--pb-mobile:13px;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--c:#424242"
    >
      
    <div
    class="gp-inline-flex">
    <span
        class="gp-inline-flex gp-button-icon gp-transition-colors gp-duration-300 gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]/button:gp-invisible gp-z-1 [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
        style="--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      ><svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" clip-rule="evenodd" d="M1.625 5.625C1.625 3.13972 3.63972 1.125 6.125 1.125H12.875C15.3603 1.125 17.375 3.13972 17.375 5.625V12.375C17.375 14.8603 15.3603 16.875 12.875 16.875H6.125C3.63972 16.875 1.625 14.8603 1.625 12.375V5.625ZM9.5 6.1875C8.94374 6.1875 8.39997 6.35245 7.93746 6.66149C7.47495 6.97053 7.11446 7.40979 6.90159 7.9237C6.68872 8.43762 6.63302 9.00312 6.74154 9.54869C6.85006 10.0943 7.11793 10.5954 7.51126 10.9887C7.9046 11.3821 8.40574 11.6499 8.95131 11.7585C9.49688 11.867 10.0624 11.8113 10.5763 11.5984C11.0902 11.3855 11.5295 11.0251 11.8385 10.5625C12.1475 10.1 12.3125 9.55626 12.3125 9C12.3125 8.25428 12.0163 7.53908 11.4891 7.01166C10.9619 6.48425 10.2469 6.1878 9.50114 6.1875H9.5ZM13.25 4.0797C13.3887 3.98699 13.5519 3.9375 13.7188 3.9375C13.9425 3.93759 14.1573 4.02653 14.3155 4.18475C14.4737 4.34297 14.5625 4.55753 14.5625 4.78125C14.5625 4.94813 14.513 5.11126 14.4203 5.25001C14.3276 5.38877 14.1958 5.49691 14.0416 5.56077C13.8875 5.62463 13.7178 5.64134 13.5541 5.60879C13.3905 5.57623 13.2401 5.49587 13.1221 5.37787C13.0041 5.25987 12.9238 5.10953 12.8912 4.94586C12.8587 4.78219 12.8754 4.61254 12.9392 4.45836C13.0031 4.30419 13.1112 4.17241 13.25 4.0797Z" fill="#424242"/> </svg></span>
      <span
        data-gp-text
        class="group-hover/button:!gp-text-inherit gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--c:#424242"
      >
        
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gLQieWoimT gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
    
  >
    <style>
    .g8zTWSIIrQ.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: transparent;
  
      
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      
    }

    .g8zTWSIIrQ:hover::before {
      
      
    }

    .g8zTWSIIrQ:hover .gp-button-icon {
      color: undefined;
    }

     .g8zTWSIIrQ .gp-button-icon {
      color: #424242;
    }

    .g8zTWSIIrQ:hover .gp-button-price {
      color: undefined;
    }

    .g8zTWSIIrQ .gp-button-price {
      color: #424242;
    }

    .g8zTWSIIrQ .gp-product-dot-price {
       color: #424242;
    }

    .g8zTWSIIrQ:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="#" target="_self" data-id="g8zTWSIIrQ" aria-label
      
      data-state="idle"
      class="g8zTWSIIrQ gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center gp-g-paragraph-1"
      style="--hvr-bg:#F5F7F8;--bg:#F5F7F8;--bblr:40px;--bbrr:40px;--btlr:40px;--btrr:40px;--shadow:none;--pl:14px;--pr:14px;--pt:13px;--pb:13px;--pl-tablet:14px;--pr-tablet:14px;--pt-tablet:13px;--pb-tablet:13px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:13px;--pb-mobile:13px;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--c:#424242"
    >
      
    <div
    class="gp-inline-flex">
    <span
        class="gp-inline-flex gp-button-icon gp-transition-colors gp-duration-300 gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]/button:gp-invisible gp-z-1 [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
        style="--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      ><svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M10.5162 16.5001V9.65786H12.8127L13.1569 6.99161H10.5169V5.28911C10.5169 4.51661 10.7307 3.99086 11.8377 3.99086L13.2499 3.99011V1.60511C12.5666 1.53279 11.8798 1.49774 11.1927 1.50011C9.15645 1.50011 7.76295 2.74286 7.76295 5.02511V6.99161H5.46045V9.65786H7.76295V16.5001H10.5162Z" fill="#424242"/> </svg></span>
      <span
        data-gp-text
        class="group-hover/button:!gp-text-inherit gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--c:#424242"
      >
        
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gZbY-4yavL gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
    
  >
    <style>
    .gJLNKNmjFl.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: transparent;
  
      
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      
    }

    .gJLNKNmjFl:hover::before {
      
      
    }

    .gJLNKNmjFl:hover .gp-button-icon {
      color: undefined;
    }

     .gJLNKNmjFl .gp-button-icon {
      color: #424242;
    }

    .gJLNKNmjFl:hover .gp-button-price {
      color: undefined;
    }

    .gJLNKNmjFl .gp-button-price {
      color: #424242;
    }

    .gJLNKNmjFl .gp-product-dot-price {
       color: #424242;
    }

    .gJLNKNmjFl:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="#" target="_self" data-id="gJLNKNmjFl" aria-label
      
      data-state="idle"
      class="gJLNKNmjFl gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center gp-g-paragraph-1"
      style="--hvr-bg:#F5F7F8;--bg:#F5F7F8;--bblr:40px;--bbrr:40px;--btlr:40px;--btrr:40px;--shadow:none;--pl:14px;--pr:14px;--pt:13px;--pb:13px;--pl-tablet:14px;--pr-tablet:14px;--pt-tablet:13px;--pb-tablet:13px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:13px;--pb-mobile:13px;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--c:#424242"
    >
      
    <div
    class="gp-inline-flex">
    <span
        class="gp-inline-flex gp-button-icon gp-transition-colors gp-duration-300 gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]/button:gp-invisible gp-z-1 [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
        style="--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      ><svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M17.0001 4.34714C16.4384 4.59612 15.8425 4.75944 15.2323 4.83164C15.8752 4.44723 16.3564 3.84212 16.5861 3.12914C15.982 3.488 15.321 3.74066 14.6316 3.87614C14.2092 3.42646 13.6614 3.11406 13.0593 2.97945C12.4572 2.84484 11.8285 2.89423 11.2549 3.12121C10.6812 3.3482 10.1889 3.74231 9.84192 4.25244C9.49492 4.76257 9.30919 5.36518 9.30881 5.98214C9.30839 6.21812 9.33481 6.45338 9.38756 6.68339C8.16413 6.62197 6.96729 6.30398 5.87471 5.75007C4.78212 5.19616 3.81822 4.41869 3.04556 3.46814C2.65201 4.14566 2.53144 4.94769 2.70839 5.71097C2.88535 6.47426 3.34653 7.14142 3.99806 7.57664C3.50901 7.56165 3.03066 7.42972 2.60306 7.19189V7.23089C2.60318 7.94149 2.84911 8.63018 3.29912 9.18012C3.74914 9.73006 4.37554 10.1074 5.07206 10.2481C4.80782 10.32 4.53514 10.3561 4.26131 10.3554C4.0668 10.3555 3.87271 10.3374 3.68156 10.3014C3.8781 10.9128 4.26076 11.4474 4.77605 11.8307C5.29134 12.2139 5.9135 12.4266 6.55556 12.4389C5.26512 13.4489 3.62712 13.9065 2.00006 13.7116C3.4071 14.6161 5.04487 15.0963 6.71756 15.0946C7.86939 15.1024 9.01128 14.8813 10.0769 14.4441C11.1426 14.0068 12.1107 13.3622 12.9252 12.5477C13.7396 11.7332 14.3841 10.765 14.8213 9.69931C15.2584 8.63363 15.4794 7.49172 15.4716 6.33989C15.4716 6.20639 15.4683 6.07389 15.4618 5.94239C16.0652 5.50619 16.5861 4.96601 17.0001 4.34714Z" fill="#424242"/> </svg></span>
      <span
        data-gp-text
        class="group-hover/button:!gp-text-inherit gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--c:#424242"
      >
        
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
    </div>
   
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="ggzicGA6tR gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gfX_Px-k4-">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gfX_Px-k4- "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:var(--g-s-l);--mb-tablet:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424242;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggfX_Px-k4-_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gypYLEq9VO gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gQFLUqEDCA" data-id="gQFLUqEDCA"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:6px;--pc:end;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gQFLUqEDCA gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="grP6vI88Ld gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gei7w-ypm4"
    role="presentation"
    class="gp-group/image gei7w-ypm4"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_512024185816482804-4ab7a9be-7e2f-4f87-8624-a151cea8ea4d_768x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTciIGhlaWdodD0iNTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTk3LTU2Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI5NyIgaGVpZ2h0PSI1NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTciIGhlaWdodD0iNTYiIGZpbGw9InVybCgjZy05Ny01NikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTk3IiB0bz0iOTciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_512024185816482804-4ab7a9be-7e2f-4f87-8624-a151cea8ea4d_1024x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTciIGhlaWdodD0iNTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTk3LTU2Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI5NyIgaGVpZ2h0PSI1NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTciIGhlaWdodD0iNTYiIGZpbGw9InVybCgjZy05Ny01NikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTk3IiB0bz0iOTciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTciIGhlaWdodD0iNTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTk3LTU2Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI5NyIgaGVpZ2h0PSI1NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTciIGhlaWdodD0iNTYiIGZpbGw9InVybCgjZy05Ny01NikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTk3IiB0bz0iOTciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_512024185816482804-4ab7a9be-7e2f-4f87-8624-a151cea8ea4d.png" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:auto;--objf:cover;--w:48px;--w-tablet:48px;--w-mobile:45px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gHj1lObn99 gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gg_uVlXVTA"
    role="presentation"
    class="gp-group/image gg_uVlXVTA"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_512024185816482804-8ff2d01e-40a4-4eda-8119-a22e1748a6f4_768x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTciIGhlaWdodD0iNTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTk3LTU2Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI5NyIgaGVpZ2h0PSI1NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTciIGhlaWdodD0iNTYiIGZpbGw9InVybCgjZy05Ny01NikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTk3IiB0bz0iOTciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_512024185816482804-8ff2d01e-40a4-4eda-8119-a22e1748a6f4_1024x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTciIGhlaWdodD0iNTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTk3LTU2Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI5NyIgaGVpZ2h0PSI1NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTciIGhlaWdodD0iNTYiIGZpbGw9InVybCgjZy05Ny01NikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTk3IiB0bz0iOTciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTciIGhlaWdodD0iNTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTk3LTU2Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI5NyIgaGVpZ2h0PSI1NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTciIGhlaWdodD0iNTYiIGZpbGw9InVybCgjZy05Ny01NikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTk3IiB0bz0iOTciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_512024185816482804-8ff2d01e-40a4-4eda-8119-a22e1748a6f4.png" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:auto;--objf:cover;--w:48px;--w-tablet:48px;--w-mobile:45px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g_iJFcn1_w gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gxXsj1mvzH"
    role="presentation"
    class="gp-group/image gxXsj1mvzH"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_512024185816482804-011bdf69-a310-40f6-b451-0b589c0c9a20_768x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTgiIGhlaWdodD0iNTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTk4LTU2Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI5OCIgaGVpZ2h0PSI1NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTgiIGhlaWdodD0iNTYiIGZpbGw9InVybCgjZy05OC01NikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTk4IiB0bz0iOTgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_512024185816482804-011bdf69-a310-40f6-b451-0b589c0c9a20_1024x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTgiIGhlaWdodD0iNTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTk4LTU2Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI5OCIgaGVpZ2h0PSI1NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTgiIGhlaWdodD0iNTYiIGZpbGw9InVybCgjZy05OC01NikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTk4IiB0bz0iOTgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTgiIGhlaWdodD0iNTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTk4LTU2Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI5OCIgaGVpZ2h0PSI1NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTgiIGhlaWdodD0iNTYiIGZpbGw9InVybCgjZy05OC01NikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTk4IiB0bz0iOTgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_512024185816482804-011bdf69-a310-40f6-b451-0b589c0c9a20.png" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:auto;--objf:cover;--w:48px;--w-tablet:48px;--w-mobile:45px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gfJ7VtUPGu gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gBvwtDh9c3"
    role="presentation"
    class="gp-group/image gBvwtDh9c3"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_512024185816482804-43c18893-0169-458c-bb05-ffd8145fb9e9_768x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTciIGhlaWdodD0iNTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTk3LTU2Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI5NyIgaGVpZ2h0PSI1NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTciIGhlaWdodD0iNTYiIGZpbGw9InVybCgjZy05Ny01NikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTk3IiB0bz0iOTciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_512024185816482804-43c18893-0169-458c-bb05-ffd8145fb9e9_1024x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTciIGhlaWdodD0iNTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTk3LTU2Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI5NyIgaGVpZ2h0PSI1NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTciIGhlaWdodD0iNTYiIGZpbGw9InVybCgjZy05Ny01NikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTk3IiB0bz0iOTciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTciIGhlaWdodD0iNTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTk3LTU2Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI5NyIgaGVpZ2h0PSI1NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTciIGhlaWdodD0iNTYiIGZpbGw9InVybCgjZy05Ny01NikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTk3IiB0bz0iOTciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_512024185816482804-43c18893-0169-458c-bb05-ffd8145fb9e9.png" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:auto;--objf:cover;--w:48px;--w-tablet:48px;--w-mobile:45px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="glU3fPl8hJ gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="ghstOpAEkc"
    role="presentation"
    class="gp-group/image ghstOpAEkc"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_512024185816482804-63747ff0-4810-41c6-9dda-18167ab87f0c_768x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTciIGhlaWdodD0iNTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTk3LTU2Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI5NyIgaGVpZ2h0PSI1NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTciIGhlaWdodD0iNTYiIGZpbGw9InVybCgjZy05Ny01NikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTk3IiB0bz0iOTciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_512024185816482804-63747ff0-4810-41c6-9dda-18167ab87f0c_1024x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTciIGhlaWdodD0iNTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTk3LTU2Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI5NyIgaGVpZ2h0PSI1NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTciIGhlaWdodD0iNTYiIGZpbGw9InVybCgjZy05Ny01NikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTk3IiB0bz0iOTciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTciIGhlaWdodD0iNTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTk3LTU2Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI5NyIgaGVpZ2h0PSI1NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTciIGhlaWdodD0iNTYiIGZpbGw9InVybCgjZy05Ny01NikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTk3IiB0bz0iOTciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_512024185816482804-63747ff0-4810-41c6-9dda-18167ab87f0c.png" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:auto;--objf:cover;--w:48px;--w-tablet:48px;--w-mobile:45px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 12",
    "tag": "section",
    "class": "gps-557089448148337700 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/tienphamvan/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=557089424106586914&sectionId=557089448148337700)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggLx_6IUO_d_label","label":"ggLx_6IUO_d_label","default":"Subscriptions"},{"type":"html","id":"gg-RuTlD1zB_label","label":"gg-RuTlD1zB_label","default":"About Us"},{"type":"html","id":"ggfL5yJ7HBX_label","label":"ggfL5yJ7HBX_label","default":"Contact Us"},{"type":"html","id":"ggfX_Px-k4-_text","label":"ggfX_Px-k4-_text","default":"<p>Copyright  2021 GemSocks. All Rights Reserved.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
