

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-557089448232223522.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-557089448232223522.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-557089448232223522.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-557089448232223522.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-557089448232223522.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-557089448232223522.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-557089448232223522.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-557089448232223522.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-557089448232223522.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-557089448232223522.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-557089448232223522.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-557089448232223522.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-557089448232223522.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-557089448232223522.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-557089448232223522.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-557089448232223522.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-557089448232223522.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-557089448232223522.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-557089448232223522.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-557089448232223522.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-557089448232223522.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-557089448232223522.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-557089448232223522.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-557089448232223522.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-557089448232223522.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-557089448232223522.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-557089448232223522.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-557089448232223522.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-557089448232223522.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-557089448232223522.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-557089448232223522.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-557089448232223522.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-557089448232223522.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-557089448232223522.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-557089448232223522.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-557089448232223522.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-557089448232223522.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-557089448232223522.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-557089448232223522.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-557089448232223522.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-557089448232223522.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-557089448232223522.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-557089448232223522.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-557089448232223522.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-557089448232223522.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-557089448232223522.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-557089448232223522.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-557089448232223522.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-557089448232223522.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-557089448232223522.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-557089448232223522.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-557089448232223522.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-557089448232223522.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-557089448232223522.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-557089448232223522.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-557089448232223522.gps.gpsil [style*="--jc-tablet:"]{justify-content:var(--jc-tablet)}.gps-557089448232223522.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-557089448232223522.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-557089448232223522.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-557089448232223522.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-557089448232223522.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-557089448232223522.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-557089448232223522.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-557089448232223522.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-557089448232223522.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-557089448232223522.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-557089448232223522.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-557089448232223522.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-557089448232223522.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-557089448232223522.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-557089448232223522.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-557089448232223522.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-557089448232223522.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-557089448232223522.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-557089448232223522.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-557089448232223522.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-557089448232223522 .gp-relative{position:relative}.gps-557089448232223522 .gp-z-1{z-index:1}.gps-557089448232223522 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-557089448232223522 .gp-mb-0{margin-bottom:0}.gps-557089448232223522 .gp-flex{display:flex}.gps-557089448232223522 .gp-inline-flex{display:inline-flex}.gps-557089448232223522 .gp-grid{display:grid}.gps-557089448232223522 .gp-contents{display:contents}.gps-557089448232223522 .\!gp-hidden{display:none!important}.gps-557089448232223522 .gp-hidden{display:none}.gps-557089448232223522 .gp-h-full{height:100%}.gps-557089448232223522 .gp-w-full{width:100%}.gps-557089448232223522 .gp-max-w-full{max-width:100%}.gps-557089448232223522 .gp-flex-col{flex-direction:column}.gps-557089448232223522 .gp-flex-wrap{flex-wrap:wrap}.gps-557089448232223522 .gp-items-center{align-items:center}.gps-557089448232223522 .gp-justify-center{justify-content:center}.gps-557089448232223522 .gp-gap-y-0{row-gap:0}.gps-557089448232223522 .gp-overflow-hidden{overflow:hidden}.gps-557089448232223522 .gp-break-words{overflow-wrap:break-word}.gps-557089448232223522 .gp-rounded-none{border-radius:0}.gps-557089448232223522 .gp-text-center{text-align:center}.gps-557089448232223522 .gp-leading-\[0\]{line-height:0}.gps-557089448232223522 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-557089448232223522 .gp-no-underline{text-decoration-line:none}.gps-557089448232223522 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-557089448232223522 .gp-duration-200{transition-duration:.2s}.gps-557089448232223522 .gp-duration-300{transition-duration:.3s}.gps-557089448232223522 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-557089448232223522 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-557089448232223522 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-557089448232223522 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-557089448232223522 .gp-group\/button:hover .group-hover\/button\:\!gp-text-inherit{color:inherit!important}}.gps-557089448232223522 .gp-group\/button[data-state=loading] .group-data-\[state\=loading\]\/button\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-557089448232223522 .tablet\:\!gp-hidden{display:none!important}.gps-557089448232223522 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-557089448232223522 .mobile\:\!gp-hidden{display:none!important}.gps-557089448232223522 .mobile\:gp-hidden{display:none}}.gps-557089448232223522 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-557089448232223522 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-557089448232223522 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-557089448232223522 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-557089448232223522 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-557089448232223522 .\[\&_p\]\:gp-inline p{display:inline}.gps-557089448232223522 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-557089448232223522 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-557089448232223522 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gCXt-OComa" data-id="gCXt-OComa"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pl:15px;--pr:15px;--pt-mobile:var(--g-s-3xl);--pl-mobile:15px;--pb-mobile:var(--g-s-3xl);--pr-mobile:15px;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gCXt-OComa gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center;--jc-tablet:start"
      class="gpJRXKcb1I gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gJqDJydbDY" data-id="gJqDJydbDY"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--cg:30px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gJqDJydbDY gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g0r9qsoA9p gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gfI-YpQTr6" data-id="gfI-YpQTr6"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-xl);--pb:var(--g-s-xl);--pt-mobile:var(--g-s-xl);--pb-mobile:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gfI-YpQTr6 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g6FNqnOk8e gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gbf1SsjJWD">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gbf1SsjJWD "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <h1
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:51px;--size-tablet:51px;--size-mobile:44px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;--c:#242424;--tt:none;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggbf1SsjJWD_text | replace: '$locationOrigin', locationOrigin }}</h1>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gXcIutrf5J">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gXcIutrf5J "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424242;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggXcIutrf5J_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gy5eHbqOjy" data-id="gy5eHbqOjy"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-2xl);--cg:16px;--cg-mobile:14px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-tablet:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gy5eHbqOjy gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gsP0E2CCGE gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    
  >
    <style>
    .guUd_VRBVk.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #FF9900;
  
      
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      
    }

    .guUd_VRBVk:hover::before {
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #00D074;
  
      
    }

    .guUd_VRBVk:hover .gp-button-icon {
      color: #FFFFFF;
    }

     .guUd_VRBVk .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .guUd_VRBVk:hover .gp-button-price {
      color: #FFFFFF;
    }

    .guUd_VRBVk .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .guUd_VRBVk .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .guUd_VRBVk:hover .gp-product-dot-price {
      color: #FFFFFF;
    }
  </style>
    <a
      href="#" target="_self" data-id="guUd_VRBVk" aria-label="JOIN THE CLUB"
      
      data-state="idle"
      class="guUd_VRBVk gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center"
      style="--hvr-bg:#00D074;--bg:#FF9900;--bblr:40px;--bbrr:40px;--btlr:40px;--btrr:40px;--shadow:none;--pl:41.5px;--pr:41.5px;--pt:11px;--pb:11px;--pl-tablet:12px;--pr-tablet:12px;--pt-tablet:11px;--pb-tablet:11px;--pl-mobile:10px;--pr-mobile:10px;--pt-mobile:9px;--pb-mobile:9px;--w:Auto;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--hvr-c:#FFFFFF;--c:var(--g-c-text-3, text-3);--size:16px;--size-tablet:16px;--size-mobile:15px;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="group-hover/button:!gp-text-inherit gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:15px;--hvr-c:#FFFFFF;--c:var(--g-c-text-3, text-3)"
      >
        {{ section.settings.gguUd_VRBVk_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gViksdwI9Y gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    
  >
    <style>
    .gY-1ZAqXDY.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #00D074;
  
      
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      
    }

    .gY-1ZAqXDY:hover::before {
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #009E57;
  
      
    }

    .gY-1ZAqXDY:hover .gp-button-icon {
      color: #009E57;
    }

     .gY-1ZAqXDY .gp-button-icon {
      color: #00D074;
    }

    .gY-1ZAqXDY:hover .gp-button-price {
      color: #009E57;
    }

    .gY-1ZAqXDY .gp-button-price {
      color: #00D074;
    }

    .gY-1ZAqXDY .gp-product-dot-price {
       color: #00D074;
    }

    .gY-1ZAqXDY:hover .gp-product-dot-price {
      color: #009E57;
    }
  </style>
    <a
      href="#" target="_self" data-id="gY-1ZAqXDY" aria-label="HOW IT WORKS"
      
      data-state="idle"
      class="gY-1ZAqXDY gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:#FFFFFF;--bg:#FFFFFF;--bblr:40px;--bbrr:40px;--btlr:40px;--btrr:40px;--shadow:none;--pl:41.5px;--pr:41.5px;--pt:11px;--pb:11px;--pl-tablet:12px;--pr-tablet:12px;--pt-tablet:11px;--pb-tablet:11px;--pl-mobile:10px;--pr-mobile:10px;--pt-mobile:9px;--pb-mobile:9px;--w:Auto;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--hvr-c:#009E57;--c:#00D074;--size:16px;--size-tablet:16px;--size-mobile:15px;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="group-hover/button:!gp-text-inherit gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:15px;--hvr-c:#009E57;--c:#00D074"
      >
        {{ section.settings.ggY-1ZAqXDY_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
    </div>
   
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gjao_d9WF0" data-id="gjao_d9WF0"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mt:var(--g-s-xl);--cg:16px;--cg-mobile:14px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-tablet:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gjao_d9WF0 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start;--jc-tablet:center;--jc-mobile:center"
      class="g96qjxps-O gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="goksybCEdI"
    role="presentation"
    class="gp-group/image goksybCEdI"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:left"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_512024185816482804-3d104596-d4da-4da2-bdf3-57f9b10c8a16_768x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjE2IiBoZWlnaHQ9IjIxNiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMjE2LTIxNiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMjE2IiBoZWlnaHQ9IjIxNiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjE2IiBoZWlnaHQ9IjIxNiIgZmlsbD0idXJsKCNnLTIxNi0yMTYpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0yMTYiIHRvPSIyMTYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_512024185816482804-3d104596-d4da-4da2-bdf3-57f9b10c8a16_1024x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjE2IiBoZWlnaHQ9IjIxNiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMjE2LTIxNiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMjE2IiBoZWlnaHQ9IjIxNiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjE2IiBoZWlnaHQ9IjIxNiIgZmlsbD0idXJsKCNnLTIxNi0yMTYpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0yMTYiIHRvPSIyMTYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjE2IiBoZWlnaHQ9IjIxNiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMjE2LTIxNiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMjE2IiBoZWlnaHQ9IjIxNiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjE2IiBoZWlnaHQ9IjIxNiIgZmlsbD0idXJsKCNnLTIxNi0yMTYpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0yMTYiIHRvPSIyMTYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_512024185816482804-3d104596-d4da-4da2-bdf3-57f9b10c8a16.png" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:1/1;--objf:cover;--w:72px;--w-tablet:72px;--w-mobile:60px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start;--jc-tablet:center;--jc-mobile:center"
      class="gTnn413QnD gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gBZ-Cn1EPM">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gBZ-Cn1EPM "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424242;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggBZ-Cn1EPM_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gEow6AwWDC" data-id="gEow6AwWDC"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:8px;--cg-mobile:7px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gEow6AwWDC gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center;--jc-tablet:center;--jc-mobile:center"
      class="g4grupX0Yn gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gLP5RTmCj6">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gLP5RTmCj6 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:14px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#B4B4B4;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggLP5RTmCj6_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center;--jc-tablet:center;--jc-mobile:center"
      class="ghEiwK75lL gp-relative gp-flex gp-flex-col"
    >
      
    
      
      
    <div
    data-id="gu8R9-SnZz"
      
      data-id="gu8R9-SnZz"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">

    <div
            class="gp-flex gp-flex-wrap"
            style="--cg:5px;--jc:left">
            <div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gqmDjljreJ ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
      class="gp-leading-[0] guXhiqhXA-"
    >
      <div 
      data-id="guXhiqhXA-"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--w:12px;--h:12px;--minw:12px;--height-desktop:12px;--height-tablet:12px;--height-mobile:12px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gOBD9O1nXR ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
      class="gp-leading-[0] gMECOyEAcS"
    >
      <div 
      data-id="gMECOyEAcS"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--w:12px;--h:12px;--minw:12px;--height-desktop:12px;--height-tablet:12px;--height-mobile:12px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="g9Fdw2_u5n ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
      class="gp-leading-[0] gbxu4zIVdl"
    >
      <div 
      data-id="gbxu4zIVdl"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--w:12px;--h:12px;--minw:12px;--height-desktop:12px;--height-tablet:12px;--height-mobile:12px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gXY-MkHqaV ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
      class="gp-leading-[0] gsT4BVBT10"
    >
      <div 
      data-id="gsT4BVBT10"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--w:12px;--h:12px;--minw:12px;--height-desktop:12px;--height-tablet:12px;--height-mobile:12px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="g6b7qOZ8kh ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
      class="gp-leading-[0] gZwXqVYC9u"
    >
      <div 
      data-id="gZwXqVYC9u"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--w:12px;--h:12px;--minw:12px;--height-desktop:12px;--height-tablet:12px;--height-mobile:12px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div>
         </div>
    </div>
  
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gef7t5Awgu gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gB2eWxaqEj"
    role="presentation"
    class="gp-group/image gB2eWxaqEj"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:var(--g-s-xl);--ta:left"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:left"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_512024185816482804-d7ccd64d-e4f3-44a9-b5c9-4552b3fae4f8_768x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODU2IiBoZWlnaHQ9Ijg1NiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctODU2LTg1NiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iODU2IiBoZWlnaHQ9Ijg1NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODU2IiBoZWlnaHQ9Ijg1NiIgZmlsbD0idXJsKCNnLTg1Ni04NTYpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii04NTYiIHRvPSI4NTYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_512024185816482804-d7ccd64d-e4f3-44a9-b5c9-4552b3fae4f8_1024x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODU2IiBoZWlnaHQ9Ijg1NiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctODU2LTg1NiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iODU2IiBoZWlnaHQ9Ijg1NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODU2IiBoZWlnaHQ9Ijg1NiIgZmlsbD0idXJsKCNnLTg1Ni04NTYpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii04NTYiIHRvPSI4NTYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODU2IiBoZWlnaHQ9Ijg1NiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctODU2LTg1NiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iODU2IiBoZWlnaHQ9Ijg1NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODU2IiBoZWlnaHQ9Ijg1NiIgZmlsbD0idXJsKCNnLTg1Ni04NTYpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii04NTYiIHRvPSI4NTYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_512024185816482804-d7ccd64d-e4f3-44a9-b5c9-4552b3fae4f8.png" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-557089448232223522 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/tienphamvan/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=557089424106586914&sectionId=557089448232223522)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggbf1SsjJWD_text","label":"ggbf1SsjJWD_text","default":"<p>Awesome Fun Socks, Delivered Monthly</p>"},{"type":"html","id":"ggXcIutrf5J_text","label":"ggXcIutrf5J_text","default":"<p>Surprise yourself and others with fun, stylish socks, delivered on your terms from just $10.00/month. Each package is loaded with punny jokes and cozy socks.</p>"},{"type":"html","id":"gguUd_VRBVk_label","label":"gguUd_VRBVk_label","default":"JOIN THE CLUB"},{"type":"html","id":"ggY-1ZAqXDY_label","label":"ggY-1ZAqXDY_label","default":"HOW IT WORKS"},{"type":"html","id":"ggBZ-Cn1EPM_text","label":"ggBZ-Cn1EPM_text","default":"<p>“These socks are amazing, got this as a gift from my wife last year. It makes receiving mail fun again.”</p>"},{"type":"html","id":"ggLP5RTmCj6_text","label":"ggLP5RTmCj6_text","default":"<p>Richard Depp</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
