

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-558430624247972766.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-558430624247972766.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-558430624247972766.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-558430624247972766.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-558430624247972766.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-558430624247972766.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-558430624247972766.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-558430624247972766.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-558430624247972766.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-558430624247972766.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-558430624247972766.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-558430624247972766.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-558430624247972766.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-558430624247972766.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-558430624247972766.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-558430624247972766.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-558430624247972766.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-558430624247972766.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-558430624247972766.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-558430624247972766.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-558430624247972766.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-558430624247972766.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-558430624247972766.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-558430624247972766.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-558430624247972766.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-558430624247972766.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-558430624247972766.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-558430624247972766.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-558430624247972766.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-558430624247972766.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-558430624247972766.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-558430624247972766.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-558430624247972766.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-558430624247972766.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-558430624247972766.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-558430624247972766.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-558430624247972766.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-558430624247972766.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-558430624247972766.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-558430624247972766.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-558430624247972766.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-558430624247972766.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-558430624247972766.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-558430624247972766.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-558430624247972766.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-558430624247972766.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-558430624247972766.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-558430624247972766.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-558430624247972766.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-558430624247972766.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-558430624247972766.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-558430624247972766.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-558430624247972766.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-558430624247972766.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-558430624247972766.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-558430624247972766.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-558430624247972766.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-558430624247972766.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-558430624247972766.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-558430624247972766.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-558430624247972766.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-558430624247972766.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-558430624247972766.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-558430624247972766.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-558430624247972766.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-558430624247972766.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-558430624247972766.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-558430624247972766 .group-hover\/hero\:gp-scale-\[var\(--scale\)\]{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-558430624247972766 .gp-absolute{position:absolute}.gps-558430624247972766 .gp-relative{position:relative}.gps-558430624247972766 .gp-inset-0{inset:0}.gps-558430624247972766 .gp-left-\[var\(--left\)\]{left:var(--left)}.gps-558430624247972766 .gp-top-\[var\(--top\)\]{top:var(--top)}.gps-558430624247972766 .gp-z-1{z-index:1}.gps-558430624247972766 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-558430624247972766 .gp-mb-0{margin-bottom:0}.gps-558430624247972766 .gp-flex{display:flex}.gps-558430624247972766 .gp-grid{display:grid}.gps-558430624247972766 .\!gp-hidden{display:none!important}.gps-558430624247972766 .gp-hidden{display:none}.gps-558430624247972766 .gp-h-full{height:100%}.gps-558430624247972766 .gp-w-full{width:100%}.gps-558430624247972766 .gp-max-w-full{max-width:100%}.gps-558430624247972766 .gp-cursor-pointer{cursor:pointer}.gps-558430624247972766 .gp-flex-col{flex-direction:column}.gps-558430624247972766 .gp-items-center{align-items:center}.gps-558430624247972766 .\!gp-justify-end{justify-content:flex-end!important}.gps-558430624247972766 .gp-gap-y-0{row-gap:0}.gps-558430624247972766 .gp-overflow-hidden{overflow:hidden}.gps-558430624247972766 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-558430624247972766 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-558430624247972766 .gp-transition-transform{transition-duration:.15s;transition-property:transform;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-558430624247972766 .gp-duration-200{transition-duration:.2s}.gps-558430624247972766 .gp-duration-300{transition-duration:.3s}.gps-558430624247972766 .gp-duration-\[var\(--duration\)\]{transition-duration:var(--duration)}.gps-558430624247972766 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-558430624247972766 .gp-group\/hero:hover .group-hover\/hero\:gp-scale-\[var\(--scale\)\]{--tw-scale-x:var(--scale);--tw-scale-y:var(--scale);transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-558430624247972766 .gp-group\/hero:hover .group-hover\/hero\:gp-bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-558430624247972766 .gp-group\/hero:hover .group-hover\/hero\:gp-opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}@media (max-width:1024px){.gps-558430624247972766 .tablet\:gp-relative{position:relative}.gps-558430624247972766 .tablet\:\!gp-hidden{display:none!important}.gps-558430624247972766 .tablet\:gp-hidden{display:none}.gps-558430624247972766 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-558430624247972766 .tablet\:\!gp-justify-end{justify-content:flex-end!important}}@media (max-width:767px){.gps-558430624247972766 .mobile\:gp-relative{position:relative}.gps-558430624247972766 .mobile\:\!gp-hidden{display:none!important}.gps-558430624247972766 .mobile\:gp-hidden{display:none}.gps-558430624247972766 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-558430624247972766 .mobile\:\!gp-justify-end{justify-content:flex-end!important}}@media (max-width:1024px){.gps-558430624247972766 .tablet\:\[\&\>\*\]\:\!gp-justify-end>*{justify-content:flex-end!important}}@media (max-width:767px){.gps-558430624247972766 .mobile\:\[\&\>\*\]\:\!gp-justify-end>*{justify-content:flex-end!important}}.gps-558430624247972766 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-558430624247972766 .\[\&_p\]\:gp-inline p{display:inline}.gps-558430624247972766 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-558430624247972766 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="g3kYRjzDFe" data-id="g3kYRjzDFe"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-4xl);--pl:15px;--pb:var(--g-s-3xl);--pr:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g3kYRjzDFe gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gKkHc4zADF gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="ggv07is6UD" data-id="ggv07is6UD"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-l);--cg:30px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="ggv07is6UD gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gQu0Y0_ySW gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full" style="--h:463px;--h-tablet:463px;--h-mobile:432px;--d:flex;--d-mobile:flex;--d-tablet:flex;--mb:var(--g-s-l);--mb-mobile:var(--g-s-2xl)">
      <gp-hero-banner
        gp-data='{"target":"_blank","background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"height":463,"src":"https://ucarecdn.com/5cfed6dc-25f9-4998-ad3e-758661308a9d/-/format/auto/","width":370},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"height":463,"src":"https://ucarecdn.com/5cfed6dc-25f9-4998-ad3e-758661308a9d/-/format/auto/","width":370},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"height":463,"src":"https://ucarecdn.com/5cfed6dc-25f9-4998-ad3e-758661308a9d/-/format/auto/","width":370},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"}},"uid":"gz1F2yyQf-","enableParallax":false,"speedParallax":0,"hoverEffect":true,"hoverEffectScale":"105%","layout":{"desktop":{"cols":[12],"display":"fill"},"mobile":{"cols":[12]}},"contentPosition1Col":{"desktop":"bottom"},"contentPosition2Col":{"desktop":"bottom"}}'
        gp-href=""
        
        class="gz1F2yyQf- gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--h:463px;--h-tablet:463px;--h-mobile:432px;--w:100%;--w-tablet:100%;--w-mobile:100%"
        data-id="gz1F2yyQf-"
      >
        
      <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-end tablet:!gp-justify-end mobile:!gp-justify-end"
        style="--h:463px;--h-tablet:463px;--h-mobile:432px;--bgc:var(--g-c-bg-2)"
      >
        
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" srcset="https://ucarecdn.com/5cfed6dc-25f9-4998-ad3e-758661308a9d/-/format/auto/" />
      <source media="(max-width: 1024px)" srcset="https://ucarecdn.com/5cfed6dc-25f9-4998-ad3e-758661308a9d/-/format/auto/" />
      <img
        title
        class="adaptive-hero-banner"
        src="https://ucarecdn.com/5cfed6dc-25f9-4998-ad3e-758661308a9d/-/format/auto/"
        alt=""
        fetchpriority="high"
        style="--d:none;--d-tablet:none;--d-mobile:none;--h:463px;--h-tablet:463px;--h-mobile:432px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    
  </picture>
        <div class="gp-absolute gp-w-full gp-h-full">
          <div
            class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
            >
            <div
              aria-label="Background Image"
              role="banner"
              class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
              style="clip-path:inset(0 0 0)"
            > 
            <div class="hero-banner-bg-parallax gp-hero-banner-image-background gp-duration-[var(--duration)] group-hover/hero:gp-scale-[var(--scale)] gp-transition-transform"
              style="--bgc:var(--g-c-bg-2);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bgi:url('https://ucarecdn.com/5cfed6dc-25f9-4998-ad3e-758661308a9d/-/format/auto/');--bgi-tablet:url('https://ucarecdn.com/5cfed6dc-25f9-4998-ad3e-758661308a9d/-/format/auto/');--bgi-mobile:url('https://ucarecdn.com/5cfed6dc-25f9-4998-ad3e-758661308a9d/-/format/auto/');--duration:0.5s;--scale:105%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
            >
            
            
            </div></div>
          </div>
          <div
              aria-label="Overlay"
              role="banner"
              class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-all gp-duration-300 group-hover/hero:gp-bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:gp-opacity-[var(--hvr-op,_var(--op))]"
            style="--bgc:#121212;--top:0;--left:0;--op:0%"> 
            </div>
          </div>
          
       
      
    <div
      id data-id
        style="--cg:32px;--pc:end;--pc-tablet:end;--pc-mobile:end;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-end mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-end gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gUYLF53YGN gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gVIz2BPn_u" data-id="gVIz2BPn_u"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--ml:auto;--mb:var(--g-s-l);--mr:auto;--pl:var(--g-s-3xl);--pr:var(--g-s-3xl);--pl-mobile:var(--g-s-2xl);--pr-mobile:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gVIz2BPn_u gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gCOiiyq_qb gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gzIpRBzhj_" data-id="gzIpRBzhj_"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-s);--pt:var(--g-s-m);--pl:var(--g-s-xl);--pb:var(--g-s-m);--pr:var(--g-s-xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gzIpRBzhj_ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gVGn0KVBqp gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gE3vE3SY1C">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gE3vE3SY1C "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggE3vE3SY1C_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
      </div>
    
        
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gTNKRWgBOv gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full" style="--h:463px;--h-tablet:463px;--h-mobile:432px;--d:flex;--d-mobile:flex;--d-tablet:flex;--mb:var(--g-s-l);--mb-mobile:var(--g-s-2xl)">
      <gp-hero-banner
        gp-data='{"target":"_self","background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"height":463,"src":"https://ucarecdn.com/91d1886f-51f0-4901-b545-c0188fda3e76/-/format/auto/","width":370},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"height":463,"src":"https://ucarecdn.com/91d1886f-51f0-4901-b545-c0188fda3e76/-/format/auto/","width":370},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"height":463,"src":"https://ucarecdn.com/91d1886f-51f0-4901-b545-c0188fda3e76/-/format/auto/","width":370},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"}},"uid":"gU539EfGL3","enableParallax":false,"speedParallax":0,"hoverEffect":true,"hoverEffectScale":"105%","layout":{"desktop":{"cols":[12],"display":"fill"},"mobile":{"cols":[12]}},"contentPosition1Col":{"desktop":"bottom"},"contentPosition2Col":{"desktop":"bottom"}}'
        gp-href="#"
        
        class="gU539EfGL3 gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--h:463px;--h-tablet:463px;--h-mobile:432px;--w:100%;--w-tablet:100%;--w-mobile:100%"
        data-id="gU539EfGL3"
      >
        
        
          <div
            data-hero-banner-link="true"
            aria-label="Hero banner link"
            class="gp-cursor-pointer"
          >
            
      <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-end tablet:!gp-justify-end mobile:!gp-justify-end"
        style="--h:463px;--h-tablet:463px;--h-mobile:432px;--bgc:var(--g-c-bg-2)"
      >
        
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" srcset="https://ucarecdn.com/91d1886f-51f0-4901-b545-c0188fda3e76/-/format/auto/" />
      <source media="(max-width: 1024px)" srcset="https://ucarecdn.com/91d1886f-51f0-4901-b545-c0188fda3e76/-/format/auto/" />
      <img
        title
        class="adaptive-hero-banner"
        src="https://ucarecdn.com/91d1886f-51f0-4901-b545-c0188fda3e76/-/format/auto/"
        alt=""
        fetchpriority="high"
        style="--d:none;--d-tablet:none;--d-mobile:none;--h:463px;--h-tablet:463px;--h-mobile:432px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    
  </picture>
        <div class="gp-absolute gp-w-full gp-h-full">
          <div
            class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
            >
            <div
              aria-label="Background Image"
              role="banner"
              class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
              style="clip-path:inset(0 0 0)"
            > 
            <div class="hero-banner-bg-parallax gp-hero-banner-image-background gp-duration-[var(--duration)] group-hover/hero:gp-scale-[var(--scale)] gp-transition-transform"
              style="--bgc:var(--g-c-bg-2);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bgi:url('https://ucarecdn.com/91d1886f-51f0-4901-b545-c0188fda3e76/-/format/auto/');--bgi-tablet:url('https://ucarecdn.com/91d1886f-51f0-4901-b545-c0188fda3e76/-/format/auto/');--bgi-mobile:url('https://ucarecdn.com/91d1886f-51f0-4901-b545-c0188fda3e76/-/format/auto/');--duration:0.5s;--scale:105%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
            >
            
            
            </div></div>
          </div>
          <div
              aria-label="Overlay"
              role="banner"
              class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-all gp-duration-300 group-hover/hero:gp-bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:gp-opacity-[var(--hvr-op,_var(--op))]"
            style="--bgc:#121212;--top:0;--left:0;--op:0%"> 
            </div>
          </div>
          
       
      
    <div
      id data-id
        style="--cg:32px;--pc:end;--pc-tablet:end;--pc-mobile:end;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-end mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-end gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gXZaOjpMiT gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gYD-9laKhh" data-id="gYD-9laKhh"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--ml:auto;--mb:var(--g-s-l);--mr:auto;--pl:var(--g-s-3xl);--pr:var(--g-s-3xl);--pl-mobile:var(--g-s-2xl);--pr-mobile:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gYD-9laKhh gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gftCNn9LkQ gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gsNPogP6ff" data-id="gsNPogP6ff"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-s);--pt:var(--g-s-m);--pl:var(--g-s-xl);--pb:var(--g-s-m);--pr:var(--g-s-xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gsNPogP6ff gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gkMgn861Np gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gkWQ0da_vj">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gkWQ0da_vj "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggkWQ0da_vj_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
      </div>
    
          </div>
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gCt32vWJDH gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full" style="--h:463px;--h-tablet:463px;--h-mobile:432px;--d:flex;--d-mobile:flex;--d-tablet:flex;--mb:var(--g-s-l)">
      <gp-hero-banner
        gp-data='{"target":"_self","background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"height":463,"src":"https://ucarecdn.com/1574fc0a-16b2-4bf1-9796-e0736579cfe2/-/format/auto/","width":370},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"height":463,"src":"https://ucarecdn.com/1574fc0a-16b2-4bf1-9796-e0736579cfe2/-/format/auto/","width":370},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"height":463,"src":"https://ucarecdn.com/1574fc0a-16b2-4bf1-9796-e0736579cfe2/-/format/auto/","width":370},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"}},"uid":"gVT8NS-IYc","enableParallax":false,"speedParallax":0,"hoverEffect":true,"hoverEffectScale":"105%","layout":{"desktop":{"cols":[12],"display":"fill"},"mobile":{"cols":[12]}},"contentPosition1Col":{"desktop":"bottom"},"contentPosition2Col":{"desktop":"bottom"}}'
        gp-href="#"
        
        class="gVT8NS-IYc gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--h:463px;--h-tablet:463px;--h-mobile:432px;--w:100%;--w-tablet:100%;--w-mobile:100%"
        data-id="gVT8NS-IYc"
      >
        
        
          <div
            data-hero-banner-link="true"
            aria-label="Hero banner link"
            class="gp-cursor-pointer"
          >
            
      <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-end tablet:!gp-justify-end mobile:!gp-justify-end"
        style="--h:463px;--h-tablet:463px;--h-mobile:432px;--bgc:var(--g-c-bg-2)"
      >
        
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" srcset="https://ucarecdn.com/1574fc0a-16b2-4bf1-9796-e0736579cfe2/-/format/auto/" />
      <source media="(max-width: 1024px)" srcset="https://ucarecdn.com/1574fc0a-16b2-4bf1-9796-e0736579cfe2/-/format/auto/" />
      <img
        title
        class="adaptive-hero-banner"
        src="https://ucarecdn.com/1574fc0a-16b2-4bf1-9796-e0736579cfe2/-/format/auto/"
        alt=""
        fetchpriority="high"
        style="--d:none;--d-tablet:none;--d-mobile:none;--h:463px;--h-tablet:463px;--h-mobile:432px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    
  </picture>
        <div class="gp-absolute gp-w-full gp-h-full">
          <div
            class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
            >
            <div
              aria-label="Background Image"
              role="banner"
              class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
              style="clip-path:inset(0 0 0)"
            > 
            <div class="hero-banner-bg-parallax gp-hero-banner-image-background gp-duration-[var(--duration)] group-hover/hero:gp-scale-[var(--scale)] gp-transition-transform"
              style="--bgc:var(--g-c-bg-2);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bgi:url('https://ucarecdn.com/1574fc0a-16b2-4bf1-9796-e0736579cfe2/-/format/auto/');--bgi-tablet:url('https://ucarecdn.com/1574fc0a-16b2-4bf1-9796-e0736579cfe2/-/format/auto/');--bgi-mobile:url('https://ucarecdn.com/1574fc0a-16b2-4bf1-9796-e0736579cfe2/-/format/auto/');--duration:0.5s;--scale:105%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
            >
            
            
            </div></div>
          </div>
          <div
              aria-label="Overlay"
              role="banner"
              class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-all gp-duration-300 group-hover/hero:gp-bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:gp-opacity-[var(--hvr-op,_var(--op))]"
            style="--bgc:#121212;--top:0;--left:0;--op:0%"> 
            </div>
          </div>
          
       
      
    <div
      id data-id
        style="--cg:32px;--pc:end;--pc-tablet:end;--pc-mobile:end;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-end mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-end gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g149pFzDNK gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gnE31f9s_t" data-id="gnE31f9s_t"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--ml:auto;--mb:var(--g-s-l);--mr:auto;--pl:var(--g-s-3xl);--pr:var(--g-s-3xl);--pl-mobile:var(--g-s-2xl);--pr-mobile:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gnE31f9s_t gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="guZPRhz_tk gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gFvMaTYRsa" data-id="gFvMaTYRsa"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-s);--pt:var(--g-s-m);--pl:var(--g-s-xl);--pb:var(--g-s-m);--pr:var(--g-s-xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gFvMaTYRsa gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gyKTkU-cd5 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gl6Cz4yWMd">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gl6Cz4yWMd "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggl6Cz4yWMd_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
      </div>
    
          </div>
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-558430624247972766 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/tienphamvan/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=558430607906964723&sectionId=558430624247972766)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggE3vE3SY1C_text","label":"ggE3vE3SY1C_text","default":"<p>MEN’S</p>"},{"type":"html","id":"ggkWQ0da_vj_text","label":"ggkWQ0da_vj_text","default":"<p>WOMEN’S</p>"},{"type":"html","id":"ggl6Cz4yWMd_text","label":"ggl6Cz4yWMd_text","default":"<p>KID’S</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
