

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-558430624281593075.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-558430624281593075.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-558430624281593075.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-558430624281593075.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-558430624281593075.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-558430624281593075.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-558430624281593075.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-558430624281593075.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-558430624281593075.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-558430624281593075.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-558430624281593075.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-558430624281593075.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-558430624281593075.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-558430624281593075.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-558430624281593075.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-558430624281593075.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-558430624281593075.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-558430624281593075.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-558430624281593075.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-558430624281593075.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-558430624281593075.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-558430624281593075.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-558430624281593075.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-558430624281593075.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-558430624281593075.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-558430624281593075.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-558430624281593075.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-558430624281593075.gps.gpsil [style*="--tdc:"]{text-decoration-color:var(--tdc)}.gps-558430624281593075.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-558430624281593075.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-558430624281593075.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-558430624281593075.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-558430624281593075.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-558430624281593075.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-558430624281593075.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-558430624281593075.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-558430624281593075.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-558430624281593075.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-558430624281593075.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-558430624281593075.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-558430624281593075.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-558430624281593075.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-558430624281593075.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-558430624281593075.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-558430624281593075.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-558430624281593075.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-558430624281593075.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-558430624281593075.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-558430624281593075.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-558430624281593075.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-558430624281593075.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-558430624281593075.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-558430624281593075.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-558430624281593075.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-558430624281593075.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-558430624281593075.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-558430624281593075.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-558430624281593075.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-558430624281593075.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-558430624281593075.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-558430624281593075.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-558430624281593075.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-558430624281593075.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-558430624281593075.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-558430624281593075.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-558430624281593075.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-558430624281593075.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-558430624281593075.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-558430624281593075.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-558430624281593075.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-558430624281593075.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-558430624281593075.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-558430624281593075.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-558430624281593075.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-558430624281593075 .gp-invisible{visibility:hidden}.gps-558430624281593075 .gp-absolute{position:absolute}.gps-558430624281593075 .gp-relative{position:relative}.gps-558430624281593075 .gp-inset-0{inset:0}.gps-558430624281593075 .gp-left-\[var\(--left\)\]{left:var(--left)}.gps-558430624281593075 .gp-top-\[var\(--top\)\]{top:var(--top)}.gps-558430624281593075 .gp-z-1{z-index:1}.gps-558430624281593075 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-558430624281593075 .gp-mb-0{margin-bottom:0}.gps-558430624281593075 .gp-flex{display:flex}.gps-558430624281593075 .gp-inline-flex{display:inline-flex}.gps-558430624281593075 .gp-grid{display:grid}.gps-558430624281593075 .\!gp-hidden{display:none!important}.gps-558430624281593075 .gp-hidden{display:none}.gps-558430624281593075 .gp-h-5{height:20px}.gps-558430624281593075 .gp-h-full{height:100%}.gps-558430624281593075 .gp-w-5{width:20px}.gps-558430624281593075 .gp-w-full{width:100%}.gps-558430624281593075 .gp-max-w-full{max-width:100%}.gps-558430624281593075 .gp-cursor-default{cursor:default}.gps-558430624281593075 .gp-flex-col{flex-direction:column}.gps-558430624281593075 .gp-items-center{align-items:center}.gps-558430624281593075 .\!gp-justify-end{justify-content:flex-end!important}.gps-558430624281593075 .gp-justify-center{justify-content:center}.gps-558430624281593075 .gp-gap-y-0{row-gap:0}.gps-558430624281593075 .gp-overflow-hidden{overflow:hidden}.gps-558430624281593075 .gp-break-words{overflow-wrap:break-word}.gps-558430624281593075 .gp-rounded-none{border-radius:0}.gps-558430624281593075 .gp-text-center{text-align:center}.gps-558430624281593075 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-558430624281593075 .gp-line-through{text-decoration-line:line-through}.gps-558430624281593075 .gp-no-underline{text-decoration-line:none}.gps-558430624281593075 .gp-decoration-g-text-1{text-decoration-color:var(--g-c-text-1)}.gps-558430624281593075 .gp-opacity-25{opacity:.25}.gps-558430624281593075 .gp-opacity-30{opacity:.3}.gps-558430624281593075 .gp-opacity-75{opacity:.75}.gps-558430624281593075 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-558430624281593075 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-558430624281593075 .gp-duration-200{transition-duration:.2s}.gps-558430624281593075 .gp-duration-300{transition-duration:.3s}.gps-558430624281593075 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-558430624281593075 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-558430624281593075 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-558430624281593075 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-558430624281593075 .gp-group\/hero:hover .group-hover\/hero\:gp-bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-558430624281593075 .gp-group\/button:hover .group-hover\/button\:\!gp-text-inherit{color:inherit!important}.gps-558430624281593075 .gp-group\/hero:hover .group-hover\/hero\:gp-opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}.gps-558430624281593075 .data-\[hidden\=true\]\:gp-hidden[data-hidden=true]{display:none}.gps-558430624281593075 .gp-group\/button[data-state=loading] .group-data-\[state\=loading\]\/button\:gp-visible{visibility:visible}.gps-558430624281593075 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible,.gps-558430624281593075 .gp-group\/button[data-state=loading] .group-data-\[state\=loading\]\/button\:gp-invisible{visibility:hidden}@keyframes gp-spin{to{transform:rotate(1turn)}}.gps-558430624281593075 .gp-group\/button[data-state=loading] .group-data-\[state\=loading\]\/button\:gp-animate-spin{animation:gp-spin 1s linear infinite}@media (max-width:1024px){.gps-558430624281593075 .tablet\:gp-relative{position:relative}.gps-558430624281593075 .tablet\:\!gp-hidden{display:none!important}.gps-558430624281593075 .tablet\:gp-hidden{display:none}.gps-558430624281593075 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-558430624281593075 .tablet\:\!gp-justify-end{justify-content:flex-end!important}}@media (max-width:767px){.gps-558430624281593075 .mobile\:gp-relative{position:relative}.gps-558430624281593075 .mobile\:\!gp-hidden{display:none!important}.gps-558430624281593075 .mobile\:gp-hidden{display:none}.gps-558430624281593075 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-558430624281593075 .mobile\:\!gp-justify-end{justify-content:flex-end!important}}@media (max-width:1024px){.gps-558430624281593075 .tablet\:\[\&\>\*\]\:\!gp-justify-end>*{justify-content:flex-end!important}}@media (max-width:767px){.gps-558430624281593075 .mobile\:\[\&\>\*\]\:\!gp-justify-end>*{justify-content:flex-end!important}}.gps-558430624281593075 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-558430624281593075 .\[\&_p\]\:gp-inline p{display:inline}.gps-558430624281593075 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-558430624281593075 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-558430624281593075 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gIKZkXVL64" data-id="gIKZkXVL64"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:0px;--pl:15px;--pb:var(--g-s-3xl);--pr:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gIKZkXVL64 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gLAJMNeu-m gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gGm4OMzf6c" data-id="gGm4OMzf6c"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gGm4OMzf6c gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gOfiA1yT2a gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gHqCprzw-r">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gHqCprzw-r "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size:33px;--size-tablet:33px;--size-mobile:29px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggHqCprzw-r_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="ggULqL79ub" data-id="ggULqL79ub"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-l);--cg:30px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="ggULqL79ub gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gJfs59wHHR gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full" style="--h:570px;--h-tablet:570px;--h-mobile:345px;--d:flex;--d-mobile:flex;--d-tablet:flex;--mb:var(--g-s-l);--mb-mobile:var(--g-s-2xl)">
      <gp-hero-banner
        gp-data='{"target":"_blank","background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"height":570,"src":"https://ucarecdn.com/90e8764a-da5d-47d5-89df-b125050ac788/-/format/auto/","width":570},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"height":570,"src":"https://ucarecdn.com/90e8764a-da5d-47d5-89df-b125050ac788/-/format/auto/","width":570},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"height":570,"src":"https://ucarecdn.com/90e8764a-da5d-47d5-89df-b125050ac788/-/format/auto/","width":570},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"}},"uid":"gX2Z7Udv-n","enableParallax":false,"speedParallax":0,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[12],"display":"fill"},"mobile":{"cols":[12]}},"contentPosition1Col":{"desktop":"bottom"},"contentPosition2Col":{"desktop":"bottom"}}'
        gp-href=""
        
        class="gX2Z7Udv-n gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--h:570px;--h-tablet:570px;--h-mobile:345px;--w:100%;--w-tablet:100%;--w-mobile:100%"
        data-id="gX2Z7Udv-n"
      >
        
      <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-end tablet:!gp-justify-end mobile:!gp-justify-end"
        style="--h:570px;--h-tablet:570px;--h-mobile:345px;--bgc:var(--g-c-bg-2)"
      >
        
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" srcset="https://ucarecdn.com/90e8764a-da5d-47d5-89df-b125050ac788/-/format/auto/" />
      <source media="(max-width: 1024px)" srcset="https://ucarecdn.com/90e8764a-da5d-47d5-89df-b125050ac788/-/format/auto/" />
      <img
        title
        class="adaptive-hero-banner"
        src="https://ucarecdn.com/90e8764a-da5d-47d5-89df-b125050ac788/-/format/auto/"
        alt=""
        fetchpriority="high"
        style="--d:none;--d-tablet:none;--d-mobile:none;--h:570px;--h-tablet:570px;--h-mobile:345px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    
  </picture>
        <div class="gp-absolute gp-w-full gp-h-full">
          <div
            class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
            >
            <div
              aria-label="Background Image"
              role="banner"
              class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
              style="clip-path:inset(0 0 0)"
            > 
            <div class="hero-banner-bg-parallax gp-hero-banner-image-background"
              style="--bgc:var(--g-c-bg-2);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bgi:url('https://ucarecdn.com/90e8764a-da5d-47d5-89df-b125050ac788/-/format/auto/');--bgi-tablet:url('https://ucarecdn.com/90e8764a-da5d-47d5-89df-b125050ac788/-/format/auto/');--bgi-mobile:url('https://ucarecdn.com/90e8764a-da5d-47d5-89df-b125050ac788/-/format/auto/');--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
            >
            
            
            </div></div>
          </div>
          <div
              aria-label="Overlay"
              role="banner"
              class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-all gp-duration-300 group-hover/hero:gp-bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:gp-opacity-[var(--hvr-op,_var(--op))]"
            style="--bgc:#121212;--top:0;--left:0;--op:0%"> 
            </div>
          </div>
          
       
      
    <div
      id data-id
        style="--cg:32px;--pc:end;--pc-tablet:end;--pc-mobile:end;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-end mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-end gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g4Mg8VEGFe gp-relative gp-flex gp-flex-col"
    >
      
    {%- assign gpBkProduct = product -%}
    
        {%- liquid
          if request.page_type == 'product'
            if 'static' == 'static'
              if 'latest' == 'latest'
                paginate collections.all.products by 100000
                  assign product = collections.all.products | sort: 'created_at' | reverse | first
                endpaginate
              else
                assign product = all_products['']
                assign productId = 'latest' | times: 1
                if product == empty or product == null
                  paginate collections.all.products by 100000
                    for item in collections.all.products
                      if item.id == productId
                        assign product = item
                      endif
                    endfor
                  endpaginate
                endif
              endif
            endif
          else
            if 'latest' == 'latest'
              paginate collections.all.products by 100000
                assign product = collections.all.products | sort: 'created_at'| reverse | first
              endpaginate
            else
              assign product = all_products['']
              assign productId = 'latest' | times: 1
              if product == empty or product == null
                paginate collections.all.products by 100000
                  for item in collections.all.products
                    if item.id == productId
                      assign product = item
                    endif
                  endfor
                endpaginate
              endif
            endif
          endif
        -%}
      

    {%-if product != empty and product != null -%}
      {%- assign initVariantId =  -%}
      {%- assign product_form_id = 'product-form-' | append: "gRuha3J3Hf" -%}
      {%- assign variant = product.selected_or_first_available_variant -%}
      {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%-if productSelectedVariant == empty or productSelectedVariant == null -%}
        {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      {%-if variant == empty or variant == null -%}
        {%- assign variant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      <gp-product data-uid="gRuha3J3Hf" data-id="gRuha3J3Hf"   gp-context='{"productId": {{ product.id }}, "preSelectedOptionIds": [], "isSyncProduct": "", "variantSelected": {{ variant | json | escape }}, "inventoryQuantity": {{ variant.inventory_quantity }}, "quantity": 1, "formId": "{{ product_form_id }}" }'
        gp-data='{"variantSelected": {{ variant | json | escape }}, "quantity": 1, "productUrl":{{ product.url | json | escape }}, "productHandle":{{ product.handle | json | escape }}, "collectionUrl": {{ collection.url | json | escape }}, "collectionHandle": {{ collection.handle | json | escape }}}'>
        <product-form class="product-form">
          {%- form 'product', product, id: product_form_id, class: 'form contents', data-type: 'add-to-cart-form', autocomplete: 'off'  -%}
            <input type="hidden" name="id" value="{{ variant.id }}" />
            <input type="hidden" name="quantity" value="{{ quantity }}" />
            <button type="submit" onclick="return false;" style="display:none;"></button>
            
       
      
    <div
      id="gRuha3J3Hf" data-id="gRuha3J3Hf-row"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pl:var(--g-s-2xl);--pb:var(--g-s-l);--pr:var(--g-s-2xl);--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%"
        class="gRuha3J3Hf gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="guSkW_X1eJ gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s)" class="gx_7V9UbKh ">
      
    {%- unless product -%}
      <p>{{ "gempages.ProductTitle.product_not_found" | t }}</p>
    {%- else -%}
      
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gx_7V9UbKh">
    <div
      
        class="gx_7V9UbKh "
        
      >
      <div  >
        <h1
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-product-title"
          style="--w:100%;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ product.title }}</h1>
      </div>
    </div>
    </gp-text>
    
      
    {%- endunless -%}
  
      </div>
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="guUhsbnZgJ" data-id="guUhsbnZgJ"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-l);--cg:var(--g-s-s);--pc:start;--pc-mobile:center;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="guUhsbnZgJ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g9StuNm8Qo gp-relative gp-flex gp-flex-col"
    >
      
      <gp-product-price
        data-id="gyfojx-9mn"
        class="gyfojx-9mn gp-product-price group-data-[state=loading]:gp-invisible data-[hidden=true]:gp-hidden"
        gp-data='{"priceType":"regular","uid":"gyfojx-9mn","locale":"{{shop.locale}}","currency":"{{shop.currency}}","moneyFormat":"{{ shop.money_format | replace: '"', '\\"' | escape }}"}'
        
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
        data-hidden="false"
      >
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      id="p-price-gyfojx-9mn"
        class=" "
        
      >
      <div  >
        <div
          type="regular"
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-price gp-money gp-decoration-g-text-1"
          style="--w:100%;--tdc:text-1;--tdt:1;--ta:left;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:28px;--size-tablet:28px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >
     {% if variant.price %} 
       {{ variant.price | money}}
     {% endif %}
   </div>
      </div>
    </div>
    </gp-text>
    
      </gp-product-price>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product-price.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g8cB_hziYL gp-relative gp-flex gp-flex-col"
    >
      
      <gp-product-price
        data-id="gn1dir56K8"
        class="gn1dir56K8 gp-product-price group-data-[state=loading]:gp-invisible data-[hidden=true]:gp-hidden"
        gp-data='{"priceType":"compare","uid":"gn1dir56K8","locale":"{{shop.locale}}","currency":"{{shop.currency}}","moneyFormat":"{{ shop.money_format | replace: '"', '\\"' | escape }}"}'
        
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
        data-hidden="{% if variant.compare_at_price > variant.price and variant.compare_at_price >= 0 %}false{% else %}true{% endif %}"
      >
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      id="p-price-gn1dir56K8"
        class=" "
        
      >
      <div  >
        <div
          type="compare"
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-price gp-product-compare-price gp-line-through"
          style="--w:100%;--tdc:#FFFFFF;--tdt:1;--ta:left;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >
      {% if variant.compare_at_price  %} 
        {{ variant.compare_at_price | money}}
      {% else %}
        
      {% endif %}
    </div>
      </div>
    </div>
    </gp-text>
    
      </gp-product-price>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product-price.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
   
    
   {%- liquid
      assign inventory_quantity = variant.inventory_quantity | default: 0
    -%}
    <gp-product-button
      class="gp-product-button"
      gp-data-wrapper="true"
      gp-data='{"setting":{"actionEffect":"continue-shopping","errorMessage":"Cannot add product to cart","successMessage":"Add product to cart successfully","enableSuccessMessage":true,"enableErrorMessage":true,"label":"BUY NOW","outOfStockLabel":"Out of stock","errorType":"built-in","customURL":{"link":"/cart","target":"_self"}},"styles":{"errorTypo":{"attrs":{"color":"error"},"type":"paragraph-2"},"successTypo":{"attrs":{"color":"success"},"type":"paragraph-2"}},"disabled":"{{variant.available}}","variantID":"{{variant.id}}","totalVariant":"{{product.variants.size}}"}' 
       gp-href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/cart"
       data-variant-selection-required-message="{{}}"
    >
        
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--ta:left"
    class="{% unless variant.available %} !gp-hidden {% endunless %}"
  >
    <style>
    .gyaS99eV6n.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #121212;
  
      
      
      
      
      
      
    }

    .gyaS99eV6n:hover::before {
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #4D4D4D;
  
      
    }

    .gyaS99eV6n:hover .gp-button-icon {
      color: undefined;
    }

     .gyaS99eV6n .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gyaS99eV6n:hover .gp-button-price {
      color: undefined;
    }

    .gyaS99eV6n .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gyaS99eV6n .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gyaS99eV6n:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <button
      type="submit" data-id="gyaS99eV6n" aria-label="BUY NOW"
      name="add" gp-data-hidden="{% unless variant.available %}true{% endunless %}"
      data-state="idle"
      class="gyaS99eV6n gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-button-atc tcustomizer-submit-button"
      style="--hvr-bg:#FF871D;--bg:#242424;--shadow:none;--pl:48px;--pr:48px;--pt:12px;--pb:12px;--pl-tablet:48px;--pr-tablet:48px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:48px;--pr-mobile:48px;--pt-mobile:12px;--pb-mobile:12px;--w:Auto;--w-tablet:Auto;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--c:var(--g-c-text-3, text-3);--size:16px;--size-tablet:16px;--size-mobile:14px;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]/button:gp-animate-spin group-data-[state=loading]/button:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="group-hover/button:!gp-text-inherit gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px;--c:var(--g-c-text-3, text-3)"
      >
        {{ section.settings.ggyaS99eV6n_label }}
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>

        
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--ta:left"
    class="{% if variant.available %} !gp-hidden {% endif %}"
  >
    <style>
    .gyaS99eV6n-sold-out.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #121212;
  
      
      
      
      
      
      
    }

    .gyaS99eV6n-sold-out:hover::before {
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #4D4D4D;
  
      
    }

    .gyaS99eV6n-sold-out:hover .gp-button-icon {
      color: undefined;
    }

     .gyaS99eV6n-sold-out .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gyaS99eV6n-sold-out:hover .gp-button-price {
      color: undefined;
    }

    .gyaS99eV6n-sold-out .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gyaS99eV6n-sold-out .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gyaS99eV6n-sold-out:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <button
      type="button" data-id="gyaS99eV6n" aria-label="Out of stock"
      gp-data-hidden="{% if variant.available %}true{% endif %}"
      data-state="idle"
      class="gyaS99eV6n-sold-out gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-button-sold-out btn-disabled gp-opacity-30 gp-cursor-default"
      style="--hvr-bg:#FF871D;--bg:#242424;--shadow:none;--pl:48px;--pr:48px;--pt:12px;--pb:12px;--pl-tablet:48px;--pr-tablet:48px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:48px;--pr-mobile:48px;--pt-mobile:12px;--pb-mobile:12px;--w:Auto;--w-tablet:Auto;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--c:var(--g-c-text-3, text-3);--size:16px;--size-tablet:16px;--size-mobile:14px;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="group-hover/button:!gp-text-inherit gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px;--c:var(--g-c-text-3, text-3)"
      >
        {{ section.settings.ggyaS99eV6n_outOfStockLabel }}
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>

    </gp-product-button>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product-button.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
   
    
          {%- endform -%}
        </product-form>
      </gp-product>
      {%- assign product = gpBkProduct -%}
    {% else %}
      <div class="gp-text-center">{{ "gempages.Product.product_not_found" | t }}</div>
    {%- endif -%}
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product.v2.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
   
    
      </div>
    
        
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="giy1PP6OTt gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full" style="--h:570px;--h-tablet:570px;--h-mobile:345px;--d:flex;--d-mobile:flex;--d-tablet:flex;--mb:var(--g-s-l)">
      <gp-hero-banner
        gp-data='{"target":"_blank","background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"height":570,"src":"https://ucarecdn.com/5e0cd2e8-738c-4727-be33-91b8b767784d/-/format/auto/","width":570},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"height":570,"src":"https://ucarecdn.com/5e0cd2e8-738c-4727-be33-91b8b767784d/-/format/auto/","width":570},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"height":570,"src":"https://ucarecdn.com/5e0cd2e8-738c-4727-be33-91b8b767784d/-/format/auto/","width":570},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"}},"uid":"gqUKEozde_","enableParallax":false,"speedParallax":0,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[12],"display":"fill"},"mobile":{"cols":[12]}},"contentPosition1Col":{"desktop":"bottom"},"contentPosition2Col":{"desktop":"bottom"}}'
        gp-href=""
        
        class="gqUKEozde_ gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--h:570px;--h-tablet:570px;--h-mobile:345px;--w:100%;--w-tablet:100%;--w-mobile:100%"
        data-id="gqUKEozde_"
      >
        
      <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-end tablet:!gp-justify-end mobile:!gp-justify-end"
        style="--h:570px;--h-tablet:570px;--h-mobile:345px;--bgc:var(--g-c-bg-2)"
      >
        
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" srcset="https://ucarecdn.com/5e0cd2e8-738c-4727-be33-91b8b767784d/-/format/auto/" />
      <source media="(max-width: 1024px)" srcset="https://ucarecdn.com/5e0cd2e8-738c-4727-be33-91b8b767784d/-/format/auto/" />
      <img
        title
        class="adaptive-hero-banner"
        src="https://ucarecdn.com/5e0cd2e8-738c-4727-be33-91b8b767784d/-/format/auto/"
        alt=""
        fetchpriority="high"
        style="--d:none;--d-tablet:none;--d-mobile:none;--h:570px;--h-tablet:570px;--h-mobile:345px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    
  </picture>
        <div class="gp-absolute gp-w-full gp-h-full">
          <div
            class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
            >
            <div
              aria-label="Background Image"
              role="banner"
              class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
              style="clip-path:inset(0 0 0)"
            > 
            <div class="hero-banner-bg-parallax gp-hero-banner-image-background"
              style="--bgc:var(--g-c-bg-2);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bgi:url('https://ucarecdn.com/5e0cd2e8-738c-4727-be33-91b8b767784d/-/format/auto/');--bgi-tablet:url('https://ucarecdn.com/5e0cd2e8-738c-4727-be33-91b8b767784d/-/format/auto/');--bgi-mobile:url('https://ucarecdn.com/5e0cd2e8-738c-4727-be33-91b8b767784d/-/format/auto/');--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
            >
            
            
            </div></div>
          </div>
          <div
              aria-label="Overlay"
              role="banner"
              class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-all gp-duration-300 group-hover/hero:gp-bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:gp-opacity-[var(--hvr-op,_var(--op))]"
            style="--bgc:#121212;--top:0;--left:0;--op:0%"> 
            </div>
          </div>
          
       
      
    <div
      id data-id
        style="--cg:32px;--pc:end;--pc-tablet:end;--pc-mobile:end;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-end mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-end gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g49dv7JzS4 gp-relative gp-flex gp-flex-col"
    >
      
    {%- assign gpBkProduct = product -%}
    
        {%- liquid
          if request.page_type == 'product'
            if 'static' == 'static'
              if 'latest' == 'latest'
                paginate collections.all.products by 100000
                  assign product = collections.all.products | sort: 'created_at' | reverse | first
                endpaginate
              else
                assign product = all_products['']
                assign productId = 'latest' | times: 1
                if product == empty or product == null
                  paginate collections.all.products by 100000
                    for item in collections.all.products
                      if item.id == productId
                        assign product = item
                      endif
                    endfor
                  endpaginate
                endif
              endif
            endif
          else
            if 'latest' == 'latest'
              paginate collections.all.products by 100000
                assign product = collections.all.products | sort: 'created_at'| reverse | first
              endpaginate
            else
              assign product = all_products['']
              assign productId = 'latest' | times: 1
              if product == empty or product == null
                paginate collections.all.products by 100000
                  for item in collections.all.products
                    if item.id == productId
                      assign product = item
                    endif
                  endfor
                endpaginate
              endif
            endif
          endif
        -%}
      

    {%-if product != empty and product != null -%}
      {%- assign initVariantId =  -%}
      {%- assign product_form_id = 'product-form-' | append: "g4WCb8I5ID" -%}
      {%- assign variant = product.selected_or_first_available_variant -%}
      {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%-if productSelectedVariant == empty or productSelectedVariant == null -%}
        {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      {%-if variant == empty or variant == null -%}
        {%- assign variant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      <gp-product data-uid="g4WCb8I5ID" data-id="g4WCb8I5ID"   gp-context='{"productId": {{ product.id }}, "preSelectedOptionIds": [], "isSyncProduct": "", "variantSelected": {{ variant | json | escape }}, "inventoryQuantity": {{ variant.inventory_quantity }}, "quantity": 1, "formId": "{{ product_form_id }}" }'
        gp-data='{"variantSelected": {{ variant | json | escape }}, "quantity": 1, "productUrl":{{ product.url | json | escape }}, "productHandle":{{ product.handle | json | escape }}, "collectionUrl": {{ collection.url | json | escape }}, "collectionHandle": {{ collection.handle | json | escape }}}'>
        <product-form class="product-form">
          {%- form 'product', product, id: product_form_id, class: 'form contents', data-type: 'add-to-cart-form', autocomplete: 'off'  -%}
            <input type="hidden" name="id" value="{{ variant.id }}" />
            <input type="hidden" name="quantity" value="{{ quantity }}" />
            <button type="submit" onclick="return false;" style="display:none;"></button>
            
       
      
    <div
      id="g4WCb8I5ID" data-id="g4WCb8I5ID-row"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pl:var(--g-s-2xl);--pb:var(--g-s-l);--pr:var(--g-s-2xl);--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%"
        class="g4WCb8I5ID gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gp4eJ-3EoR gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s)" class="gFCGE-9hQs ">
      
    {%- unless product -%}
      <p>{{ "gempages.ProductTitle.product_not_found" | t }}</p>
    {%- else -%}
      
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gFCGE-9hQs">
    <div
      
        class="gFCGE-9hQs "
        
      >
      <div  >
        <h1
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-product-title"
          style="--w:100%;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ product.title }}</h1>
      </div>
    </div>
    </gp-text>
    
      
    {%- endunless -%}
  
      </div>
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gWfKkSbgaI" data-id="gWfKkSbgaI"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-l);--cg:var(--g-s-s);--pc:start;--pc-mobile:center;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gWfKkSbgaI gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gQ74mo8TUb gp-relative gp-flex gp-flex-col"
    >
      
      <gp-product-price
        data-id="g7PqmDpksa"
        class="g7PqmDpksa gp-product-price group-data-[state=loading]:gp-invisible data-[hidden=true]:gp-hidden"
        gp-data='{"priceType":"regular","uid":"g7PqmDpksa","locale":"{{shop.locale}}","currency":"{{shop.currency}}","moneyFormat":"{{ shop.money_format | replace: '"', '\\"' | escape }}"}'
        
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
        data-hidden="false"
      >
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      id="p-price-g7PqmDpksa"
        class=" "
        
      >
      <div  >
        <div
          type="regular"
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-price gp-money gp-decoration-g-text-1"
          style="--w:100%;--tdc:text-1;--tdt:1;--ta:left;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:28px;--size-tablet:28px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >
     {% if variant.price %} 
       {{ variant.price | money}}
     {% endif %}
   </div>
      </div>
    </div>
    </gp-text>
    
      </gp-product-price>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product-price.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gsnFepDuOh gp-relative gp-flex gp-flex-col"
    >
      
      <gp-product-price
        data-id="gYo8qxQKIR"
        class="gYo8qxQKIR gp-product-price group-data-[state=loading]:gp-invisible data-[hidden=true]:gp-hidden"
        gp-data='{"priceType":"compare","uid":"gYo8qxQKIR","locale":"{{shop.locale}}","currency":"{{shop.currency}}","moneyFormat":"{{ shop.money_format | replace: '"', '\\"' | escape }}"}'
        
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
        data-hidden="{% if variant.compare_at_price > variant.price and variant.compare_at_price >= 0 %}false{% else %}true{% endif %}"
      >
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      id="p-price-gYo8qxQKIR"
        class=" "
        
      >
      <div  >
        <div
          type="compare"
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-price gp-product-compare-price gp-line-through"
          style="--w:100%;--tdc:#FFFFFF;--tdt:1;--ta:left;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >
      {% if variant.compare_at_price  %} 
        {{ variant.compare_at_price | money}}
      {% else %}
        
      {% endif %}
    </div>
      </div>
    </div>
    </gp-text>
    
      </gp-product-price>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product-price.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
   
    
   {%- liquid
      assign inventory_quantity = variant.inventory_quantity | default: 0
    -%}
    <gp-product-button
      class="gp-product-button"
      gp-data-wrapper="true"
      gp-data='{"setting":{"actionEffect":"continue-shopping","errorMessage":"Cannot add product to cart","successMessage":"Add product to cart successfully","enableSuccessMessage":true,"enableErrorMessage":true,"label":"BUY NOW","outOfStockLabel":"Out of stock","errorType":"built-in","customURL":{"link":"/cart","target":"_self"}},"styles":{"errorTypo":{"attrs":{"color":"error"},"type":"paragraph-2"},"successTypo":{"attrs":{"color":"success"},"type":"paragraph-2"}},"disabled":"{{variant.available}}","variantID":"{{variant.id}}","totalVariant":"{{product.variants.size}}"}' 
       gp-href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/cart"
       data-variant-selection-required-message="{{}}"
    >
        
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--ta:left"
    class="{% unless variant.available %} !gp-hidden {% endunless %}"
  >
    <style>
    .gMf0VAgc52.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #121212;
  
      
      
      
      
      
      
    }

    .gMf0VAgc52:hover::before {
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #4D4D4D;
  
      
    }

    .gMf0VAgc52:hover .gp-button-icon {
      color: undefined;
    }

     .gMf0VAgc52 .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gMf0VAgc52:hover .gp-button-price {
      color: undefined;
    }

    .gMf0VAgc52 .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gMf0VAgc52 .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gMf0VAgc52:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <button
      type="submit" data-id="gMf0VAgc52" aria-label="BUY NOW"
      name="add" gp-data-hidden="{% unless variant.available %}true{% endunless %}"
      data-state="idle"
      class="gMf0VAgc52 gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-button-atc tcustomizer-submit-button"
      style="--hvr-bg:#FF871D;--bg:#242424;--shadow:none;--pl:48px;--pr:48px;--pt:12px;--pb:12px;--pl-tablet:48px;--pr-tablet:48px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:48px;--pr-mobile:48px;--pt-mobile:12px;--pb-mobile:12px;--w:Auto;--w-tablet:Auto;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--c:var(--g-c-text-3, text-3);--size:16px;--size-tablet:16px;--size-mobile:14px;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]/button:gp-animate-spin group-data-[state=loading]/button:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="group-hover/button:!gp-text-inherit gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px;--c:var(--g-c-text-3, text-3)"
      >
        {{ section.settings.ggMf0VAgc52_label }}
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>

        
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--ta:left"
    class="{% if variant.available %} !gp-hidden {% endif %}"
  >
    <style>
    .gMf0VAgc52-sold-out.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #121212;
  
      
      
      
      
      
      
    }

    .gMf0VAgc52-sold-out:hover::before {
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #4D4D4D;
  
      
    }

    .gMf0VAgc52-sold-out:hover .gp-button-icon {
      color: undefined;
    }

     .gMf0VAgc52-sold-out .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gMf0VAgc52-sold-out:hover .gp-button-price {
      color: undefined;
    }

    .gMf0VAgc52-sold-out .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gMf0VAgc52-sold-out .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gMf0VAgc52-sold-out:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <button
      type="button" data-id="gMf0VAgc52" aria-label="Out of stock"
      gp-data-hidden="{% if variant.available %}true{% endif %}"
      data-state="idle"
      class="gMf0VAgc52-sold-out gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-button-sold-out btn-disabled gp-opacity-30 gp-cursor-default"
      style="--hvr-bg:#FF871D;--bg:#242424;--shadow:none;--pl:48px;--pr:48px;--pt:12px;--pb:12px;--pl-tablet:48px;--pr-tablet:48px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:48px;--pr-mobile:48px;--pt-mobile:12px;--pb-mobile:12px;--w:Auto;--w-tablet:Auto;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--c:var(--g-c-text-3, text-3);--size:16px;--size-tablet:16px;--size-mobile:14px;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="group-hover/button:!gp-text-inherit gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px;--c:var(--g-c-text-3, text-3)"
      >
        {{ section.settings.ggMf0VAgc52_outOfStockLabel }}
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>

    </gp-product-button>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product-button.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
   
    
          {%- endform -%}
        </product-form>
      </gp-product>
      {%- assign product = gpBkProduct -%}
    {% else %}
      <div class="gp-text-center">{{ "gempages.Product.product_not_found" | t }}</div>
    {%- endif -%}
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product.v2.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
   
    
      </div>
    
        
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-558430624281593075 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/tienphamvan/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=558430607906964723&sectionId=558430624281593075)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggHqCprzw-r_text","label":"ggHqCprzw-r_text","default":"<p>Hot Picks For You</p>"},{"type":"html","id":"ggyaS99eV6n_label","label":"ggyaS99eV6n_label","default":"BUY NOW"},{"type":"html","id":"ggyaS99eV6n_outOfStockLabel","label":"ggyaS99eV6n_outOfStockLabel","default":"Out of stock"},{"type":"html","id":"ggyaS99eV6n_unavailableLabel","label":"ggyaS99eV6n_unavailableLabel","default":"Unavailable"},{"type":"html","id":"ggMf0VAgc52_label","label":"ggMf0VAgc52_label","default":"BUY NOW"},{"type":"html","id":"ggMf0VAgc52_outOfStockLabel","label":"ggMf0VAgc52_outOfStockLabel","default":"Out of stock"},{"type":"html","id":"ggMf0VAgc52_unavailableLabel","label":"ggMf0VAgc52_unavailableLabel","default":"Unavailable"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
