

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-557968605908567033.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-557968605908567033.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-557968605908567033.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-557968605908567033.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-557968605908567033.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-557968605908567033.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-557968605908567033.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-557968605908567033.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-557968605908567033.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-557968605908567033.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-557968605908567033.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-557968605908567033.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-557968605908567033.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-557968605908567033.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-557968605908567033.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-557968605908567033.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-557968605908567033.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-557968605908567033.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-557968605908567033.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-557968605908567033.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-557968605908567033.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-557968605908567033.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-557968605908567033.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-557968605908567033.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-557968605908567033.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-557968605908567033.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-557968605908567033.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-557968605908567033.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-557968605908567033.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-557968605908567033.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-557968605908567033.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-557968605908567033.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-557968605908567033.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-557968605908567033.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-557968605908567033.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-557968605908567033.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-557968605908567033.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-557968605908567033.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-557968605908567033.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-557968605908567033.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-557968605908567033.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-557968605908567033.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-557968605908567033.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-557968605908567033.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-557968605908567033.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-557968605908567033.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-557968605908567033.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-557968605908567033.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-557968605908567033.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-557968605908567033.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-557968605908567033.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-557968605908567033.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-557968605908567033.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-557968605908567033.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-557968605908567033.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-557968605908567033.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-557968605908567033.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-557968605908567033.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-557968605908567033.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-557968605908567033.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-557968605908567033.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-557968605908567033.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-557968605908567033.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-557968605908567033.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-557968605908567033.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-557968605908567033.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-557968605908567033.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-557968605908567033.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-557968605908567033.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-557968605908567033.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-557968605908567033.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-557968605908567033.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-557968605908567033 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-557968605908567033 .gp-relative{position:relative}.gps-557968605908567033 .gp-z-1{z-index:1}.gps-557968605908567033 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-557968605908567033 .gp-mb-0{margin-bottom:0}.gps-557968605908567033 .gp-flex{display:flex}.gps-557968605908567033 .gp-inline-flex{display:inline-flex}.gps-557968605908567033 .gp-grid{display:grid}.gps-557968605908567033 .gp-contents{display:contents}.gps-557968605908567033 .\!gp-hidden{display:none!important}.gps-557968605908567033 .gp-hidden{display:none}.gps-557968605908567033 .gp-h-full{height:100%}.gps-557968605908567033 .gp-w-full{width:100%}.gps-557968605908567033 .gp-max-w-full{max-width:100%}.gps-557968605908567033 .gp-flex-col{flex-direction:column}.gps-557968605908567033 .gp-items-center{align-items:center}.gps-557968605908567033 .gp-justify-center{justify-content:center}.gps-557968605908567033 .gp-gap-y-0{row-gap:0}.gps-557968605908567033 .gp-overflow-hidden{overflow:hidden}.gps-557968605908567033 .gp-break-words{overflow-wrap:break-word}.gps-557968605908567033 .gp-rounded-none{border-radius:0}.gps-557968605908567033 .gp-text-center{text-align:center}.gps-557968605908567033 .gp-leading-\[0\]{line-height:0}.gps-557968605908567033 .gp-text-g-line-3{color:var(--g-c-line-3)}.gps-557968605908567033 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-557968605908567033 .gp-no-underline{text-decoration-line:none}.gps-557968605908567033 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-557968605908567033 .gp-duration-200{transition-duration:.2s}.gps-557968605908567033 .gp-duration-300{transition-duration:.3s}.gps-557968605908567033 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-557968605908567033 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-557968605908567033 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-557968605908567033 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-557968605908567033 .gp-group\/button:hover .group-hover\/button\:\!gp-text-inherit{color:inherit!important}}.gps-557968605908567033 .gp-group\/button[data-state=loading] .group-data-\[state\=loading\]\/button\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-557968605908567033 .tablet\:\!gp-hidden{display:none!important}.gps-557968605908567033 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-557968605908567033 .mobile\:\!gp-hidden{display:none!important}.gps-557968605908567033 .mobile\:gp-hidden{display:none}}.gps-557968605908567033 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-557968605908567033 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-557968605908567033 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-557968605908567033 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-557968605908567033 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-557968605908567033 .\[\&_p\]\:gp-inline p{display:inline}.gps-557968605908567033 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-557968605908567033 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-557968605908567033 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gK2UJe_YG_" data-id="gK2UJe_YG_"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-3xl);--pl:15px;--pb:var(--g-s-3xl);--pr:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gK2UJe_YG_ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g2gL-fgNet gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="g97Xto9MK7" data-id="g97Xto9MK7"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-xl);--pb:var(--g-s-xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g97Xto9MK7 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gsyI-wy8UM gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="g6NEjh2KfI" data-id="g6NEjh2KfI"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g6NEjh2KfI gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gNZ-RN9ZtA gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gFSHh2OKbs">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gFSHh2OKbs "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:38px;--size-tablet:38px;--size-mobile:33px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;--c:#242424;--tt:none;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggFSHh2OKbs_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g9AnbhmrCH">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g9AnbhmrCH "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424242;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg9AnbhmrCH_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gSzn7UEJhg" data-id="gSzn7UEJhg"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-xl);--cg:30px;--cg-tablet:16px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gSzn7UEJhg gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gJakmzqyhR gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gFhYSO1I72" data-id="gFhYSO1I72"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-l);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gFhYSO1I72 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g3e9mcGYIF gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gFkV7J2kUF"
    role="presentation"
    class="gp-group/image gFkV7J2kUF"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-2xl);--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_512024185816482804-ba9d3140-81cf-4469-a323-15de935d4a6b_768x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYwIiBoZWlnaHQ9IjM2MCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMzYwLTM2MCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMzYwIiBoZWlnaHQ9IjM2MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzYwIiBoZWlnaHQ9IjM2MCIgZmlsbD0idXJsKCNnLTM2MC0zNjApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0zNjAiIHRvPSIzNjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_512024185816482804-ba9d3140-81cf-4469-a323-15de935d4a6b_1024x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYwIiBoZWlnaHQ9IjM2MCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMzYwLTM2MCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMzYwIiBoZWlnaHQ9IjM2MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzYwIiBoZWlnaHQ9IjM2MCIgZmlsbD0idXJsKCNnLTM2MC0zNjApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0zNjAiIHRvPSIzNjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYwIiBoZWlnaHQ9IjM2MCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMzYwLTM2MCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMzYwIiBoZWlnaHQ9IjM2MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzYwIiBoZWlnaHQ9IjM2MCIgZmlsbD0idXJsKCNnLTM2MC0zNjApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0zNjAiIHRvPSIzNjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_512024185816482804-ba9d3140-81cf-4469-a323-15de935d4a6b.png" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:auto;--objf:cover;--w:120px;--w-tablet:120px;--w-mobile:100px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gjvAFUFBiu">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gjvAFUFBiu "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:center">
        <h3
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:21px;--size-tablet:21px;--size-mobile:19px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;--tt:none;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggjvAFUFBiu_text | replace: '$locationOrigin', locationOrigin }}</h3>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gIlp3kN_CK">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gIlp3kN_CK "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggIlp3kN_CK_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gSga5FuViT gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="ghCg_Uk1KA" data-id="ghCg_Uk1KA"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-l);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="ghCg_Uk1KA gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g6jb2qPZj8 gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="g3DQopLxtz"
    role="presentation"
    class="gp-group/image g3DQopLxtz"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-2xl);--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_512024185816482804-db41220a-9b27-4c60-b21b-b5beeb1ed8f8_768x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYwIiBoZWlnaHQ9IjM2MCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMzYwLTM2MCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMzYwIiBoZWlnaHQ9IjM2MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzYwIiBoZWlnaHQ9IjM2MCIgZmlsbD0idXJsKCNnLTM2MC0zNjApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0zNjAiIHRvPSIzNjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_512024185816482804-db41220a-9b27-4c60-b21b-b5beeb1ed8f8_1024x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYwIiBoZWlnaHQ9IjM2MCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMzYwLTM2MCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMzYwIiBoZWlnaHQ9IjM2MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzYwIiBoZWlnaHQ9IjM2MCIgZmlsbD0idXJsKCNnLTM2MC0zNjApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0zNjAiIHRvPSIzNjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYwIiBoZWlnaHQ9IjM2MCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMzYwLTM2MCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMzYwIiBoZWlnaHQ9IjM2MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzYwIiBoZWlnaHQ9IjM2MCIgZmlsbD0idXJsKCNnLTM2MC0zNjApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0zNjAiIHRvPSIzNjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_512024185816482804-db41220a-9b27-4c60-b21b-b5beeb1ed8f8.png" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:auto;--objf:cover;--w:120px;--w-tablet:120px;--w-mobile:100px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gosDcX0cac">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gosDcX0cac "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:center">
        <h3
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:21px;--size-tablet:21px;--size-mobile:19px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;--tt:none;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggosDcX0cac_text | replace: '$locationOrigin', locationOrigin }}</h3>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g_YnxdTajP">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g_YnxdTajP "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg_YnxdTajP_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gLiQGUbC_k gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gesxcZa5G1" data-id="gesxcZa5G1"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-l);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gesxcZa5G1 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gEi6EdIe_O gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gcYbPVKgfw"
    role="presentation"
    class="gp-group/image gcYbPVKgfw"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-2xl);--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_512024185816482804-afdeffdd-5df4-47a9-9e07-401a770696cc_768x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYwIiBoZWlnaHQ9IjM2MCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMzYwLTM2MCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMzYwIiBoZWlnaHQ9IjM2MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzYwIiBoZWlnaHQ9IjM2MCIgZmlsbD0idXJsKCNnLTM2MC0zNjApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0zNjAiIHRvPSIzNjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_512024185816482804-afdeffdd-5df4-47a9-9e07-401a770696cc_1024x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYwIiBoZWlnaHQ9IjM2MCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMzYwLTM2MCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMzYwIiBoZWlnaHQ9IjM2MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzYwIiBoZWlnaHQ9IjM2MCIgZmlsbD0idXJsKCNnLTM2MC0zNjApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0zNjAiIHRvPSIzNjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYwIiBoZWlnaHQ9IjM2MCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMzYwLTM2MCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMzYwIiBoZWlnaHQ9IjM2MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzYwIiBoZWlnaHQ9IjM2MCIgZmlsbD0idXJsKCNnLTM2MC0zNjApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0zNjAiIHRvPSIzNjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_512024185816482804-afdeffdd-5df4-47a9-9e07-401a770696cc.png" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:auto;--objf:cover;--w:120px;--w-tablet:120px;--w-mobile:100px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gqVA_COwiv">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gqVA_COwiv "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:center">
        <h3
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:21px;--size-tablet:21px;--size-mobile:19px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;--tt:none;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggqVA_COwiv_text | replace: '$locationOrigin', locationOrigin }}</h3>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gA6MEmvp7u">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gA6MEmvp7u "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggA6MEmvp7u_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gMALLhF_Tp" data-id="gMALLhF_Tp"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gMALLhF_Tp gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="glmzhlyrpm gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g8oOUnQ8kL">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g8oOUnQ8kL "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:28px;--size-tablet:28px;--size-mobile:25px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;--tt:none;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg8oOUnQ8kL_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    <div gp-el-wrapper  class="gn5waQXuEu ">
      
    
      
      
    <div
      uid="gn5waQXuEu"
      data-id="gn5waQXuEu"
       style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-2xl);--ta:center;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
     <ul
        class="gp-inline-flex gp-flex-col"
        style="--rg:var(--g-s-l)"
        >
        
    <li
       data-index="0"
       data-id="gG2Isg4OSK"
      class="gp-flex gp-w-full gp-items-center gp-icon-list-item gp-child-item-gn5waQXuEu"
      style="--cg:8px;--cg-mobile:7px"
    >
    <div
      enableLazyloadImage="true"
      
      class="g0XoGxS4Ju gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
      class="gp-leading-[0] gBxOC4kmZw"
    >
      <div 
      data-id="gBxOC4kmZw"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:0px;--bc:transparent"
      >
      <div
      
    >
      <span
        style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:32px;--h:32px;--minw:32px;--height-desktop:32px;--height-tablet:32px;--height-mobile:32px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"
      ><svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M6.49466 14.9607C6.02229 14.9621 5.55995 15.1006 5.16112 15.3602C4.7623 15.6199 4.44329 15.9901 4.241 16.428C4.03871 16.8659 3.96141 17.3536 4.01805 17.8346C4.07468 18.3157 4.26293 18.7705 4.56102 19.1464L10.9156 27.1318C11.1422 27.4204 11.4326 27.6494 11.7628 27.7997C12.0929 27.95 12.4533 28.0174 12.8139 27.9962C13.5852 27.9537 14.2816 27.5304 14.7256 26.8345L27.9257 5.02679C27.9278 5.02317 27.9301 5.01956 27.9324 5.01599C28.0563 4.82091 28.0161 4.43432 27.7605 4.19145C27.6902 4.12476 27.6074 4.07352 27.5172 4.04089C27.4269 4.00826 27.3311 3.99493 27.2356 4.00172C27.1401 4.00852 27.047 4.03529 26.962 4.08039C26.877 4.12549 26.8019 4.18796 26.7413 4.26396C26.7366 4.26994 26.7317 4.27583 26.7267 4.28162L13.4142 19.7111C13.3636 19.7699 13.3021 19.8177 13.2332 19.8518C13.1644 19.8859 13.0897 19.9056 13.0134 19.9099C12.937 19.9141 12.8607 19.9027 12.7886 19.8764C12.7166 19.8501 12.6505 19.8094 12.5939 19.7567L8.17576 15.6323C7.7169 15.2008 7.11715 14.9612 6.49466 14.9607Z" fill="#00D074"/> </svg></span>
    </div>
      </div>
    </div>
    
    </div><div
      enableLazyloadImage="true"
      
      class="grvBABWj9d gp-relative gp-flex gp-flex-col gp-w-full"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gfQnrHMd8f">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gfQnrHMd8f "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424242;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggfQnrHMd8f_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
  </li>
    <li
       data-index="1"
       data-id="gBnBDmNrpD"
      class="gp-flex gp-w-full gp-items-center gp-icon-list-item gp-child-item-gn5waQXuEu"
      style="--cg:8px;--cg-mobile:7px"
    >
    <div
      enableLazyloadImage="true"
      
      class="gkQd0L7CDf gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
      class="gp-leading-[0] gXbGYc4ICX"
    >
      <div 
      data-id="gXbGYc4ICX"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:0px;--bc:transparent"
      >
      <div
      
    >
      <span
        style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:32px;--h:32px;--minw:32px;--height-desktop:32px;--height-tablet:32px;--height-mobile:32px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"
      ><svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M6.49466 14.9607C6.02229 14.9621 5.55995 15.1006 5.16112 15.3602C4.7623 15.6199 4.44329 15.9901 4.241 16.428C4.03871 16.8659 3.96141 17.3536 4.01805 17.8346C4.07468 18.3157 4.26293 18.7705 4.56102 19.1464L10.9156 27.1318C11.1422 27.4204 11.4326 27.6494 11.7628 27.7997C12.0929 27.95 12.4533 28.0174 12.8139 27.9962C13.5852 27.9537 14.2816 27.5304 14.7256 26.8345L27.9257 5.02679C27.9278 5.02317 27.9301 5.01956 27.9324 5.01599C28.0563 4.82091 28.0161 4.43432 27.7605 4.19145C27.6902 4.12476 27.6074 4.07352 27.5172 4.04089C27.4269 4.00826 27.3311 3.99493 27.2356 4.00172C27.1401 4.00852 27.047 4.03529 26.962 4.08039C26.877 4.12549 26.8019 4.18796 26.7413 4.26396C26.7366 4.26994 26.7317 4.27583 26.7267 4.28162L13.4142 19.7111C13.3636 19.7699 13.3021 19.8177 13.2332 19.8518C13.1644 19.8859 13.0897 19.9056 13.0134 19.9099C12.937 19.9141 12.8607 19.9027 12.7886 19.8764C12.7166 19.8501 12.6505 19.8094 12.5939 19.7567L8.17576 15.6323C7.7169 15.2008 7.11715 14.9612 6.49466 14.9607Z" fill="#00D074"/> </svg></span>
    </div>
      </div>
    </div>
    
    </div><div
      enableLazyloadImage="true"
      
      class="gvsfwDipxc gp-relative gp-flex gp-flex-col gp-w-full"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gTt5m9Vi8A">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gTt5m9Vi8A "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424242;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggTt5m9Vi8A_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
  </li>
    <li
       data-index="2"
       data-id="gMLGhu8ZkN"
      class="gp-flex gp-w-full gp-items-center gp-icon-list-item gp-child-item-gn5waQXuEu"
      style="--cg:8px;--cg-mobile:7px"
    >
    <div
      enableLazyloadImage="true"
      
      class="gmHE6ONfug gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
      class="gp-leading-[0] gXancfLbYy"
    >
      <div 
      data-id="gXancfLbYy"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:0px;--bc:transparent"
      >
      <div
      
    >
      <span
        style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:32px;--h:32px;--minw:32px;--height-desktop:32px;--height-tablet:32px;--height-mobile:32px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"
      ><svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M6.49466 14.9607C6.02229 14.9621 5.55995 15.1006 5.16112 15.3602C4.7623 15.6199 4.44329 15.9901 4.241 16.428C4.03871 16.8659 3.96141 17.3536 4.01805 17.8346C4.07468 18.3157 4.26293 18.7705 4.56102 19.1464L10.9156 27.1318C11.1422 27.4204 11.4326 27.6494 11.7628 27.7997C12.0929 27.95 12.4533 28.0174 12.8139 27.9962C13.5852 27.9537 14.2816 27.5304 14.7256 26.8345L27.9257 5.02679C27.9278 5.02317 27.9301 5.01956 27.9324 5.01599C28.0563 4.82091 28.0161 4.43432 27.7605 4.19145C27.6902 4.12476 27.6074 4.07352 27.5172 4.04089C27.4269 4.00826 27.3311 3.99493 27.2356 4.00172C27.1401 4.00852 27.047 4.03529 26.962 4.08039C26.877 4.12549 26.8019 4.18796 26.7413 4.26396C26.7366 4.26994 26.7317 4.27583 26.7267 4.28162L13.4142 19.7111C13.3636 19.7699 13.3021 19.8177 13.2332 19.8518C13.1644 19.8859 13.0897 19.9056 13.0134 19.9099C12.937 19.9141 12.8607 19.9027 12.7886 19.8764C12.7166 19.8501 12.6505 19.8094 12.5939 19.7567L8.17576 15.6323C7.7169 15.2008 7.11715 14.9612 6.49466 14.9607Z" fill="#00D074"/> </svg></span>
    </div>
      </div>
    </div>
    
    </div><div
      enableLazyloadImage="true"
      
      class="g0gdcpqgWR gp-relative gp-flex gp-flex-col gp-w-full"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gn2RyrecTH">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gn2RyrecTH "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424242;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggn2RyrecTH_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
  </li>
      </ul>
  </div>
  
      </div>
    </div>
    </div>
   
    
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    
  >
    <style>
    .g0CpwAtLBL.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #FF9900;
  
      
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      
    }

    .g0CpwAtLBL:hover::before {
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #00D074;
  
      
    }

    .g0CpwAtLBL:hover .gp-button-icon {
      color: #FFFFFF;
    }

     .g0CpwAtLBL .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .g0CpwAtLBL:hover .gp-button-price {
      color: #FFFFFF;
    }

    .g0CpwAtLBL .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .g0CpwAtLBL .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .g0CpwAtLBL:hover .gp-product-dot-price {
      color: #FFFFFF;
    }
  </style>
    <a
      href="#" target="_self" data-id="g0CpwAtLBL" aria-label="CREATE YOUR SUBSCRIPTION"
      
      data-state="idle"
      class="g0CpwAtLBL gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center"
      style="--hvr-bg:#00D074;--bg:#FF9900;--bblr:40px;--bbrr:40px;--btlr:40px;--btrr:40px;--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:32px;--pr:32px;--pt:12px;--pb:12px;--pl-tablet:32px;--pr-tablet:32px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:32px;--pr-mobile:32px;--pt-mobile:12px;--pb-mobile:12px;--hvr-c:#FFFFFF;--c:var(--g-c-text-3, text-3);--size:16px;--size-tablet:16px;--size-mobile:19px;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="group-hover/button:!gp-text-inherit gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:19px;--hvr-c:#FFFFFF;--c:var(--g-c-text-3, text-3)"
      >
        {{ section.settings.gg0CpwAtLBL_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-557968605908567033 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/tienphamvan/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=557968583812973493&sectionId=557968605908567033)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggFSHh2OKbs_text","label":"ggFSHh2OKbs_text","default":"<p>How Our Subscription Work!</p>"},{"type":"html","id":"gg9AnbhmrCH_text","label":"gg9AnbhmrCH_text","default":"<p>Rock the geekiest socks around with GemSocks in 3 simple steps</p>"},{"type":"html","id":"ggjvAFUFBiu_text","label":"ggjvAFUFBiu_text","default":"<p>Pick Your Style</p>"},{"type":"html","id":"ggIlp3kN_CK_text","label":"ggIlp3kN_CK_text","default":"<p>Pick your sizes and styles, exchanges are always free.</p>"},{"type":"html","id":"ggosDcX0cac_text","label":"ggosDcX0cac_text","default":"<p>Choose Your Plan</p>"},{"type":"html","id":"gg_YnxdTajP_text","label":"gg_YnxdTajP_text","default":"<p>Choose from a monthly or a pre-paid plan. Don't like it? Cancel Anytime!</p>"},{"type":"html","id":"ggqVA_COwiv_text","label":"ggqVA_COwiv_text","default":"<p>Enjoy Awesomeness</p>"},{"type":"html","id":"ggA6MEmvp7u_text","label":"ggA6MEmvp7u_text","default":"<p>Sit back and relax, your package is on its way to your doorstep.</p>"},{"type":"html","id":"gg8oOUnQ8kL_text","label":"gg8oOUnQ8kL_text","default":"<p>Every Order Includes</p>"},{"type":"html","id":"ggfQnrHMd8f_text","label":"ggfQnrHMd8f_text","default":"<p>2 pairs of exclusive socks per month</p>"},{"type":"html","id":"ggTt5m9Vi8A_text","label":"ggTt5m9Vi8A_text","default":"<p>Free US shipping on orders over $50</p>"},{"type":"html","id":"ggn2RyrecTH_text","label":"ggn2RyrecTH_text","default":"<p>Free exchanges (every 6 months)</p>"},{"type":"html","id":"gg0CpwAtLBL_label","label":"gg0CpwAtLBL_label","default":"CREATE YOUR SUBSCRIPTION"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
