

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-558429155788587934.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-558429155788587934.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-558429155788587934.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-558429155788587934.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-558429155788587934.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-558429155788587934.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-558429155788587934.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-558429155788587934.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-558429155788587934.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-558429155788587934.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-558429155788587934.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-558429155788587934.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-558429155788587934.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-558429155788587934.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-558429155788587934.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-558429155788587934.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-558429155788587934.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-558429155788587934.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-558429155788587934.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-558429155788587934.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-558429155788587934.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-558429155788587934.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-558429155788587934.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-558429155788587934.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-558429155788587934.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-558429155788587934.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-558429155788587934.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-558429155788587934.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-558429155788587934.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-558429155788587934.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-558429155788587934.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-558429155788587934.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-558429155788587934.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-558429155788587934.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-558429155788587934.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-558429155788587934.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-558429155788587934.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-558429155788587934.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-558429155788587934.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-558429155788587934.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-558429155788587934.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-558429155788587934.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-558429155788587934.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-558429155788587934.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-558429155788587934.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-558429155788587934.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-558429155788587934.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-558429155788587934.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-558429155788587934.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-558429155788587934.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-558429155788587934.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-558429155788587934.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-558429155788587934.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-558429155788587934.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-558429155788587934.gps.gpsil [style*="--ai-tablet:"]{align-items:var(--ai-tablet)}.gps-558429155788587934.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-558429155788587934.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-558429155788587934.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-558429155788587934.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-558429155788587934.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-558429155788587934.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-558429155788587934.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-558429155788587934.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-558429155788587934.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-558429155788587934.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-558429155788587934.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-558429155788587934.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-558429155788587934.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-558429155788587934.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-558429155788587934.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-558429155788587934.gps.gpsil [style*="--ai-mobile:"]{align-items:var(--ai-mobile)}.gps-558429155788587934.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-558429155788587934.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-558429155788587934.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-558429155788587934.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-558429155788587934.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-558429155788587934.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-558429155788587934.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-558429155788587934.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-558429155788587934.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-558429155788587934.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-558429155788587934.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-558429155788587934.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-558429155788587934.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-558429155788587934.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-558429155788587934.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-558429155788587934.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-558429155788587934.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-558429155788587934.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-558429155788587934.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-558429155788587934.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-558429155788587934 .gp-invisible{visibility:hidden}.gps-558429155788587934 .gp-absolute{position:absolute}.gps-558429155788587934 .gp-relative{position:relative}.gps-558429155788587934 .gp-top-0{top:0}.gps-558429155788587934 .gp-z-1{z-index:1}.gps-558429155788587934 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-558429155788587934 .gp-mb-0{margin-bottom:0}.gps-558429155788587934 .gp-flex{display:flex}.gps-558429155788587934 .gp-inline-flex{display:inline-flex}.gps-558429155788587934 .gp-grid{display:grid}.gps-558429155788587934 .\!gp-hidden{display:none!important}.gps-558429155788587934 .gp-hidden{display:none}.gps-558429155788587934 .gp-h-full{height:100%}.gps-558429155788587934 .gp-w-full{width:100%}.gps-558429155788587934 .gp-max-w-full{max-width:100%}.gps-558429155788587934 .gp-shrink-0{flex-shrink:0}.gps-558429155788587934 .gp-flex-col{flex-direction:column}.gps-558429155788587934 .gp-flex-wrap{flex-wrap:wrap}.gps-558429155788587934 .gp-items-center{align-items:center}.gps-558429155788587934 .\!gp-justify-center{justify-content:center!important}.gps-558429155788587934 .gp-justify-center{justify-content:center}.gps-558429155788587934 .gp-gap-y-0{row-gap:0}.gps-558429155788587934 .gp-overflow-hidden{overflow:hidden}.gps-558429155788587934 .gp-break-words{overflow-wrap:break-word}.gps-558429155788587934 .gp-rounded-none{border-radius:0}.gps-558429155788587934 .gp-text-left{text-align:left}.gps-558429155788587934 .gp-leading-\[0\]{line-height:0}.gps-558429155788587934 .gp-no-underline{text-decoration-line:none}.gps-558429155788587934 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-558429155788587934 .gp-duration-200{transition-duration:.2s}.gps-558429155788587934 .gp-duration-300{transition-duration:.3s}.gps-558429155788587934 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-558429155788587934 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-558429155788587934 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-558429155788587934 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-558429155788587934 .gp-group\/button:hover .group-hover\/button\:\!gp-text-inherit{color:inherit!important}}.gps-558429155788587934 .gp-group\/button[data-state=loading] .group-data-\[state\=loading\]\/button\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-558429155788587934 .tablet\:gp-relative{position:relative}.gps-558429155788587934 .tablet\:\!gp-hidden{display:none!important}.gps-558429155788587934 .tablet\:gp-hidden{display:none}.gps-558429155788587934 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-558429155788587934 .tablet\:\!gp-justify-center{justify-content:center!important}}@media (max-width:767px){.gps-558429155788587934 .mobile\:gp-absolute{position:absolute}.gps-558429155788587934 .mobile\:\!gp-hidden{display:none!important}.gps-558429155788587934 .mobile\:gp-hidden{display:none}.gps-558429155788587934 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-558429155788587934 .mobile\:\!gp-justify-end{justify-content:flex-end!important}.gps-558429155788587934 .mobile\:\!gp-justify-center{justify-content:center!important}}@media (max-width:1024px){.gps-558429155788587934 .tablet\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}@media (max-width:767px){.gps-558429155788587934 .mobile\:\[\&\>\*\]\:\!gp-justify-end>*{justify-content:flex-end!important}}.gps-558429155788587934 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-558429155788587934 .\[\&\>svg\]\:\!gp-h-\[var\(--size-desktop\)\]>svg{height:var(--size-desktop)!important}.gps-558429155788587934 .\[\&\>svg\]\:\!gp-w-\[var\(--size-desktop\)\]>svg{width:var(--size-desktop)!important}.gps-558429155788587934 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-558429155788587934 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}.gps-558429155788587934 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--size-tablet\)\]>svg{height:var(--size-tablet)!important}.gps-558429155788587934 .tablet\:\[\&\>svg\]\:\!gp-w-\[var\(--size-tablet\)\]>svg{width:var(--size-tablet)!important}}@media (max-width:767px){.gps-558429155788587934 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}.gps-558429155788587934 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--size-mobile\)\]>svg{height:var(--size-mobile)!important}.gps-558429155788587934 .mobile\:\[\&\>svg\]\:\!gp-w-\[var\(--size-mobile\)\]>svg{width:var(--size-mobile)!important}}.gps-558429155788587934 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-558429155788587934 .\[\&_p\]\:gp-inline p{display:inline}.gps-558429155788587934 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-558429155788587934 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-558429155788587934 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gSK2cP9ye5" data-id="gSK2cP9ye5"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gSK2cP9ye5 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gOnMhjDdNq gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:auto;--h-tablet:auto;--h-mobile:auto;--d:flex;--d-mobile:flex;--d-tablet:flex">
      <gp-hero-banner
        gp-data='{"target":"_blank","background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"gempages_512024185816482804-badf5220-f014-4df4-8d42-490635a00cf1.png","height":700,"src":"https://cdn.shopify.com/s/files/1/0611/4154/9314/files/gempages_512024185816482804-badf5220-f014-4df4-8d42-490635a00cf1.png","storage":"FILE_CONTENT","width":1440},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"gempages_512024185816482804-badf5220-f014-4df4-8d42-490635a00cf1.png","height":700,"src":"https://cdn.shopify.com/s/files/1/0611/4154/9314/files/gempages_512024185816482804-badf5220-f014-4df4-8d42-490635a00cf1.png","storage":"FILE_CONTENT","width":1440},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"mobile":{"image":{"backupFileKey":"gempages_512024185816482804-d6343991-3007-46af-ab4e-925d039c7125.png","height":1334,"src":"https://cdn.shopify.com/s/files/1/0611/4154/9314/files/gempages_512024185816482804-d6343991-3007-46af-ab4e-925d039c7125.png","storage":"FILE_CONTENT","width":750},"type":"image"}},"uid":"gVqGFxcxw7","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center","mobile":"bottom"},"contentPosition2Col":{"desktop":"center"}}'
        gp-href=""
        
        class="gVqGFxcxw7 gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--w:100%;--w-tablet:100%;--w-mobile:100%;--aspect:auto;--aspect-mobile:auto"
        data-id="gVqGFxcxw7"
      >
        
      <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-end"
        style="--h:auto;--h-tablet:auto;--h-mobile:auto;--aspect:auto;--aspect-mobile:auto;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--bgc:var(--g-c-bg-2);--shadow:none"
      >
        
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_512024185816482804-d6343991-3007-46af-ab4e-925d039c7125_768x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzUwIiBoZWlnaHQ9IjEzMzQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTc1MC0xMzM0Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI3NTAiIGhlaWdodD0iMTMzNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzUwIiBoZWlnaHQ9IjEzMzQiIGZpbGw9InVybCgjZy03NTAtMTMzNCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTc1MCIgdG89Ijc1MCIgZHVyPSIxcyIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiICAvPgogIDwvc3ZnPg==" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_512024185816482804-badf5220-f014-4df4-8d42-490635a00cf1_1024x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSIxNDQwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNDQwLTE0NDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE0NDAiIGhlaWdodD0iMTQ0MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSIxNDQwIiBmaWxsPSJ1cmwoI2ctMTQ0MC0xNDQwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTQ0MCIgdG89IjE0NDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        title
        class="adaptive-hero-banner gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSI3MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE0NDAtNzAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxNDQwIiBoZWlnaHQ9IjcwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSI3MDAiIGZpbGw9InVybCgjZy0xNDQwLTcwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE0NDAiIHRvPSIxNDQwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        data-src="{{ "gempages_512024185816482804-badf5220-f014-4df4-8d42-490635a00cf1.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-mobile:auto;--d:block;--d-tablet:none;--d-mobile:block;--h:auto;--h-tablet:auto;--h-mobile:auto;--w:100%;--w-mobile:100%;--w-tablet:100%;--op:0;--z:-1"
      />
    
  </picture>
        <div class="gp-absolute gp-w-full gp-h-full">
          <div
            class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
            >
            <div
              aria-label="Background Image"
              role="banner"
              class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
              style="clip-path:inset(0 0 0 round 0px 0px 0px 0px)"
            > 
            <div class="hero-banner-bg-parallax gp-hero-banner-image-background gp_lazybg"
              style="--bgc:var(--g-c-bg-2);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bgi:url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSI3MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE0NDAtNzAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxNDQwIiBoZWlnaHQ9IjcwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSI3MDAiIGZpbGw9InVybCgjZy0xNDQwLTcwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE0NDAiIHRvPSIxNDQwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+');--bgi-tablet:url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSIxNDQwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNDQwLTE0NDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE0NDAiIGhlaWdodD0iMTQ0MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSIxNDQwIiBmaWxsPSJ1cmwoI2ctMTQ0MC0xNDQwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTQ0MCIgdG89IjE0NDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=');--bgi-mobile:url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzUwIiBoZWlnaHQ9IjEzMzQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTc1MC0xMzM0Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI3NTAiIGhlaWdodD0iMTMzNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzUwIiBoZWlnaHQ9IjEzMzQiIGZpbGw9InVybCgjZy03NTAtMTMzNCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTc1MCIgdG89Ijc1MCIgZHVyPSIxcyIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiICAvPgogIDwvc3ZnPg==');--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
            >
            
            
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg   gp_lazyload"
      data-src="{{ "gempages_512024185816482804-badf5220-f014-4df4-8d42-490635a00cf1.png" | file_url }}" data-srcset="{{ "gempages_512024185816482804-badf5220-f014-4df4-8d42-490635a00cf1.png" | file_url }}" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="2237" height="1678" alt="lazy image desktop"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_tl  gp_lazyload"
      data-src="{{ "gempages_512024185816482804-badf5220-f014-4df4-8d42-490635a00cf1_1024x.png" | file_url }}" data-srcset="{{ "gempages_512024185816482804-badf5220-f014-4df4-8d42-490635a00cf1_1024x.png" | file_url }}" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="2237" height="1678" alt="lazy image tablet"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg  gp_lazybg_mb gp_lazyload"
      data-src="{{ "gempages_512024185816482804-d6343991-3007-46af-ab4e-925d039c7125_768x.png" | file_url }}" data-srcset="{{ "gempages_512024185816482804-d6343991-3007-46af-ab4e-925d039c7125_768x.png" | file_url }}" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="2237" height="1678" alt="lazy image mobile"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
            </div></div>
          </div>
          
          </div>
          
       
      
    <div
      id data-id
        style="--pl:15px;--pr:15px;--pt:32px;--pb:32px;--pl-tablet:15px;--pr-tablet:15px;--pt-tablet:32px;--pb-tablet:32px;--pl-mobile:15px;--pr-mobile:15px;--pt-mobile:28px;--pb-mobile:28px;--cg:32px;--pc:center;--pc-tablet:center;--pc-mobile:end;--gtc:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full gp-absolute tablet:gp-relative mobile:gp-absolute tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-end gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gWMG9csmEv gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="goWB0wzDXq" data-id="goWB0wzDXq"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 5fr) minmax(0, 7fr);--gtc-tablet:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="goWB0wzDXq gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gBpA8FwTMt gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gEsj7MiX04" data-id="gEsj7MiX04"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--mb:8px;--mb-mobile:7px;--cg:12px;--pc:start;--pc-mobile:center;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gEsj7MiX04 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="glHjb_ywsA gp-relative gp-flex gp-flex-col"
    >
      
    
    <div
    data-id="gFBMhHLRK7"
      
      data-id="gFBMhHLRK7"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">

    <div
            class="gp-flex gp-flex-wrap"
            style="--cg:4px;--jc:left">
            <div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gxsAgtWXwe ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
      class="gp-leading-[0] g3544CaguT"
    >
      <div 
      data-id="g3544CaguT"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#FFFFFF;--t:rotate(0deg);--w:14px;--w-mobile:12px;--h:14px;--h-mobile:12px;--minw:14px;--minw-mobile:12px;--height-desktop:14px;--height-tablet:14px;--height-mobile:12px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gXlW26_wov ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
      class="gp-leading-[0] g7b4UuPAZi"
    >
      <div 
      data-id="g7b4UuPAZi"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#FFFFFF;--t:rotate(0deg);--w:14px;--w-mobile:12px;--h:14px;--h-mobile:12px;--minw:14px;--minw-mobile:12px;--height-desktop:14px;--height-tablet:14px;--height-mobile:12px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="ga4iHEIF9A ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
      class="gp-leading-[0] g1IbuN-7lu"
    >
      <div 
      data-id="g1IbuN-7lu"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#FFFFFF;--t:rotate(0deg);--w:14px;--w-mobile:12px;--h:14px;--h-mobile:12px;--minw:14px;--minw-mobile:12px;--height-desktop:14px;--height-tablet:14px;--height-mobile:12px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gmtmxwnV0K ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
      class="gp-leading-[0] gH0Ziy1GhU"
    >
      <div 
      data-id="gH0Ziy1GhU"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#FFFFFF;--t:rotate(0deg);--w:14px;--w-mobile:12px;--h:14px;--h-mobile:12px;--minw:14px;--minw-mobile:12px;--height-desktop:14px;--height-tablet:14px;--height-mobile:12px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gJVo_zv4-B ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
      class="gp-leading-[0] gSherkwZ-5"
    >
      <div 
      data-id="gSherkwZ-5"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#FFFFFF;--t:rotate(0deg);--w:14px;--w-mobile:12px;--h:14px;--h-mobile:12px;--minw:14px;--minw-mobile:12px;--height-desktop:14px;--height-tablet:14px;--height-mobile:12px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div>
         </div>
    </div>
  
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gNIfHeL1IC gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gNWns5yqin">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gNWns5yqin "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#E0E0E0;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggNWns5yqin_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gNWns5yqin">
        .gNWns5yqin {

}
.gNWns5yqin p {

}
      </style>
    
    </div>
    </div>
   
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gI8vWnGYlS">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gI8vWnGYlS "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:33px;--size-tablet:33px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggI8vWnGYlS_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gI8vWnGYlS">
        .gI8vWnGYlS {

}
.gI8vWnGYlS p {

}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gvCJTCHaIv">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gvCJTCHaIv "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:57px;--size-tablet:57px;--size-mobile:35px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggvCJTCHaIv_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gdK-aEIuDn">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gdK-aEIuDn "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:24px;--mb-mobile:14px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#E0E0E0;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggdK-aEIuDn_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-button >
  <div
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb:8px;--mb-mobile:7px;--ta:left;--ta-mobile:center"
    
  >
    <style>
    .g0SJKzVYNO.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      
    }

    .g0SJKzVYNO:hover::before {
      
      
    }

    .g0SJKzVYNO:hover .gp-button-icon {
      color: undefined;
    }

     .g0SJKzVYNO .gp-button-icon {
      color: #242424;
    }

    .g0SJKzVYNO:hover .gp-button-price {
      color: undefined;
    }

    .g0SJKzVYNO .gp-button-price {
      color: #242424;
    }

    .g0SJKzVYNO .gp-product-dot-price {
       color: #242424;
    }

    .g0SJKzVYNO:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <button
      type="button" data-id="g0SJKzVYNO" aria-label="Don’t Miss Out"
      
      data-state="idle"
      class="g0SJKzVYNO gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none"
      style="--hvr-bg:#9DE9FF;--bg:#7DD0E8;--bblr:4px;--bbrr:4px;--btlr:4px;--btrr:4px;--shadow:none;--w:370px;--w-tablet:370px;--w-mobile:370px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:10px;--pb-mobile:10px;--c:#242424;--size:16px;--size-tablet:16px;--size-mobile:14px;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--lh:130%;--lh-tablet:130%;--lh-mobile:130%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="group-hover/button:!gp-text-inherit gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#242424"
      >
        {{ section.settings.gg0SJKzVYNO_label }}
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>
<div gp-el-wrapper  class="grBiOAyxYx ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      uid="grBiOAyxYx"
      data-id="grBiOAyxYx"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":16,"mobile":16,"tablet":16}}'
       style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <div
        class="gp-inline-flex gp-flex-col "
        style="--rg:16px">
        
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-grBiOAyxYx"
            style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="0"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#00C853;--w:100%;--h:100%;--size-desktop:16px;--size-tablet:16px;--size-mobile:16px"
              >
               <svg data-id="515658750703436950" xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
<g clip-path="url(#clip0_442_3948)">
<path d="M5.33801 2.09C4.38559 2.35248 3.43965 2.6379 2.50101 2.946C2.41529 2.97376 2.3391 3.02504 2.28111 3.09399C2.22312 3.16295 2.18567 3.2468 2.17301 3.336C1.61901 7.493 2.89901 10.526 4.42601 12.524C5.07252 13.3784 5.84341 14.1311 6.71301 14.757C7.05901 15.001 7.36501 15.177 7.60601 15.29C7.72601 15.347 7.82401 15.385 7.89901 15.408C7.93181 15.4195 7.96562 15.4279 8.00001 15.433C8.03398 15.4275 8.06743 15.4191 8.10001 15.408C8.17601 15.385 8.27401 15.347 8.39401 15.29C8.63401 15.177 8.94101 15 9.28701 14.757C10.1566 14.1311 10.9275 13.3784 11.574 12.524C13.101 10.527 14.381 7.493 13.827 3.336C13.8145 3.24676 13.777 3.16285 13.719 3.09388C13.661 3.02491 13.5848 2.97366 13.499 2.946C12.848 2.733 11.749 2.386 10.662 2.091C9.55201 1.79 8.53101 1.567 8.00001 1.567C7.47001 1.567 6.44801 1.79 5.33801 2.091V2.09ZM5.07201 1.06C6.15701 0.765 7.31001 0.5 8.00001 0.5C8.69001 0.5 9.84301 0.765 10.928 1.06C12.038 1.36 13.157 1.715 13.815 1.93C14.0901 2.02085 14.334 2.18747 14.5187 2.4107C14.7034 2.63394 14.8213 2.90474 14.859 3.192C15.455 7.669 14.072 10.987 12.394 13.182C11.6824 14.121 10.834 14.9479 9.87701 15.635C9.5461 15.8728 9.19549 16.0819 8.82901 16.26C8.54901 16.392 8.24801 16.5 8.00001 16.5C7.75201 16.5 7.45201 16.392 7.17101 16.26C6.80452 16.0819 6.45391 15.8728 6.12301 15.635C5.16603 14.9478 4.31759 14.121 3.60601 13.182C1.92801 10.987 0.545005 7.669 1.14101 3.192C1.17869 2.90474 1.29665 2.63394 1.48132 2.4107C1.666 2.18747 1.9099 2.02085 2.18501 1.93C3.1402 1.61681 4.10281 1.32672 5.07201 1.06Z" fill="#E0E0E0"/>
<path d="M10.8546 5.64687C10.9012 5.69331 10.9381 5.74849 10.9633 5.80923C10.9885 5.86998 11.0015 5.9351 11.0015 6.00087C11.0015 6.06663 10.9885 6.13175 10.9633 6.1925C10.9381 6.25324 10.9012 6.30842 10.8546 6.35487L7.85461 9.35487C7.80817 9.40143 7.75299 9.43837 7.69225 9.46358C7.6315 9.48878 7.56638 9.50176 7.50061 9.50176C7.43484 9.50176 7.36972 9.48878 7.30898 9.46358C7.24823 9.43837 7.19306 9.40143 7.14661 9.35487L5.64661 7.85487C5.60012 7.80838 5.56325 7.75319 5.53809 7.69245C5.51293 7.63171 5.49998 7.56661 5.49998 7.50087C5.49998 7.43512 5.51293 7.37002 5.53809 7.30928C5.56325 7.24854 5.60012 7.19335 5.64661 7.14687C5.6931 7.10038 5.74829 7.0635 5.80903 7.03834C5.86977 7.01318 5.93487 7.00023 6.00061 7.00023C6.06636 7.00023 6.13146 7.01318 6.1922 7.03834C6.25294 7.0635 6.30812 7.10038 6.35461 7.14687L7.50061 8.29387L10.1466 5.64687C10.1931 5.6003 10.2482 5.56336 10.309 5.53815C10.3697 5.51295 10.4348 5.49997 10.5006 5.49997C10.5664 5.49997 10.6315 5.51295 10.6922 5.53815C10.753 5.56336 10.8082 5.6003 10.8546 5.64687Z" fill="#E0E0E0"/>
</g>
<defs>
<clipPath id="clip0_442_3948">
<rect width="16" height="16" fill="white" transform="translate(0 0.5)"/>
</clipPath>
</defs>
</svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--c:#E0E0E0">
                {{ section.settings.ggrBiOAyxYx_childItem_0 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div>
      </div>
      </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-icon-list.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start;--d-mobile:none"
      class="grK2GtZyFv gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
   
    
    </div>
    </div>
   
    
      </div>
    
        
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-558429155788587934 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/tienphamvan/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=558429045931377566&sectionId=558429155788587934)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggNWns5yqin_text","label":"ggNWns5yqin_text","default":"<p>Rated 4.5/5 Based on 895 Reviews</p>"},{"type":"html","id":"ggI8vWnGYlS_text","label":"ggI8vWnGYlS_text","default":"<p>Off-Road Racer</p>"},{"type":"html","id":"ggvCJTCHaIv_text","label":"ggvCJTCHaIv_text","default":"Enjoy an amazing <span style=\"color:#7DD0E8;\">30% off!</span>"},{"type":"html","id":"ggdK-aEIuDn_text","label":"ggdK-aEIuDn_text","default":"<p>Don't let this incredible opportunity slip away! Own the ultimate RC off-road vehicle now!</p>"},{"type":"html","id":"gg0SJKzVYNO_label","label":"gg0SJKzVYNO_label","default":"Don’t Miss Out"},{"type":"html","id":"ggrBiOAyxYx_childItem_0","label":"ggrBiOAyxYx_childItem_0","default":"<p>30-day money-back guarantee included&nbsp;</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
