

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-558430625036502259.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-558430625036502259.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-558430625036502259.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-558430625036502259.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-558430625036502259.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-558430625036502259.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-558430625036502259.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-558430625036502259.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-558430625036502259.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-558430625036502259.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-558430625036502259.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-558430625036502259.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-558430625036502259.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-558430625036502259.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-558430625036502259.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-558430625036502259.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-558430625036502259.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-558430625036502259.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-558430625036502259.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-558430625036502259.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-558430625036502259.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-558430625036502259.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-558430625036502259.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-558430625036502259.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-558430625036502259.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-558430625036502259.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-558430625036502259.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-558430625036502259.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-558430625036502259.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-558430625036502259.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-558430625036502259.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-558430625036502259.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-558430625036502259.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-558430625036502259.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-558430625036502259.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-558430625036502259.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-558430625036502259.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-558430625036502259.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-558430625036502259.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-558430625036502259.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-558430625036502259.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-558430625036502259.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-558430625036502259.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-558430625036502259.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-558430625036502259.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-558430625036502259.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-558430625036502259.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-558430625036502259.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-558430625036502259.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-558430625036502259.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-558430625036502259.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-558430625036502259.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-558430625036502259.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-558430625036502259.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-558430625036502259.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-558430625036502259.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-558430625036502259.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-558430625036502259.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-558430625036502259.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-558430625036502259.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-558430625036502259.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-558430625036502259.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-558430625036502259.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-558430625036502259.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-558430625036502259.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-558430625036502259.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-558430625036502259.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-558430625036502259.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-558430625036502259.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-558430625036502259.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-558430625036502259.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-558430625036502259.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-558430625036502259 .gp-absolute{position:absolute}.gps-558430625036502259 .gp-relative{position:relative}.gps-558430625036502259 .gp-inset-0{inset:0}.gps-558430625036502259 .gp-z-1{z-index:1}.gps-558430625036502259 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-558430625036502259 .gp-mb-0{margin-bottom:0}.gps-558430625036502259 .gp-flex{display:flex}.gps-558430625036502259 .gp-inline-flex{display:inline-flex}.gps-558430625036502259 .gp-grid{display:grid}.gps-558430625036502259 .gp-contents{display:contents}.gps-558430625036502259 .\!gp-hidden{display:none!important}.gps-558430625036502259 .gp-hidden{display:none}.gps-558430625036502259 .gp-h-full{height:100%}.gps-558430625036502259 .gp-w-full{width:100%}.gps-558430625036502259 .gp-w-max{width:-moz-max-content;width:max-content}.gps-558430625036502259 .gp-min-w-max{min-width:-moz-max-content;min-width:max-content}.gps-558430625036502259 .\!gp-max-w-max{max-width:-moz-max-content!important;max-width:max-content!important}.gps-558430625036502259 .gp-max-w-full{max-width:100%}.gps-558430625036502259 .gp-flex-1{flex:1 1 0%}.gps-558430625036502259 .gp-flex-col{flex-direction:column}.gps-558430625036502259 .gp-flex-wrap{flex-wrap:wrap}.gps-558430625036502259 .gp-items-center{align-items:center}.gps-558430625036502259 .gp-justify-center{justify-content:center}.gps-558430625036502259 .gp-gap-y-0{row-gap:0}.gps-558430625036502259 .gp-overflow-hidden{overflow:hidden}.gps-558430625036502259 .gp-break-words{overflow-wrap:break-word}.gps-558430625036502259 .gp-rounded-none{border-radius:0}.gps-558430625036502259 .gp-text-center{text-align:center}.gps-558430625036502259 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-558430625036502259 .gp-no-underline{text-decoration-line:none}.gps-558430625036502259 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-558430625036502259 .gp-duration-200{transition-duration:.2s}.gps-558430625036502259 .gp-duration-300{transition-duration:.3s}.gps-558430625036502259 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-558430625036502259 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-558430625036502259 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-558430625036502259 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-558430625036502259 .gp-group\/button:hover .group-hover\/button\:\!gp-text-inherit{color:inherit!important}}.gps-558430625036502259 .gp-group\/button[data-state=loading] .group-data-\[state\=loading\]\/button\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-558430625036502259 .tablet\:\!gp-hidden{display:none!important}.gps-558430625036502259 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-558430625036502259 .mobile\:\!gp-hidden{display:none!important}.gps-558430625036502259 .mobile\:gp-hidden{display:none}}.gps-558430625036502259 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-558430625036502259 .\[\&_p\]\:gp-inline p{display:inline}.gps-558430625036502259 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-558430625036502259 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-558430625036502259 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gjF_Ag_6Q6" data-id="gjF_Ag_6Q6"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-4xl);--pl:15px;--pb:var(--g-s-3xl);--pr:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#242424;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gjF_Ag_6Q6 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gxOOJk4XXv gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gPfRnNjo8s" data-id="gPfRnNjo8s"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-l);--pl:0px;--pr:0px;--cg:32px;--pc:start;--gtc:minmax(0, 7fr) minmax(0, 5fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gPfRnNjo8s gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g_IN0tguws gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gGvvwPP5JK"
    role="presentation"
    class="gp-group/image gGvvwPP5JK"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--mb-mobile:var(--g-s-3xl);--ta:left"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:left"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="https://ucarecdn.com/3e6badc3-15b3-41f1-b7f7-8cad6ebcb67d/-/format/auto/" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjcwIiBoZWlnaHQ9IjM3NyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjcwLTM3NyI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjcwIiBoZWlnaHQ9IjM3NyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjcwIiBoZWlnaHQ9IjM3NyIgZmlsbD0idXJsKCNnLTY3MC0zNzcpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02NzAiIHRvPSI2NzAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://ucarecdn.com/3e6badc3-15b3-41f1-b7f7-8cad6ebcb67d/-/format/auto/" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjcwIiBoZWlnaHQ9IjM3NyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjcwLTM3NyI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjcwIiBoZWlnaHQ9IjM3NyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjcwIiBoZWlnaHQ9IjM3NyIgZmlsbD0idXJsKCNnLTY3MC0zNzcpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02NzAiIHRvPSI2NzAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjcwIiBoZWlnaHQ9IjM3NyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjcwLTM3NyI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjcwIiBoZWlnaHQ9IjM3NyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjcwIiBoZWlnaHQ9IjM3NyIgZmlsbD0idXJsKCNnLTY3MC0zNzcpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02NzAiIHRvPSI2NzAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="https://ucarecdn.com/3e6badc3-15b3-41f1-b7f7-8cad6ebcb67d/-/format/auto/"
        width="100%"
        alt="Alt Image"
        style="--aspect:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g1WASCEPho gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:-10px;--mb:var(--g-s-l);--ml-mobile:0px;--mb-mobile:var(--g-s-l)" class="gqNBzyMAOx ">
      
    <gp-countdown-timer
      data-id="gqNBzyMAOx"
     class="gp-flex "
     gp-data='{"behaviour":"daily","dateStandard":1689125243945,"dayLabel":"Days","enableDay":true,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"Hours","minuteLabel":"Mins","redirectUrl":{"link":"#","target":"_self"},"secondLabel":"Secs","timeZone":"UTC+7","timerDaily":{"format":"am","hours":10,"mins":30},"timerEverygreen":{"days":0,"endTime":1688531243945,"hours":3,"mins":0,"startTime":1688520443945},"translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","weekLabel":"Weeks","uid":"gqNBzyMAOx","builderData":{"advanced":{"border":{"desktop":{"normal":{"border":"solid","borderType":"none","borderWidth":"0px","color":"#121212","isCustom":true,"width":"0px"}}},"boxShadow":{"desktop":{"normal":{"angle":90,"blur":"4px","color":"rgba(18, 18, 18, 0.12)","distance":"2px","spread":"0px","type":"shadow-1"}}},"d":{"desktop":true,"mobile":true,"tablet":true},"hasBoxShadow":{"desktop":{"normal":false}},"op":{"desktop":"100%"},"rounded":{"desktop":{"normal":{"bblr":"0px","bbrr":"0px","btlr":"0px","btrr":"0px","radiusType":"none"}}},"spacing-setting":{"desktop":{"margin":{"bottom":"var(--g-s-l)","left":"-10px"},"padding":""},"mobile":{"margin":{"bottom":"var(--g-s-l)","left":"0px"},"padding":""},"tablet":{"margin":"","padding":""}}},"label":"Countdown Timer","settings":{"behaviour":"daily","dateStandard":1689125243945,"dayLabel":"Days","enableDay":true,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"Hours","minuteLabel":"Mins","redirectUrl":{"link":"#","target":"_self"},"secondLabel":"Secs","timeZone":"UTC+7","timerDaily":{"format":"am","hours":10,"mins":30},"timerEverygreen":{"days":0,"endTime":1688531243945,"hours":3,"mins":0,"startTime":1688520443945},"translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","weekLabel":"Weeks"},"styles":{"backgroundItemColor":"transparent","borderState":{"normal":{"border":"none","borderType":"none","color":"transparent","isCustom":false,"width":"0px"}},"colorLabel":"text-1","colorNumber":"text-2","horizontalGap":"4px","itemPadding":{"custom":{"desktop":{"horizontal":"10px","vertical":"8px"}}},"labelTypo":{"attrs":{"color":"#B4B4B4"},"custom":{"fontSize":{"desktop":"13px","mobile":"12px","tablet":"13px"},"fontStyle":"normal","fontVariants":["100","100italic","300","300italic","regular","italic","700","700italic","900","900italic"],"fontWeight":"400","letterSpacing":"0px","lineHeight":{"desktop":"150%","mobile":"150%","tablet":"150%"}},"type":"paragraph-1"},"numTypo":{"attrs":{"color":"#FFFFFF"},"custom":{"fontSize":{"desktop":"28px","mobile":"24px","tablet":"28px"},"fontStyle":"normal","fontVariants":["100","100italic","300","300italic","regular","italic","700","700italic","900","900italic"],"fontWeight":"700","letterSpacing":"0px","lineHeight":{"desktop":"130%","mobile":"130%","tablet":"130%"}},"type":"heading-2"},"roundedState":{"normal":{"radiusType":"none"}},"textAlign":{"desktop":"left","mobile":"center"}},"tag":"Countdown","uid":"gqNBzyMAOx","childrens":[],"type":"component"}}'
     gp-href="#"
     style="--jc:left;--jc-mobile:center"
     >
      <div id="section-countdown" class="gp-flex gp-flex-wrap gp-w-max gp-relative" style="gap:4px;--jc:left;--jc-mobile:center">
        <a
            href="#"
            target="_self"
            aria-label="Countdown link"
            class="gp-absolute gp-inset-0 gp-z-1"
          > </a>
          
          
    <div
        style="--pl:10px;--pr:10px;--pt:8px;--pb:8px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
    class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gqNBzyMAOx-text">
    <div
      id="day"
        class="gqNBzyMAOx "
        style="--c:var(--g-c-text-2, text-2)"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-countdown-number"
          style="--w:100%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size:28px;--size-tablet:28px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;overflow:hidden"
        >00</div>
      </div>
    </div>
    </gp-text>
    
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gqNBzyMAOx-text">
    <div
      
        class="gqNBzyMAOx "
        style="--c:var(--g-c-text-1, text-1)"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A']"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#B4B4B4;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggqNBzyMAOx_dayLabel }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    
          
    <div
        style="--pl:10px;--pr:10px;--pt:8px;--pb:8px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
    class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gqNBzyMAOx-text">
    <div
      id="hour"
        class="gqNBzyMAOx "
        style="--c:var(--g-c-text-2, text-2)"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-countdown-number"
          style="--w:100%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size:28px;--size-tablet:28px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;overflow:hidden"
        >00</div>
      </div>
    </div>
    </gp-text>
    
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gqNBzyMAOx-text">
    <div
      
        class="gqNBzyMAOx "
        style="--c:var(--g-c-text-1, text-1)"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A']"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#B4B4B4;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggqNBzyMAOx_hourLabel }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    
          
    <div
        style="--pl:10px;--pr:10px;--pt:8px;--pb:8px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
    class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gqNBzyMAOx-text">
    <div
      id="minute"
        class="gqNBzyMAOx "
        style="--c:var(--g-c-text-2, text-2)"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-countdown-number"
          style="--w:100%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size:28px;--size-tablet:28px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;overflow:hidden"
        >00</div>
      </div>
    </div>
    </gp-text>
    
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gqNBzyMAOx-text">
    <div
      
        class="gqNBzyMAOx "
        style="--c:var(--g-c-text-1, text-1)"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A']"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#B4B4B4;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggqNBzyMAOx_minuteLabel }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    
          
    <div
        style="--pl:10px;--pr:10px;--pt:8px;--pb:8px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
    class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gqNBzyMAOx-text">
    <div
      id="second"
        class="gqNBzyMAOx "
        style="--c:var(--g-c-text-2, text-2)"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-countdown-number"
          style="--w:100%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size:28px;--size-tablet:28px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;overflow:hidden"
        >00</div>
      </div>
    </div>
    </gp-text>
    
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gqNBzyMAOx-text">
    <div
      
        class="gqNBzyMAOx "
        style="--c:var(--g-c-text-1, text-1)"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A']"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#B4B4B4;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggqNBzyMAOx_secondLabel }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    
      </div>
     </gp-countdown-timer>
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-countdown.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gDlYKROhEp">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gDlYKROhEp "
        style="--ta:left;--ta-mobile:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size:33px;--size-tablet:33px;--size-mobile:29px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggDlYKROhEp_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g0BefcKbpO">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g0BefcKbpO "
        style="--ta:left;--ta-mobile:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#B4B4B4;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg0BefcKbpO_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--ta:left"
    
  >
    <style>
    .gdfzQaeFuX.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #FFFFFF;
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gdfzQaeFuX:hover::before {
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #FF871D;
  
      
    }

    .gdfzQaeFuX:hover .gp-button-icon {
      color: #FF871D;
    }

     .gdfzQaeFuX .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gdfzQaeFuX:hover .gp-button-price {
      color: #FF871D;
    }

    .gdfzQaeFuX .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gdfzQaeFuX .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gdfzQaeFuX:hover .gp-product-dot-price {
      color: #FF871D;
    }
  </style>
    <button
      type="button" data-id="gdfzQaeFuX" aria-label="GET DEAL NOW"
      
      data-state="idle"
      class="gdfzQaeFuX gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3"
      style="--hvr-bg:transparent;--bg:transparent;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--pl:48px;--pr:48px;--pt:12px;--pb:12px;--pl-tablet:48px;--pr-tablet:48px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:48px;--pr-mobile:48px;--pt-mobile:12px;--pb-mobile:12px;--w:Auto;--w-tablet:Auto;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--hvr-c:#FF871D;--c:var(--g-c-text-3, text-3);--size:16px;--size-tablet:16px;--size-mobile:14px;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:0px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="group-hover/button:!gp-text-inherit gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px;--hvr-c:#FF871D;--c:var(--g-c-text-3, text-3)"
      >
        {{ section.settings.ggdfzQaeFuX_label }}
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>

    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-558430625036502259 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/tienphamvan/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=558430607906964723&sectionId=558430625036502259)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggqNBzyMAOx_dayLabel","label":"ggqNBzyMAOx_dayLabel","default":"Days"},{"type":"html","id":"ggqNBzyMAOx_hourLabel","label":"ggqNBzyMAOx_hourLabel","default":"Hours"},{"type":"html","id":"ggqNBzyMAOx_minuteLabel","label":"ggqNBzyMAOx_minuteLabel","default":"Mins"},{"type":"html","id":"ggqNBzyMAOx_secondLabel","label":"ggqNBzyMAOx_secondLabel","default":"Secs"},{"type":"html","id":"ggqNBzyMAOx_weekLabel","label":"ggqNBzyMAOx_weekLabel","default":"Weeks"},{"type":"html","id":"ggDlYKROhEp_text","label":"ggDlYKROhEp_text","default":"<p>Take Advantage of&nbsp;<br>Our Back-to-School Discount</p>"},{"type":"html","id":"gg0BefcKbpO_text","label":"gg0BefcKbpO_text","default":"<p>Pupils and students: Use code \"SUMMER\" to save. Ends 8.30. Exclusions apply.</p>"},{"type":"html","id":"ggdfzQaeFuX_label","label":"ggdfzQaeFuX_label","default":"GET DEAL NOW"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
