

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-558430701154731112.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-558430701154731112.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-558430701154731112.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-558430701154731112.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-558430701154731112.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-558430701154731112.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-558430701154731112.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-558430701154731112.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-558430701154731112.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-558430701154731112.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-558430701154731112.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-558430701154731112.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-558430701154731112.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-558430701154731112.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-558430701154731112.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-558430701154731112.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-558430701154731112.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-558430701154731112.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-558430701154731112.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-558430701154731112.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-558430701154731112.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-558430701154731112.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-558430701154731112.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-558430701154731112.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-558430701154731112.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-558430701154731112.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-558430701154731112.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-558430701154731112.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-558430701154731112.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-558430701154731112.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-558430701154731112.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-558430701154731112.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-558430701154731112.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-558430701154731112.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-558430701154731112.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-558430701154731112.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-558430701154731112.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-558430701154731112.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-558430701154731112.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-558430701154731112.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-558430701154731112.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-558430701154731112.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-558430701154731112.gps.gpsil [style*="--bgc-tablet:"]{background-color:var(--bgc-tablet)}.gps-558430701154731112.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-558430701154731112.gps.gpsil [style*="--bgp-tablet:"]{background-position:var(--bgp-tablet)}.gps-558430701154731112.gps.gpsil [style*="--bgr-tablet:"]{background-repeat:var(--bgr-tablet)}.gps-558430701154731112.gps.gpsil [style*="--bgs-tablet:"]{background-size:var(--bgs-tablet)}.gps-558430701154731112.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-558430701154731112.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-558430701154731112.gps.gpsil [style*="--jc-tablet:"]{justify-content:var(--jc-tablet)}.gps-558430701154731112.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-558430701154731112.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-558430701154731112.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-558430701154731112.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-558430701154731112.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-558430701154731112.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-558430701154731112.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-558430701154731112.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-558430701154731112.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-558430701154731112.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-558430701154731112.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-558430701154731112.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-558430701154731112.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-558430701154731112.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-558430701154731112.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-558430701154731112.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-558430701154731112.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-558430701154731112.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-558430701154731112.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-558430701154731112.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-558430701154731112.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-558430701154731112.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-558430701154731112.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-558430701154731112.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-558430701154731112.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-558430701154731112.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-558430701154731112.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-558430701154731112.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-558430701154731112.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-558430701154731112.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-558430701154731112.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-558430701154731112.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-558430701154731112.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-558430701154731112.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-558430701154731112.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-558430701154731112 .gp-invisible{visibility:hidden}.gps-558430701154731112 .gp-absolute{position:absolute}.gps-558430701154731112 .gp-relative{position:relative}.gps-558430701154731112 .gp-top-0{top:0}.gps-558430701154731112 .gp-z-1{z-index:1}.gps-558430701154731112 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-558430701154731112 .gp-mb-0{margin-bottom:0}.gps-558430701154731112 .gp-flex{display:flex}.gps-558430701154731112 .gp-grid{display:grid}.gps-558430701154731112 .\!gp-hidden{display:none!important}.gps-558430701154731112 .gp-hidden{display:none}.gps-558430701154731112 .gp-h-full{height:100%}.gps-558430701154731112 .gp-w-full{width:100%}.gps-558430701154731112 .gp-max-w-full{max-width:100%}.gps-558430701154731112 .gp-flex-col{flex-direction:column}.gps-558430701154731112 .gp-items-center{align-items:center}.gps-558430701154731112 .\!gp-justify-center{justify-content:center!important}.gps-558430701154731112 .gp-gap-y-0{row-gap:0}.gps-558430701154731112 .gp-overflow-hidden{overflow:hidden}.gps-558430701154731112 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-558430701154731112 .gp-duration-200{transition-duration:.2s}.gps-558430701154731112 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-558430701154731112 .tablet\:gp-relative{position:relative}.gps-558430701154731112 .tablet\:\!gp-hidden{display:none!important}.gps-558430701154731112 .tablet\:gp-hidden{display:none}.gps-558430701154731112 .tablet\:\!gp-justify-end{justify-content:flex-end!important}.gps-558430701154731112 .tablet\:\!gp-justify-center{justify-content:center!important}}@media (max-width:767px){.gps-558430701154731112 .mobile\:gp-relative{position:relative}.gps-558430701154731112 .mobile\:\!gp-hidden{display:none!important}.gps-558430701154731112 .mobile\:gp-hidden{display:none}.gps-558430701154731112 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-558430701154731112 .mobile\:\!gp-justify-start{justify-content:flex-start!important}.gps-558430701154731112 .mobile\:\!gp-justify-center{justify-content:center!important}}@media (max-width:1024px){.gps-558430701154731112 .tablet\:\[\&\>\*\>\*\]\:\!gp-justify-end>*>*{justify-content:flex-end!important}}@media (max-width:767px){.gps-558430701154731112 .mobile\:\[\&\>\*\]\:\!gp-justify-start>*{justify-content:flex-start!important}}.gps-558430701154731112 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-558430701154731112 .\[\&_p\]\:gp-inline p{display:inline}.gps-558430701154731112 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-558430701154731112 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gIonzvkk0U" data-id="gIonzvkk0U"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pt:0px;--pb:0px;--pt-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#171717;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gIonzvkk0U gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g7hHHTxshG gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:fit-content;--h-tablet:auto;--h-mobile:631px;--d:flex;--d-mobile:flex;--d-tablet:flex;--mb:-1px;--mb-tablet:0px">
      <gp-hero-banner
        gp-data='{"target":"_blank","background":{"desktop":{"attachment":"scroll","color":"#171717","image":{"backupFileKey":"gempages_512024185816482804-d526e6af-d18d-463f-9cf0-5fd83053dbfa.png","height":2401,"src":"https://cdn.shopify.com/s/files/1/0611/4154/9314/files/gempages_512024185816482804-d526e6af-d18d-463f-9cf0-5fd83053dbfa.png","storage":"FILE_CONTENT","width":3000},"lazyLoad":false,"position":{"x":0,"y":100},"repeat":"no-repeat","size":"contain","type":"image"},"tablet":{"attachment":"scroll","color":"#00000000","image":{"backupFileKey":"gempages_512024185816482804-d526e6af-d18d-463f-9cf0-5fd83053dbfa.png","height":2401,"src":"https://cdn.shopify.com/s/files/1/0611/4154/9314/files/gempages_512024185816482804-d526e6af-d18d-463f-9cf0-5fd83053dbfa.png","storage":"FILE_CONTENT","width":3000},"lazyLoad":false,"position":{"x":0,"y":100},"repeat":"no-repeat","size":"contain","type":"image"},"mobile":{"attachment":"scroll","color":"#00000000","image":{"backupFileKey":"gempages_512024185816482804-d526e6af-d18d-463f-9cf0-5fd83053dbfa.png","height":2401,"src":"https://cdn.shopify.com/s/files/1/0611/4154/9314/files/gempages_512024185816482804-d526e6af-d18d-463f-9cf0-5fd83053dbfa.png","storage":"FILE_CONTENT","width":3000},"lazyLoad":false,"position":{"x":0,"y":100},"repeat":"no-repeat","size":"contain","type":"image"}},"uid":"gCsE0FSgmh","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[6,6],"display":"fill"},"mobile":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center","mobile":"top"},"contentPosition2Col":{"desktop":"center","tablet":"bottom"},"aspectRatio":{"desktop":"auto","mobile":"auto"}}'
        gp-href=""
        
        class="gCsE0FSgmh gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--op-mobile:100%;--op-tablet:100%;--h:fit-content;--h-tablet:auto;--h-mobile:631px;--w:100%;--w-tablet:100%;--w-mobile:100%"
        data-id="gCsE0FSgmh"
      >
        
      <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-center tablet:!gp-justify-end mobile:!gp-justify-start"
        style="--h:fit-content;--h-tablet:auto;--h-mobile:631px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--bgc:#171717;--bgc-tablet:#00000000;--bgc-mobile:#00000000;--shadow:none"
      >
        
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_512024185816482804-d526e6af-d18d-463f-9cf0-5fd83053dbfa_768x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAwMCIgaGVpZ2h0PSIyNDAxIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0zMDAwLTI0MDEiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjMwMDAiIGhlaWdodD0iMjQwMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzAwMCIgaGVpZ2h0PSIyNDAxIiBmaWxsPSJ1cmwoI2ctMzAwMC0yNDAxKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMzAwMCIgdG89IjMwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_512024185816482804-d526e6af-d18d-463f-9cf0-5fd83053dbfa_1024x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAwMCIgaGVpZ2h0PSIyNDAxIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0zMDAwLTI0MDEiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjMwMDAiIGhlaWdodD0iMjQwMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzAwMCIgaGVpZ2h0PSIyNDAxIiBmaWxsPSJ1cmwoI2ctMzAwMC0yNDAxKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMzAwMCIgdG89IjMwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        title
        class="adaptive-hero-banner gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAwMCIgaGVpZ2h0PSIyNDAxIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0zMDAwLTI0MDEiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjMwMDAiIGhlaWdodD0iMjQwMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzAwMCIgaGVpZ2h0PSIyNDAxIiBmaWxsPSJ1cmwoI2ctMzAwMC0yNDAxKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMzAwMCIgdG89IjMwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_512024185816482804-d526e6af-d18d-463f-9cf0-5fd83053dbfa.png" | file_url }}"
        width="100%"
        alt=""
        style="--d:none;--d-tablet:none;--d-mobile:none;--h:fit-content;--h-tablet:auto;--h-mobile:631px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    
  </picture>
        <div class="gp-absolute gp-w-full gp-h-full">
          <div
            class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
            >
            <div
              aria-label="Background Image"
              role="banner"
              class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
              style="clip-path:inset(0 0 0 round 0px 0px 0px 0px)"
            > 
            <div class="hero-banner-bg-parallax gp-hero-banner-image-background gp_lazybg"
              style="--bgc:#171717;--bgc-tablet:#00000000;--bgc-mobile:#00000000;--bgp:0% 100%;--bgp-tablet:0% 100%;--bgp-mobile:0% 100%;--bgs:contain;--bgs-tablet:contain;--bgs-mobile:contain;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--bgi:url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAwMCIgaGVpZ2h0PSIyNDAxIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0zMDAwLTI0MDEiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjMwMDAiIGhlaWdodD0iMjQwMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzAwMCIgaGVpZ2h0PSIyNDAxIiBmaWxsPSJ1cmwoI2ctMzAwMC0yNDAxKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMzAwMCIgdG89IjMwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=');--bgi-tablet:url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAwMCIgaGVpZ2h0PSIyNDAxIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0zMDAwLTI0MDEiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjMwMDAiIGhlaWdodD0iMjQwMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzAwMCIgaGVpZ2h0PSIyNDAxIiBmaWxsPSJ1cmwoI2ctMzAwMC0yNDAxKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMzAwMCIgdG89IjMwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=');--bgi-mobile:url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAwMCIgaGVpZ2h0PSIyNDAxIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0zMDAwLTI0MDEiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjMwMDAiIGhlaWdodD0iMjQwMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzAwMCIgaGVpZ2h0PSIyNDAxIiBmaWxsPSJ1cmwoI2ctMzAwMC0yNDAxKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMzAwMCIgdG89IjMwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=');--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
            >
            
            
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg   gp_lazyload"
      data-src="{{ "gempages_512024185816482804-d526e6af-d18d-463f-9cf0-5fd83053dbfa.png" | file_url }}" data-srcset="{{ "gempages_512024185816482804-d526e6af-d18d-463f-9cf0-5fd83053dbfa.png" | file_url }}" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="2237" height="1678" alt="lazy image desktop"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_tl  gp_lazyload"
      data-src="{{ "gempages_512024185816482804-d526e6af-d18d-463f-9cf0-5fd83053dbfa_1024x.png" | file_url }}" data-srcset="{{ "gempages_512024185816482804-d526e6af-d18d-463f-9cf0-5fd83053dbfa_1024x.png" | file_url }}" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="2237" height="1678" alt="lazy image tablet"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg  gp_lazybg_mb gp_lazyload"
      data-src="{{ "gempages_512024185816482804-d526e6af-d18d-463f-9cf0-5fd83053dbfa_768x.png" | file_url }}" data-srcset="{{ "gempages_512024185816482804-d526e6af-d18d-463f-9cf0-5fd83053dbfa_768x.png" | file_url }}" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="2237" height="1678" alt="lazy image mobile"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
            </div></div>
          </div>
          
          </div>
          
       
      
    <div
      id data-id
        style="--pl:0px;--pr:0px;--pt:94px;--pb:152px;--pl-tablet:20px;--pr-tablet:20px;--pt-tablet:20px;--pb-tablet:20px;--pl-mobile:20px;--pr-mobile:20px;--pt-mobile:56px;--pb-mobile:0px;--cg:32px;--pc:center;--pc-tablet:end;--pc-mobile:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:1170px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-end mobile:[&>*>*]:!gp-justify-undefined mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-start gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center;--jc-tablet:end;--o:1;--o-mobile:0"
      class="gBTQDErRtV gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="g3l5FjQZ78" data-id="g3l5FjQZ78"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:0px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:505px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g3l5FjQZ78 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gWK16i9hPb gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gsETXdYqk1">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gsETXdYqk1 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:37px;--ml-mobile:0px;--mb-mobile:25px;--mb-tablet:20px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:Auto;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ff:var(--g-font-heading, heading);--weight:500;--ls:0px;--size:58px;--size-tablet:58px;--size-mobile:37px;--lh:72px;--lh-tablet:Auto;--lh-mobile:47px;--c:#ffffff;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggsETXdYqk1_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gHjF-Mm32U">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gHjF-Mm32U "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--ml:0px;--mb:0px;--pl:0px;--ml-mobile:0px;--mb-mobile:45px;--pl-mobile:0px;--pb-mobile:0px;--ml-tablet:0px;--mb-tablet:55px;--pl-tablet:0px;--pb-tablet:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:Auto;--w-tablet:400px;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:20px;--size-tablet:20px;--size-mobile:13px;--lh:28px;--lh-tablet:28px;--lh-mobile:18.4px;--c:#ffffff;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pb:0px;--pb-tablet:0px;--pb-mobile:0px;overflow:hidden"
        >{{ section.settings.ggHjF-Mm32U_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center;--jc-tablet:end;--o:0;--o-mobile:1;--d-mobile:none"
      class="gIfmAwL95z gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
   
    
      </div>
    
        
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-558430701154731112 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/tienphamvan/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=558430690585084830&sectionId=558430701154731112)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggsETXdYqk1_text","label":"ggsETXdYqk1_text","default":"Believe in the Power"},{"type":"html","id":"ggHjF-Mm32U_text","label":"ggHjF-Mm32U_text","default":"<p>Experience the unparalleled strength and versatility of our Blender Mixer. Designed with cutting-edge technology and precision engineering, our blender mixer stands at the forefront of culinary innovation, promising to elevate your kitchen experience to new heights</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
