

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-557089448181891852.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-557089448181891852.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-557089448181891852.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-557089448181891852.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-557089448181891852.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-557089448181891852.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-557089448181891852.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-557089448181891852.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-557089448181891852.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-557089448181891852.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-557089448181891852.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-557089448181891852.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-557089448181891852.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-557089448181891852.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-557089448181891852.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-557089448181891852.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-557089448181891852.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-557089448181891852.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-557089448181891852.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-557089448181891852.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-557089448181891852.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-557089448181891852.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-557089448181891852.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-557089448181891852.gps.gpsil [style*="--fd:"]{flex-direction:var(--fd)}.gps-557089448181891852.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-557089448181891852.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-557089448181891852.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-557089448181891852.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-557089448181891852.gps.gpsil [style*="--gg:"]{grid-gap:var(--gg)}.gps-557089448181891852.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-557089448181891852.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-557089448181891852.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-557089448181891852.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-557089448181891852.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-557089448181891852.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-557089448181891852.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-557089448181891852.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-557089448181891852.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-557089448181891852.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-557089448181891852.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-557089448181891852.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-557089448181891852.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-557089448181891852.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-557089448181891852.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-557089448181891852.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-557089448181891852.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-557089448181891852.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-557089448181891852.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-557089448181891852.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-557089448181891852.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-557089448181891852.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-557089448181891852.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-557089448181891852.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-557089448181891852.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-557089448181891852.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-557089448181891852.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-557089448181891852.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-557089448181891852.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-557089448181891852.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-557089448181891852.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-557089448181891852.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-557089448181891852.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-557089448181891852.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-557089448181891852.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-557089448181891852.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-557089448181891852.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-557089448181891852.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-557089448181891852.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-557089448181891852.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-557089448181891852.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-557089448181891852.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-557089448181891852.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-557089448181891852.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-557089448181891852 .-gp-rotate-90,.gps-557089448181891852 .gp-rotate-180,.gps-557089448181891852 .gp-rotate-90{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-557089448181891852 .gp-relative{position:relative}.gps-557089448181891852 .gp-z-1{z-index:1}.gps-557089448181891852 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-557089448181891852 .gp-mb-0{margin-bottom:0}.gps-557089448181891852 .gp-flex{display:flex}.gps-557089448181891852 .gp-inline-flex{display:inline-flex}.gps-557089448181891852 .gp-grid{display:grid}.gps-557089448181891852 .\!gp-hidden{display:none!important}.gps-557089448181891852 .gp-hidden{display:none}.gps-557089448181891852 .gp-h-full{height:100%}.gps-557089448181891852 .gp-min-h-0{min-height:0}.gps-557089448181891852 .gp-w-full{width:100%}.gps-557089448181891852 .gp-max-w-full{max-width:100%}.gps-557089448181891852 .-gp-rotate-90{--tw-rotate:-90deg}.gps-557089448181891852 .-gp-rotate-90,.gps-557089448181891852 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-557089448181891852 .gp-rotate-180{--tw-rotate:180deg}.gps-557089448181891852 .gp-rotate-90{--tw-rotate:90deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-557089448181891852 .gp-cursor-pointer{cursor:pointer}.gps-557089448181891852 .gp-flex-col{flex-direction:column}.gps-557089448181891852 .gp-items-center{align-items:center}.gps-557089448181891852 .gp-justify-center{justify-content:center}.gps-557089448181891852 .gp-gap-y-0{row-gap:0}.gps-557089448181891852 .gp-overflow-hidden{overflow:hidden}.gps-557089448181891852 .gp-overflow-clip{overflow:clip}.gps-557089448181891852 .gp-break-words{overflow-wrap:break-word}.gps-557089448181891852 .gp-rounded-none{border-radius:0}.gps-557089448181891852 .gp-text-center{text-align:center}.gps-557089448181891852 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-557089448181891852 .gp-no-underline{text-decoration-line:none}.gps-557089448181891852 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-557089448181891852 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-557089448181891852 .gp-duration-200{transition-duration:.2s}.gps-557089448181891852 .gp-duration-300{transition-duration:.3s}.gps-557089448181891852 .gp-duration-500{transition-duration:.5s}.gps-557089448181891852 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-557089448181891852 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-557089448181891852 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-557089448181891852 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-557089448181891852 .gp-group\/button:hover .group-hover\/button\:\!gp-text-inherit{color:inherit!important}}.gps-557089448181891852 .gp-group\/button[data-state=loading] .group-data-\[state\=loading\]\/button\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-557089448181891852 .tablet\:\!gp-hidden{display:none!important}.gps-557089448181891852 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-557089448181891852 .mobile\:\!gp-hidden{display:none!important}.gps-557089448181891852 .mobile\:gp-hidden{display:none}}.gps-557089448181891852 .\[\&\>svg\]\:\!gp-h-\[var\(--height-iconCollapseSize\)\]>svg{height:var(--height-iconCollapseSize)!important}.gps-557089448181891852 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}.gps-557089448181891852 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-557089448181891852 .\[\&_p\]\:gp-inline p{display:inline}.gps-557089448181891852 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-557089448181891852 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-557089448181891852 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="g6zCxlTfgx" data-id="g6zCxlTfgx"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-xl);--pl:15px;--pb:var(--g-s-xl);--pr:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g6zCxlTfgx gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gG0kvf5lD4 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gEb2-Ul4L5" data-id="gEb2-Ul4L5"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-l);--pb:var(--g-s-l);--cg:30px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gEb2-Ul4L5 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g1Idk1cW46 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="guDVcQSOg0" data-id="guDVcQSOg0"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mt:var(--g-s-2xl);--mb:var(--g-s-2xl);--pr:var(--g-s-l);--mt-mobile:var(--g-s-2xl);--mb-mobile:var(--g-s-xl);--pr-tablet:0px;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="guDVcQSOg0 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gmta4vSWuj gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gDM2KVD42p">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gDM2KVD42p "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:38px;--size-tablet:38px;--size-mobile:33px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;--c:#242424;--tt:none;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggDM2KVD42p_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gFarl-noUX">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gFarl-noUX "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424242;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggFarl-noUX_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
    
  >
    <style>
    .gsRA1iHm1-.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #FF9900;
  
      
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      
    }

    .gsRA1iHm1-:hover::before {
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #00D074;
  
      
    }

    .gsRA1iHm1-:hover .gp-button-icon {
      color: #FFFFFF;
    }

     .gsRA1iHm1- .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gsRA1iHm1-:hover .gp-button-price {
      color: #FFFFFF;
    }

    .gsRA1iHm1- .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gsRA1iHm1- .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gsRA1iHm1-:hover .gp-product-dot-price {
      color: #FFFFFF;
    }
  </style>
    <a
      href="#" target="_self" data-id="gsRA1iHm1-" aria-label="JOIN THE CLUB"
      
      data-state="idle"
      class="gsRA1iHm1- gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center"
      style="--hvr-bg:#00D074;--bg:#FF9900;--bblr:40px;--bbrr:40px;--btlr:40px;--btrr:40px;--shadow:none;--pl:40px;--pr:40px;--pt:13.5px;--pb:13.5px;--pl-tablet:40px;--pr-tablet:40px;--pt-tablet:13.5px;--pb-tablet:13.5px;--pl-mobile:48px;--pr-mobile:48px;--pt-mobile:13.5px;--pb-mobile:13.5px;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--hvr-c:#FFFFFF;--c:var(--g-c-text-3, text-3);--size:16px;--size-tablet:16px;--size-mobile:14px;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="group-hover/button:!gp-text-inherit gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px;--hvr-c:#FFFFFF;--c:var(--g-c-text-3, text-3)"
      >
        {{ section.settings.ggsRA1iHm1-_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
    </div>
   
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="geIZrBngEI gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%" class="glLZ5Zw8gb ">
      
    <gp-accordion
      data-id="glLZ5Zw8gb"
     uid="glLZ5Zw8gb"
      class="gp-flex gp-w-full gp-flex-col "
      style="--gg:null;border-radius:inherit"
      gp-data='{"setting":{"iconSvg":"plus","isIconPlus":true,"activeKey":1,"expanded":false,"expandItem":true,"iconPosition":"right","iconGlobalSize":{"desktop":{"gap":"16px","height":"16px","width":"16px"}},"layoutHeader":"text-only","expandedMode":"single","configIconSize":16,"parentUid":"glLZ5Zw8gb","childListNumber":["0"],"chidlrenUid":["g0u9B0ksYn","gCWGfO-x_X","gGsk36K1lb","gl_4_oaKvA","glF_hrYp7n"]},"styles":{"color":{"normal":"#242424"},"headerBorder":{"normal":{"border":"solid","borderType":"style-1","borderWidth":"0","color":"#E0E0E0","isCustom":true,"position":"bottom","width":"0px 0px 0px 0px"}},"fullWidth":{"desktop":true},"width":{"desktop":"1170px"},"itemHeaderSpacing":{"custom":{"desktop":{"horizontal":"undefinedpx","vertical":"32px"},"mobile":{"horizontal":"undefinedpx","vertical":"28px"}}},"textColor":{"normal":"#242424"},"iconColor":{"active":"#121212","hover":"#121212","normal":"#121212"},"contentSizePadding":{"desktop":{"gap":null,"padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px","type":"custom"}},"mobile":{"padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px","type":"custom"}},"tablet":{"padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px","type":"custom"}}},"headerContentPadding":{"desktop":{"padding":{"bottom":"32px","left":"undefinedpx","right":"undefinedpx","top":"32px","type":"custom"}},"mobile":{"padding":{"bottom":"28px","left":"undefinedpx","right":"undefinedpx","top":"28px","type":"custom"}},"tablet":{"padding":{"bottom":"32px","left":"undefinedpx","right":"undefinedpx","top":"32px","type":"custom"}}},"widthHeightSize":{"desktop":{"width":"100%"},"mobile":{"width":"100%"},"tablet":{"width":"100%"}}},"uid":"glLZ5Zw8gb"}'
    >
    <div class="gp-hidden gp-rotate-90 -gp-rotate-90 gp-rotate-180"></div>
    <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-glLZ5Zw8gb-0:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-glLZ5Zw8gb-0:hover .gp-icon.gp-accordion-item-hover 
     {
        color:  !important
      }
    .gp-accordion-item .gp-accordion-item-glLZ5Zw8gb-0:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-glLZ5Zw8gb-0:hover .gp-icon.gp-accordion-item-active
     {
        color:  !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 1px 0px;--bc:#E0E0E0">
    <div
      data-index="0"
      class="glLZ5Zw8gb gp-accordion-item gp-overflow-hidden gp-child-item-glLZ5Zw8gb"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="g0u9B0ksYn"
        id="g0u9B0ksYn"
        data-index="0"
        class="glLZ5Zw8gb gp-accordion-item-glLZ5Zw8gb-0 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:undefinedpx;--pr:undefinedpx;--pt:32px;--pb:32px;--pl-tablet:undefinedpx;--pr-tablet:undefinedpx;--pt-tablet:32px;--pb-tablet:32px;--pl-mobile:undefinedpx;--pr-mobile:undefinedpx;--pt-mobile:28px;--pb-mobile:28px;--fd:row-reverse;--jc:space-between;gap:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#E0E0E0;--c:#242424"
      >
       <style class="accordion-style">.glLZ5Zw8gb.gp-accordion-item-glLZ5Zw8gb-0:hover .gp-collapsible-icon, .glLZ5Zw8gb.gp-accordion-item-glLZ5Zw8gb-0:hover .gp-icon {
                  color: undefined
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--c:#242424;width:16px;height:16px"
            data-index="0"
            class="glLZ5Zw8gb gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg width='16' height='16' fill='currentColor' viewBox="0 0 448 512"><path fill='currentColor' d="M400 288h-352c-17.69 0-32-14.32-32-32.01s14.31-31.99 32-31.99h352c17.69 0 32 14.3 32 31.99S417.7 288 400 288z"/></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:normal;--size:21px;--size-tablet:21px;--size-mobile:19px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gglLZ5Zw8gb_childItem_0 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="g0u9B0ksYn"
        data-index="0"
        data-show="true"
        class="glLZ5Zw8gb gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:1fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="g0u9B0ksYn"
        data-index="0"
        class="glLZ5Zw8gb gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:0px;--pb-tablet:0px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px" >
            <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      
      class="gIWq4YsqkZ gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g0k0TeY6O1">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g0k0TeY6O1 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mt:0px;--mb:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424242;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg0k0TeY6O1_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-glLZ5Zw8gb-1:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-glLZ5Zw8gb-1:hover .gp-icon.gp-accordion-item-hover 
     {
        color:  !important
      }
    .gp-accordion-item .gp-accordion-item-glLZ5Zw8gb-1:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-glLZ5Zw8gb-1:hover .gp-icon.gp-accordion-item-active
     {
        color:  !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 1px 0px;--bc:#E0E0E0">
    <div
      data-index="1"
      class="glLZ5Zw8gb gp-accordion-item gp-overflow-hidden gp-child-item-glLZ5Zw8gb"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gCWGfO-x_X"
        id="gCWGfO-x_X"
        data-index="1"
        class="glLZ5Zw8gb gp-accordion-item-glLZ5Zw8gb-1 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:undefinedpx;--pr:undefinedpx;--pt:32px;--pb:32px;--pl-tablet:undefinedpx;--pr-tablet:undefinedpx;--pt-tablet:32px;--pb-tablet:32px;--pl-mobile:undefinedpx;--pr-mobile:undefinedpx;--pt-mobile:28px;--pb-mobile:28px;--fd:row-reverse;--jc:space-between;gap:16px;--c:#242424;--bs:solid;--bw:0px 0px 0px 0px;--bc:#E0E0E0"
      >
       <style class="accordion-style">.glLZ5Zw8gb.gp-accordion-item-glLZ5Zw8gb-1:hover .gp-collapsible-icon, .glLZ5Zw8gb.gp-accordion-item-glLZ5Zw8gb-1:hover .gp-icon {
                  color: undefined
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--c:#242424;width:16px;height:16px"
            data-index="1"
            class="glLZ5Zw8gb gp-accordion-item_icon gp-collapsible-icon gp-rotate-90 gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg fill='currentColor' width='16' height='16' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill='currentColor' d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:normal;--size:21px;--size-tablet:21px;--size-mobile:19px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gglLZ5Zw8gb_childItem_1 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gCWGfO-x_X"
        data-index="1"
        data-show="false"
        class="glLZ5Zw8gb gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gCWGfO-x_X"
        data-index="1"
        class="glLZ5Zw8gb gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:0px;--pr:0px;--pl-tablet:0px;--pr-tablet:0px;--pl-mobile:0px;--pr-mobile:0px" >
            <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      
      class="gVxLbnD7E5 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g3osWLHt_R">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g3osWLHt_R "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mt:0px;--mb:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424242;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg3osWLHt_R_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-glLZ5Zw8gb-2:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-glLZ5Zw8gb-2:hover .gp-icon.gp-accordion-item-hover 
     {
        color:  !important
      }
    .gp-accordion-item .gp-accordion-item-glLZ5Zw8gb-2:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-glLZ5Zw8gb-2:hover .gp-icon.gp-accordion-item-active
     {
        color:  !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 1px 0px;--bc:#E0E0E0">
    <div
      data-index="2"
      class="glLZ5Zw8gb gp-accordion-item gp-overflow-hidden gp-child-item-glLZ5Zw8gb"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gGsk36K1lb"
        id="gGsk36K1lb"
        data-index="2"
        class="glLZ5Zw8gb gp-accordion-item-glLZ5Zw8gb-2 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:undefinedpx;--pr:undefinedpx;--pt:32px;--pb:32px;--pl-tablet:undefinedpx;--pr-tablet:undefinedpx;--pt-tablet:32px;--pb-tablet:32px;--pl-mobile:undefinedpx;--pr-mobile:undefinedpx;--pt-mobile:28px;--pb-mobile:28px;--fd:row-reverse;--jc:space-between;gap:16px;--c:#242424;--bs:solid;--bw:0px 0px 0px 0px;--bc:#E0E0E0"
      >
       <style class="accordion-style">.glLZ5Zw8gb.gp-accordion-item-glLZ5Zw8gb-2:hover .gp-collapsible-icon, .glLZ5Zw8gb.gp-accordion-item-glLZ5Zw8gb-2:hover .gp-icon {
                  color: undefined
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--c:#242424;width:16px;height:16px"
            data-index="2"
            class="glLZ5Zw8gb gp-accordion-item_icon gp-collapsible-icon gp-rotate-90 gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg fill='currentColor' width='16' height='16' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill='currentColor' d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:normal;--size:21px;--size-tablet:21px;--size-mobile:19px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gglLZ5Zw8gb_childItem_2 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gGsk36K1lb"
        data-index="2"
        data-show="false"
        class="glLZ5Zw8gb gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gGsk36K1lb"
        data-index="2"
        class="glLZ5Zw8gb gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:0px;--pr:0px;--pl-tablet:0px;--pr-tablet:0px;--pl-mobile:0px;--pr-mobile:0px" >
            <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      
      class="gTH24dUedZ gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g3_pLUCfRA">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g3_pLUCfRA "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mt:0px;--mb:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424242;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg3_pLUCfRA_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-glLZ5Zw8gb-3:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-glLZ5Zw8gb-3:hover .gp-icon.gp-accordion-item-hover 
     {
        color:  !important
      }
    .gp-accordion-item .gp-accordion-item-glLZ5Zw8gb-3:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-glLZ5Zw8gb-3:hover .gp-icon.gp-accordion-item-active
     {
        color:  !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 1px 0px;--bc:#E0E0E0">
    <div
      data-index="3"
      class="glLZ5Zw8gb gp-accordion-item gp-overflow-hidden gp-child-item-glLZ5Zw8gb"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gl_4_oaKvA"
        id="gl_4_oaKvA"
        data-index="3"
        class="glLZ5Zw8gb gp-accordion-item-glLZ5Zw8gb-3 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:undefinedpx;--pr:undefinedpx;--pt:32px;--pb:32px;--pl-tablet:undefinedpx;--pr-tablet:undefinedpx;--pt-tablet:32px;--pb-tablet:32px;--pl-mobile:undefinedpx;--pr-mobile:undefinedpx;--pt-mobile:28px;--pb-mobile:28px;--fd:row-reverse;--jc:space-between;gap:16px;--c:#242424;--bs:solid;--bw:0px 0px 0px 0px;--bc:#E0E0E0"
      >
       <style class="accordion-style">.glLZ5Zw8gb.gp-accordion-item-glLZ5Zw8gb-3:hover .gp-collapsible-icon, .glLZ5Zw8gb.gp-accordion-item-glLZ5Zw8gb-3:hover .gp-icon {
                  color: undefined
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--c:#242424;width:16px;height:16px"
            data-index="3"
            class="glLZ5Zw8gb gp-accordion-item_icon gp-collapsible-icon gp-rotate-90 gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg fill='currentColor' width='16' height='16' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill='currentColor' d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:normal;--size:21px;--size-tablet:21px;--size-mobile:19px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gglLZ5Zw8gb_childItem_3 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gl_4_oaKvA"
        data-index="3"
        data-show="false"
        class="glLZ5Zw8gb gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gl_4_oaKvA"
        data-index="3"
        class="glLZ5Zw8gb gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:0px;--pr:0px;--pl-tablet:0px;--pr-tablet:0px;--pl-mobile:0px;--pr-mobile:0px" >
            <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      
      class="g29dR1YV7g gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gUnFIMtekB">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gUnFIMtekB "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mt:0px;--mb:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424242;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggUnFIMtekB_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-glLZ5Zw8gb-4:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-glLZ5Zw8gb-4:hover .gp-icon.gp-accordion-item-hover 
     {
        color:  !important
      }
    .gp-accordion-item .gp-accordion-item-glLZ5Zw8gb-4:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-glLZ5Zw8gb-4:hover .gp-icon.gp-accordion-item-active
     {
        color:  !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 1px 0px;--bc:#E0E0E0">
    <div
      data-index="4"
      class="glLZ5Zw8gb gp-accordion-item gp-overflow-hidden gp-child-item-glLZ5Zw8gb"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="glF_hrYp7n"
        id="glF_hrYp7n"
        data-index="4"
        class="glLZ5Zw8gb gp-accordion-item-glLZ5Zw8gb-4 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:undefinedpx;--pr:undefinedpx;--pt:32px;--pb:32px;--pl-tablet:undefinedpx;--pr-tablet:undefinedpx;--pt-tablet:32px;--pb-tablet:32px;--pl-mobile:undefinedpx;--pr-mobile:undefinedpx;--pt-mobile:28px;--pb-mobile:28px;--fd:row-reverse;--jc:space-between;gap:16px;--c:#242424;--bs:solid;--bw:0px 0px 0px 0px;--bc:#E0E0E0"
      >
       <style class="accordion-style">.glLZ5Zw8gb.gp-accordion-item-glLZ5Zw8gb-4:hover .gp-collapsible-icon, .glLZ5Zw8gb.gp-accordion-item-glLZ5Zw8gb-4:hover .gp-icon {
                  color: undefined
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--c:#242424;width:16px;height:16px"
            data-index="4"
            class="glLZ5Zw8gb gp-accordion-item_icon gp-collapsible-icon gp-rotate-90 gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg fill='currentColor' width='16' height='16' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill='currentColor' d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:normal;--size:21px;--size-tablet:21px;--size-mobile:19px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gglLZ5Zw8gb_childItem_4 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="glF_hrYp7n"
        data-index="4"
        data-show="false"
        class="glLZ5Zw8gb gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="glF_hrYp7n"
        data-index="4"
        class="glLZ5Zw8gb gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:0px;--pr:0px;--pl-tablet:0px;--pr-tablet:0px;--pl-mobile:0px;--pr-mobile:0px" >
            <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      
      class="glBJz2z3Zb gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gjGMbT5Jj1">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gjGMbT5Jj1 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mt:0px;--mb:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424242;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggjGMbT5Jj1_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            
    </gp-accordion>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-accordion.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 10",
    "tag": "section",
    "class": "gps-557089448181891852 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/tienphamvan/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=557089424106586914&sectionId=557089448181891852)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggDM2KVD42p_text","label":"ggDM2KVD42p_text","default":"<p>Got Questions? We’ve Got You Covered!</p>"},{"type":"html","id":"ggFarl-noUX_text","label":"ggFarl-noUX_text","default":"<p>Chat with us or call us on 999-999-999</p>"},{"type":"html","id":"ggsRA1iHm1-_label","label":"ggsRA1iHm1-_label","default":"JOIN THE CLUB"},{"type":"html","id":"gglLZ5Zw8gb_childItem_0","label":"gglLZ5Zw8gb_childItem_0","default":"What kind of socks will I get?"},{"type":"html","id":"gglLZ5Zw8gb_childItem_1","label":"gglLZ5Zw8gb_childItem_1","default":"What if I don’t like the socks?"},{"type":"html","id":"gglLZ5Zw8gb_childItem_2","label":"gglLZ5Zw8gb_childItem_2","default":"Do you ship internationally?"},{"type":"html","id":"gglLZ5Zw8gb_childItem_3","label":"gglLZ5Zw8gb_childItem_3","default":"How do I cancel or skip my subsription?"},{"type":"html","id":"gglLZ5Zw8gb_childItem_4","label":"gglLZ5Zw8gb_childItem_4","default":"What payment method do you accept?"},{"type":"html","id":"gg0k0TeY6O1_text","label":"gg0k0TeY6O1_text","default":"<p>All of our socks are crew fitting socks. They will come up to your mid-calf. They are all made from a high quality combed cotton blend.</p>"},{"type":"html","id":"gg3osWLHt_R_text","label":"gg3osWLHt_R_text","default":"<p>We always hope that our subscribers LOVE their socks. If you don't for any reason, send us a message and as part of our happiness guarantee, we'll send you a free replacement pair with your next shipment.&nbsp;<br>Only active subscribers can request replacement socks, and you can only do so once every 6 months. If your subscription is canceled or expired, you won't be able to exchange your socks.<br>We're confident you'll love the socks in your sock subscription box. But if you don't, let us know and we'll include a replacement pair in your next shipment, free of charge. We just want to make you happy.</p>"},{"type":"html","id":"gg3_pLUCfRA_text","label":"gg3_pLUCfRA_text","default":"<p>We currently ship to these countries: United States of America, Canada, Australia, New Zealand, Switzerland, South Korea and Singapore.</p>"},{"type":"html","id":"ggUnFIMtekB_text","label":"ggUnFIMtekB_text","default":"<p>Canceling is easy! You can log into your account, click \"Cancel\" and then confirm your choice. If you need a break, you also have the option to skip a crate, and your crate plan will just go on a month longer.</p>"},{"type":"html","id":"ggjGMbT5Jj1_text","label":"ggjGMbT5Jj1_text","default":"<p>We accept Visa, Mastercard, American Express, Paypal and Amazon Pay (U.S. Only).</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
