

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-557559592851080272.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-557559592851080272.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-557559592851080272.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-557559592851080272.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-557559592851080272.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-557559592851080272.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-557559592851080272.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-557559592851080272.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-557559592851080272.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-557559592851080272.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-557559592851080272.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-557559592851080272.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-557559592851080272.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-557559592851080272.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-557559592851080272.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-557559592851080272.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-557559592851080272.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-557559592851080272.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-557559592851080272.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-557559592851080272.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-557559592851080272.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-557559592851080272.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-557559592851080272.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-557559592851080272.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-557559592851080272.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-557559592851080272.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-557559592851080272.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-557559592851080272.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-557559592851080272.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-557559592851080272.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-557559592851080272.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-557559592851080272.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-557559592851080272.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-557559592851080272.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-557559592851080272.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-557559592851080272.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-557559592851080272.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-557559592851080272.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-557559592851080272.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-557559592851080272.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-557559592851080272.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-557559592851080272.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-557559592851080272.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-557559592851080272.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-557559592851080272.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-557559592851080272.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-557559592851080272.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-557559592851080272.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-557559592851080272.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-557559592851080272.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-557559592851080272.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-557559592851080272.gps.gpsil [style*="--o-tablet:"]{order:var(--o-tablet)}.gps-557559592851080272.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-557559592851080272.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-557559592851080272.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-557559592851080272.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-557559592851080272.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-557559592851080272.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-557559592851080272.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-557559592851080272.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-557559592851080272.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-557559592851080272.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-557559592851080272.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-557559592851080272.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-557559592851080272.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-557559592851080272.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-557559592851080272.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-557559592851080272.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-557559592851080272.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-557559592851080272 .-gp-translate-x-1\/2,.gps-557559592851080272 .-gp-translate-y-1\/2{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-557559592851080272 .gp-visible{visibility:visible}.gps-557559592851080272 .gp-invisible{visibility:hidden}.gps-557559592851080272 .gp-absolute{position:absolute}.gps-557559592851080272 .gp-relative{position:relative}.gps-557559592851080272 .gp-left-1\/2{left:50%}.gps-557559592851080272 .gp-top-1\/2{top:50%}.gps-557559592851080272 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-557559592851080272 .gp-mb-0{margin-bottom:0}.gps-557559592851080272 .gp-flex{display:flex}.gps-557559592851080272 .gp-grid{display:grid}.gps-557559592851080272 .gp-contents{display:contents}.gps-557559592851080272 .\!gp-hidden{display:none!important}.gps-557559592851080272 .gp-hidden{display:none}.gps-557559592851080272 .gp-h-full{height:100%}.gps-557559592851080272 .gp-w-\[68px\]{width:68px}.gps-557559592851080272 .gp-w-full{width:100%}.gps-557559592851080272 .\!gp-max-w-none{max-width:none!important}.gps-557559592851080272 .gp-max-w-full{max-width:100%}.gps-557559592851080272 .-gp-translate-x-1\/2{--tw-translate-x:-50%}.gps-557559592851080272 .-gp-translate-x-1\/2,.gps-557559592851080272 .-gp-translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-557559592851080272 .-gp-translate-y-1\/2{--tw-translate-y:-50%}.gps-557559592851080272 .gp-flex-col{flex-direction:column}.gps-557559592851080272 .gp-gap-y-0{row-gap:0}.gps-557559592851080272 .gp-overflow-hidden{overflow:hidden}.gps-557559592851080272 .gp-bg-black{--tw-bg-opacity:1;background-color:rgb(0 0 0/var(--tw-bg-opacity))}.gps-557559592851080272 .gp-bg-cover{background-size:cover}.gps-557559592851080272 .gp-bg-center{background-position:50%}.gps-557559592851080272 .gp-opacity-100{opacity:1}.gps-557559592851080272 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-557559592851080272 .gp-duration-200{transition-duration:.2s}.gps-557559592851080272 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-557559592851080272 .tablet\:\!gp-hidden{display:none!important}.gps-557559592851080272 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-557559592851080272 .mobile\:\!gp-hidden{display:none!important}.gps-557559592851080272 .mobile\:gp-hidden{display:none}}.gps-557559592851080272 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-557559592851080272 .\[\&_\>_article\]\:gp-aspect-\[var\(--aspect\)\]>article{aspect-ratio:var(--aspect)}@media (max-width:1024px){.gps-557559592851080272 .tablet\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-tablet\2c _var\(--aspect\)\)\]>article{aspect-ratio:var(--aspect-tablet,var(--aspect))}}@media (max-width:767px){.gps-557559592851080272 .mobile\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-mobile\2c _var\(--aspect-tablet\2c _var\(--aspect\)\)\)\]>article{aspect-ratio:var(--aspect-mobile,var(--aspect-tablet,var(--aspect)))}}.gps-557559592851080272 .\[\&_p\]\:gp-inline p{display:inline}.gps-557559592851080272 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-557559592851080272 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gN-NcuD77t" data-id="gN-NcuD77t"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:80px;--pb:80px;--pt-tablet:56px;--pb-tablet:56px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gN-NcuD77t gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gAVfXh6Xke gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gAciBYkqPi" data-id="gAciBYkqPi"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--pl:15px;--pb:80px;--pr:15px;--mb-mobile:0px;--pl-mobile:15px;--pb-mobile:70px;--pr-mobile:15px;--mb-tablet:0px;--pl-tablet:30px;--pb-tablet:70px;--pr-tablet:30px;--cg:32px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gAciBYkqPi gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gZTAmFZnap gp-relative gp-flex gp-flex-col"
    >
      
    <div
      
      data-id="grDpO26k3d"
      class="!gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative grDpO26k3d"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--mb:0px;--aspect:auto;--aspect-tablet:auto"
    >
      
    <gp-lite-youtube-embed gp-data='{"lazy":true,"style":{"--aspect":"auto","--aspect-tablet":"auto"},"videoTitle":"Video","iframeSrc":"https://www.youtube-nocookie.com/embed/QzpC1qSfkfs?autoplay=1&state=1&mute=1&&loop=1&playlist=QzpC1qSfkfs&controls=0"}'>
      
      
      <article
        aria-hidden
        class="gp-relative gp-bg-cover gp-bg-center gp-lite-youtube-embed-article gp_lazybg"
        data-title="Video"
        style="--bgi:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=');--aspect:auto;--aspect-tablet:auto"
      >
        
  <img
      id="gp-video-grDpO26k3d"
      
      draggable="false"
      class="gp-invisible gp-w-full gp-h-full gp_lazyforbg gp_lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0329/7647/0151/files/9ff7fd42ffe94c5f95c104da4c6c80ff_0-0_screenshot.png?v=1718870321" data-srcset="https://cdn.shopify.com/s/files/1/0329/7647/0151/files/9ff7fd42ffe94c5f95c104da4c6c80ff_0-0_screenshot.png?v=1718870321" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="2237" height="1678" alt="Poster"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
        <button
          type="button"
          class="gp-absolute gp-top-1/2 gp-left-1/2 gp-w-[68px] -gp-translate-x-1/2 -gp-translate-y-1/2 gp-lite-youtube-embed-button gp-visible gp-opacity-100"
          aria-label="Play"
        >
          <svg height="100%" version="1.1" viewBox="0 0 68 48" width="100%">
            <path
              d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
              fill="#f00"
            ></path>
            <path d="M 45,24 27,14 27,34" fill="#fff"></path>
          </svg>
        </button>
        
      </article>
    </gp-lite-youtube-embed>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-lite-youtube-embed.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
      <style id="custom-css-grDpO26k3d">
        .grDpO26k3d{
    border-radius: 10px !important;
    overflow: hidden;
    background: rgba(255,255,255,0) !important;
}

@media only screen and (max-width: 1023px) and (min-width: 767px){
   .grDpO26k3d{
       aspect-ratio: 708 / 400 !important;
   } 
   
   .grDpO26k3d video{
      width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
    object-position: center !important;
   }
}

      </style>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g4wQ3hnxU0 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gF3N_aiO7u" data-id="gF3N_aiO7u"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--pl:32px;--mb-tablet:0px;--pt-tablet:30px;--pl-tablet:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gF3N_aiO7u gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gEWYwfSR_d gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g1vanY-1mX">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g1vanY-1mX "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:0.25px;--size:40px;--size-tablet:35px;--size-mobile:35px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#161723;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg1vanY-1mX_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="ggjtXEcbDA">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="ggjtXEcbDA "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:16px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424153;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gggjtXEcbDA_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gVI_4zr2Lh" data-id="gVI_4zr2Lh"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--pl:15px;--pr:15px;--mb-mobile:0px;--pl-mobile:15px;--pr-mobile:15px;--mb-tablet:0px;--pl-tablet:30px;--pr-tablet:30px;--cg:32px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gVI_4zr2Lh gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center;--o-tablet:1"
      class="guJ5sjNtLS gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gTYkFF1_TF" data-id="gTYkFF1_TF"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--pl:0px;--pr:32px;--mb-tablet:0px;--pt-tablet:30px;--pl-tablet:0px;--pr-tablet:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gTYkFF1_TF gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gXbl2q6S_j gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gPx2TuL7z8">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gPx2TuL7z8 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:40px;--size-tablet:35px;--size-mobile:35px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#161723;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggPx2TuL7z8_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gLcDk_0-eo">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gLcDk_0-eo "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:16px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424153;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggLcDk_0-eo_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center;--o-tablet:0"
      class="gm8LmIwSdl gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="ggLFEK93mc"
    role="presentation"
    class="gp-group/image ggLFEK93mc"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--mb:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="https://gempages-demo.myshopify.com/cdn/shop/t/1/assets/495611768014373769-99d3349b-5f1a-4064-8218-37549b20c163.png?v=143069223597345060541705567350" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjI4MCIgaGVpZ2h0PSIxOTIxIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjgwLTE5MjEiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyODAiIGhlaWdodD0iMTkyMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjI4MCIgaGVpZ2h0PSIxOTIxIiBmaWxsPSJ1cmwoI2ctMjI4MC0xOTIxKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjI4MCIgdG89IjIyODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://gempages-demo.myshopify.com/cdn/shop/t/1/assets/495611768014373769-99d3349b-5f1a-4064-8218-37549b20c163.png?v=143069223597345060541705567350" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjI4MCIgaGVpZ2h0PSIxOTIxIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjgwLTE5MjEiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyODAiIGhlaWdodD0iMTkyMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjI4MCIgaGVpZ2h0PSIxOTIxIiBmaWxsPSJ1cmwoI2ctMjI4MC0xOTIxKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjI4MCIgdG89IjIyODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjI4MCIgaGVpZ2h0PSIxOTIxIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjgwLTE5MjEiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyODAiIGhlaWdodD0iMTkyMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjI4MCIgaGVpZ2h0PSIxOTIxIiBmaWxsPSJ1cmwoI2ctMjI4MC0xOTIxKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjI4MCIgdG89IjIyODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="https://gempages-demo.myshopify.com/cdn/shop/t/1/assets/495611768014373769-99d3349b-5f1a-4064-8218-37549b20c163.png?v=143069223597345060541705567350"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
      <style id="custom-css-ggLFEK93mc">
        .ggLFEK93mc {

}

@media only screen and (max-width: 1023px) and (min-width: 767px){
   .ggLFEK93mc{
       aspect-ratio: 708 / 400 !important;
       overflow: hidden;
   } 
   
   .ggLFEK93mc img{
      width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
    object-position: center !important;
   }
}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-557559592851080272 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/tienphamvan/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=557559570889704373&sectionId=557559592851080272)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg1vanY-1mX_text","label":"gg1vanY-1mX_text","default":"<p>Improve overall gastrointestinal health for better nutrient absorption</p>"},{"type":"html","id":"gggjtXEcbDA_text","label":"gggjtXEcbDA_text","default":"<p>Through rigorous scientific studies and consultations with veterinarians, we have created a breakthrough formula exclusively tailored to combat the health challenges prevalent in dogs. A staggering 91% of our customers have reported significant improvements in their dogs' health after incorporating our product into their diet.</p>"},{"type":"html","id":"ggPx2TuL7z8_text","label":"ggPx2TuL7z8_text","default":"<p>Prebiotics nourish the beneficial gut bacteria, supporting digestive health</p>"},{"type":"html","id":"ggLcDk_0-eo_text","label":"ggLcDk_0-eo_text","default":"<p>Our dog food formula contains carefully selected prebiotics that work in harmony with the gut microbiota, providing the necessary nutrients for the growth and maintenance of beneficial bacteria, ultimately supporting digestive health.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
