

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-557559594797237241.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-557559594797237241.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-557559594797237241.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-557559594797237241.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-557559594797237241.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-557559594797237241.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-557559594797237241.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-557559594797237241.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-557559594797237241.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-557559594797237241.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-557559594797237241.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-557559594797237241.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-557559594797237241.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-557559594797237241.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-557559594797237241.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-557559594797237241.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-557559594797237241.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-557559594797237241.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-557559594797237241.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-557559594797237241.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-557559594797237241.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-557559594797237241.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-557559594797237241.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-557559594797237241.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-557559594797237241.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-557559594797237241.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-557559594797237241.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-557559594797237241.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-557559594797237241.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-557559594797237241.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-557559594797237241.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-557559594797237241.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-557559594797237241.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-557559594797237241.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-557559594797237241.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-557559594797237241.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-557559594797237241.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-557559594797237241.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-557559594797237241.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-557559594797237241.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-557559594797237241.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-557559594797237241.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-557559594797237241.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-557559594797237241.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-557559594797237241.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-557559594797237241.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-557559594797237241.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-557559594797237241.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-557559594797237241.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-557559594797237241.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-557559594797237241.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-557559594797237241.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-557559594797237241.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-557559594797237241.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-557559594797237241.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-557559594797237241.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-557559594797237241.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-557559594797237241.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-557559594797237241.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-557559594797237241.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-557559594797237241.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-557559594797237241.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-557559594797237241.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-557559594797237241.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-557559594797237241.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-557559594797237241.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-557559594797237241.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-557559594797237241.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-557559594797237241.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-557559594797237241.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-557559594797237241.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-557559594797237241.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-557559594797237241.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-557559594797237241.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-557559594797237241.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-557559594797237241.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-557559594797237241.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-557559594797237241.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-557559594797237241.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-557559594797237241.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-557559594797237241.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-557559594797237241.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-557559594797237241 .gp-relative{position:relative}.gps-557559594797237241 .gp-z-1{z-index:1}.gps-557559594797237241 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-557559594797237241 .gp-mb-0{margin-bottom:0}.gps-557559594797237241 .gp-flex{display:flex}.gps-557559594797237241 .gp-inline-flex{display:inline-flex}.gps-557559594797237241 .gp-grid{display:grid}.gps-557559594797237241 .gp-contents{display:contents}.gps-557559594797237241 .\!gp-hidden{display:none!important}.gps-557559594797237241 .gp-hidden{display:none}.gps-557559594797237241 .gp-h-full{height:100%}.gps-557559594797237241 .gp-w-full{width:100%}.gps-557559594797237241 .gp-max-w-full{max-width:100%}.gps-557559594797237241 .gp-flex-col{flex-direction:column}.gps-557559594797237241 .gp-items-center{align-items:center}.gps-557559594797237241 .gp-justify-center{justify-content:center}.gps-557559594797237241 .gp-gap-y-0{row-gap:0}.gps-557559594797237241 .gp-overflow-hidden{overflow:hidden}.gps-557559594797237241 .gp-break-words{overflow-wrap:break-word}.gps-557559594797237241 .gp-rounded-none{border-radius:0}.gps-557559594797237241 .gp-text-center{text-align:center}.gps-557559594797237241 .gp-leading-\[0\]{line-height:0}.gps-557559594797237241 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-557559594797237241 .gp-no-underline{text-decoration-line:none}.gps-557559594797237241 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-557559594797237241 .gp-duration-200{transition-duration:.2s}.gps-557559594797237241 .gp-duration-300{transition-duration:.3s}.gps-557559594797237241 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-557559594797237241 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-557559594797237241 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-557559594797237241 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-557559594797237241 .gp-group\/button:hover .group-hover\/button\:\!gp-text-inherit{color:inherit!important}}.gps-557559594797237241 .gp-group\/button[data-state=loading] .group-data-\[state\=loading\]\/button\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-557559594797237241 .tablet\:\!gp-hidden{display:none!important}.gps-557559594797237241 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-557559594797237241 .mobile\:\!gp-hidden{display:none!important}.gps-557559594797237241 .mobile\:gp-hidden{display:none}}.gps-557559594797237241 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-557559594797237241 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-557559594797237241 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-557559594797237241 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-557559594797237241 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-557559594797237241 .\[\&_p\]\:gp-inline p{display:inline}.gps-557559594797237241 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-557559594797237241 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-557559594797237241 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gTbcPvUKcT" data-id="gTbcPvUKcT"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:80px;--pb:80px;--pt-tablet:56px;--pb-tablet:56px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F8F8F8;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gTbcPvUKcT gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gQmvOkYCdZ gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="g1zbbViHAM" data-id="g1zbbViHAM"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--pl:15px;--pr:15px;--mb-mobile:0px;--pl-mobile:15px;--pr-mobile:15px;--mb-tablet:0px;--pl-tablet:30px;--pr-tablet:30px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:1000px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g1zbbViHAM gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g0z1CNlJWq gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gwJnSlH-CK">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gwJnSlH-CK "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:0.25px;--size:40px;--size-tablet:35px;--size-mobile:35px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#161723;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggwJnSlH-CK_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g3n5zc_StG">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g3n5zc_StG "
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:16px;--pb:48px;--mb-tablet:0px;--pt-tablet:14px;--pb-tablet:42px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:877px;--w-tablet:877px;--w-mobile:877px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424153;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg3n5zc_StG_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gRwQB-GSqp" data-id="gRwQB-GSqp"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--pl:15px;--pr:15px;--mb-mobile:0px;--pl-mobile:15px;--pr-mobile:15px;--mb-tablet:0px;--pl-tablet:30px;--pr-tablet:30px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:1000px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gRwQB-GSqp gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gzg1GpY4o5 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gp1en9eLW3" data-id="gp1en9eLW3"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--pt:58px;--mb-mobile:0px;--pt-mobile:33px;--mb-tablet:0px;--pt-tablet:98px;--cg:0px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gp1en9eLW3 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start;--jc-mobile:end"
      class="gEUPXhEq6g gp-relative gp-flex gp-flex-col"
    >
      
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start;--jc-mobile:end"
      class="ggHvZsC8gN gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gkTEjz1Nce" data-id="gkTEjz1Nce"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:10px;--btrr:10px;--mb:0px;--mb-mobile:0px;--pl-mobile:3px;--pr-mobile:3px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#FFDBBC;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gkTEjz1Nce gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g58p-xN3fy gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gVCpwYae_p"
    role="presentation"
    class="gp-group/image gVCpwYae_p"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--left:50%;--op:100%;--pos:absolute;--right:undefined;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--top:-58px;--top-mobile:-33px;--top-tablet:-99px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="https://gempages-demo.myshopify.com/cdn/shop/t/1/assets/495611768014373769-6cd4777c-85fb-44f3-982d-a6cca0258547.png?v=173697130716945790181705547018" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzA0IiBoZWlnaHQ9IjUyMSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMzA0LTUyMSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMzA0IiBoZWlnaHQ9IjUyMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzA0IiBoZWlnaHQ9IjUyMSIgZmlsbD0idXJsKCNnLTMwNC01MjEpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0zMDQiIHRvPSIzMDQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://gempages-demo.myshopify.com/cdn/shop/t/1/assets/495611768014373769-6cd4777c-85fb-44f3-982d-a6cca0258547.png?v=173697130716945790181705547018" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzA0IiBoZWlnaHQ9IjUyMSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMzA0LTUyMSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMzA0IiBoZWlnaHQ9IjUyMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzA0IiBoZWlnaHQ9IjUyMSIgZmlsbD0idXJsKCNnLTMwNC01MjEpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0zMDQiIHRvPSIzMDQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzA0IiBoZWlnaHQ9IjUyMSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMzA0LTUyMSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMzA0IiBoZWlnaHQ9IjUyMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzA0IiBoZWlnaHQ9IjUyMSIgZmlsbD0idXJsKCNnLTMwNC01MjEpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0zMDQiIHRvPSIzMDQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="https://gempages-demo.myshopify.com/cdn/shop/t/1/assets/495611768014373769-6cd4777c-85fb-44f3-982d-a6cca0258547.png?v=173697130716945790181705547018"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:130px;--h-tablet:176px;--h-mobile:95px"
      />
    
  </picture>
      </div>
  </div>
      <style id="custom-css-gVCpwYae_p">
        .gVCpwYae_p {
    transform: translateX(-50%);
}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="ga25KV44V7">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="ga25KV44V7 "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:83px;--pb:16px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:600;--ls:0.5px;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#161723;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gga25KV44V7_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start;--jc-mobile:end"
      class="g8JNmTgfJa gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gndUwN4HS0"
    role="presentation"
    class="gp-group/image gndUwN4HS0"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="https://gempages-demo.myshopify.com/cdn/shop/t/1/assets/495611768014373769-e55d51f4-9946-4a30-8066-6ac032ac28f5.png?v=91068990545356453541704953371" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTY4IiBoZWlnaHQ9IjI3NyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMTY4LTI3NyI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMTY4IiBoZWlnaHQ9IjI3NyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTY4IiBoZWlnaHQ9IjI3NyIgZmlsbD0idXJsKCNnLTE2OC0yNzcpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0xNjgiIHRvPSIxNjgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://gempages-demo.myshopify.com/cdn/shop/t/1/assets/495611768014373769-e55d51f4-9946-4a30-8066-6ac032ac28f5.png?v=91068990545356453541704953371" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTY4IiBoZWlnaHQ9IjI3NyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMTY4LTI3NyI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMTY4IiBoZWlnaHQ9IjI3NyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTY4IiBoZWlnaHQ9IjI3NyIgZmlsbD0idXJsKCNnLTE2OC0yNzcpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0xNjgiIHRvPSIxNjgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTY4IiBoZWlnaHQ9IjI3NyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMTY4LTI3NyI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMTY4IiBoZWlnaHQ9IjI3NyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTY4IiBoZWlnaHQ9IjI3NyIgZmlsbD0idXJsKCNnLTE2OC0yNzcpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0xNjgiIHRvPSIxNjgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="https://gempages-demo.myshopify.com/cdn/shop/t/1/assets/495611768014373769-e55d51f4-9946-4a30-8066-6ac032ac28f5.png?v=91068990545356453541704953371"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:69px;--h-tablet:69px;--h-mobile:69px"
      />
    
  </picture>
      </div>
  </div>
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gqQihKpf8G">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gqQihKpf8G "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:14px;--pb:16px;--mb-mobile:0px;--pt-mobile:14px;--pl-mobile:3px;--pb-mobile:16px;--pr-mobile:3px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:600;--ls:0.5px;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#161723;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggqQihKpf8G_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
      <style id="custom-css-gp1en9eLW3">
        .gp1en9eLW3 {
    --gtc: minmax(38.144329%, 4fr) minmax(0, 4fr) minmax(0, 4fr) !important; 
}
      </style>
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gIuMnwzvtN" data-id="gIuMnwzvtN"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:10px;--btrr:10px;--mb:0px;--cg:0px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gIuMnwzvtN gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gk1kEONIGZ gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gtQyREBndT">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gtQyREBndT "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:21px;--pl:32px;--pb:21px;--pr:32px;--mb-mobile:0px;--pt-mobile:14px;--pl-mobile:14px;--pb-mobile:14px;--pr-mobile:14px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424153;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggtQyREBndT_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g4KkcsGXfh gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="g5dT0UqJ5l" data-id="g5dT0UqJ5l"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1200%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#FFDBBC;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g5dT0UqJ5l gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gBUr_tJvu8 gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:21px;--pb:21px;--mb-mobile:0px;--pt-mobile:14px;--pb-mobile:14px;--mb-tablet:0px;--pt-tablet:23px;--pb-tablet:23px;--ta:left"
      class="gp-leading-[0] g2fKhWtdZH"
    >
      <div 
      data-id="g2fKhWtdZH"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#EE6F4B;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg data-id="496639295335957343" xmlns="http://www.w3.org/2000/svg" width="24px" height="25px" viewBox="0 0 24 25" fill="none" preserveAspectRatio="none">
<path d="M24 12.2998C24 15.4824 22.7357 18.5347 20.4853 20.7851C18.2348 23.0355 15.1826 24.2998 12 24.2998C8.8174 24.2998 5.76515 23.0355 3.51472 20.7851C1.26428 18.5347 0 15.4824 0 12.2998C0 9.11721 1.26428 6.06496 3.51472 3.81452C5.76515 1.56409 8.8174 0.299805 12 0.299805C15.1826 0.299805 18.2348 1.56409 20.4853 3.81452C22.7357 6.06496 24 9.11721 24 12.2998ZM18.045 7.7548C17.9379 7.64803 17.8103 7.56396 17.6699 7.50763C17.5295 7.45129 17.3792 7.42384 17.228 7.42692C17.0768 7.43 16.9277 7.46355 16.7897 7.52556C16.6518 7.58756 16.5277 7.67676 16.425 7.7878L11.2155 14.4253L8.076 11.2843C7.86274 11.0856 7.58067 10.9774 7.28922 10.9825C6.99776 10.9877 6.71969 11.1058 6.51357 11.3119C6.30745 11.518 6.18938 11.7961 6.18424 12.0875C6.1791 12.379 6.28728 12.661 6.486 12.8743L10.455 16.8448C10.5619 16.9515 10.6892 17.0356 10.8294 17.0921C10.9695 17.1485 11.1196 17.1762 11.2706 17.1734C11.4217 17.1706 11.5706 17.1374 11.7085 17.0758C11.8465 17.0142 11.9706 16.9254 12.0735 16.8148L18.0615 9.3298C18.2656 9.11755 18.3784 8.83372 18.3756 8.53924C18.3728 8.24477 18.2546 7.96313 18.0465 7.7548H18.045Z" fill="#EE6F4B"/>
</svg></span>
    </div>
      </div>
    </div>
    
      <style id="custom-css-g2fKhWtdZH">
        .g2fKhWtdZH .overflow-hidden{
    overflow: visible!important;
}
      </style>
    
    </div>
    </div>
   
    
      <style id="custom-css-g5dT0UqJ5l">
        .g5dT0UqJ5l {
    height: 100% !important;
    align-items: center !important;
    justify-content: center !important;
    display: flex !important;
    flex-wrap: nowrap;
}
      </style>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gOlQyQXWcb gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:21px;--pb:21px;--mb-mobile:0px;--pt-mobile:14px;--pb-mobile:14px;--ta:center"
      class="gp-leading-[0] gwSAyhmveQ"
    >
      <div 
      data-id="gwSAyhmveQ"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#7F7F8D;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg data-id="496639423950095199" xmlns="http://www.w3.org/2000/svg" width="24px" height="25px" viewBox="0 0 24 25" fill="none" preserveAspectRatio="none">
<g clip-path="url(#clip0_4598_32074)">
<path d="M24 12.2998C24 15.4824 22.7357 18.5347 20.4853 20.7851C18.2348 23.0355 15.1826 24.2998 12 24.2998C8.8174 24.2998 5.76515 23.0355 3.51472 20.7851C1.26428 18.5347 0 15.4824 0 12.2998C0 9.11721 1.26428 6.06496 3.51472 3.81452C5.76515 1.56409 8.8174 0.299805 12 0.299805C15.1826 0.299805 18.2348 1.56409 20.4853 3.81452C22.7357 6.06496 24 9.11721 24 12.2998ZM8.031 7.2688C7.89017 7.12797 7.69916 7.04886 7.5 7.04886C7.30084 7.04886 7.10983 7.12797 6.969 7.2688C6.82817 7.40963 6.74905 7.60064 6.74905 7.7998C6.74905 7.99897 6.82817 8.18997 6.969 8.3308L10.9395 12.2998L6.969 16.2688C6.89927 16.3385 6.84395 16.4213 6.80621 16.5124C6.76848 16.6035 6.74905 16.7012 6.74905 16.7998C6.74905 16.8984 6.76848 16.9961 6.80621 17.0872C6.84395 17.1783 6.89927 17.2611 6.969 17.3308C7.10983 17.4716 7.30084 17.5508 7.5 17.5508C7.59862 17.5508 7.69627 17.5313 7.78738 17.4936C7.87848 17.4559 7.96127 17.4005 8.031 17.3308L12 13.3603L15.969 17.3308C16.0387 17.4005 16.1215 17.4559 16.2126 17.4936C16.3037 17.5313 16.4014 17.5508 16.5 17.5508C16.5986 17.5508 16.6963 17.5313 16.7874 17.4936C16.8785 17.4559 16.9613 17.4005 17.031 17.3308C17.1007 17.2611 17.156 17.1783 17.1938 17.0872C17.2315 16.9961 17.2509 16.8984 17.2509 16.7998C17.2509 16.7012 17.2315 16.6035 17.1938 16.5124C17.156 16.4213 17.1007 16.3385 17.031 16.2688L13.0605 12.2998L17.031 8.3308C17.1007 8.26107 17.156 8.17829 17.1938 8.08718C17.2315 7.99607 17.2509 7.89842 17.2509 7.7998C17.2509 7.70119 17.2315 7.60354 17.1938 7.51243C17.156 7.42132 17.1007 7.33854 17.031 7.2688C16.9613 7.19907 16.8785 7.14376 16.7874 7.10602C16.6963 7.06828 16.5986 7.04886 16.5 7.04886C16.4014 7.04886 16.3037 7.06828 16.2126 7.10602C16.1215 7.14376 16.0387 7.19907 15.969 7.2688L12 11.2393L8.031 7.2688Z" fill="#7F7F8D"/>
</g>
<defs>
<clipPath id="clip0_4598_32074">
<rect width="24" height="24" fill="white" transform="translate(0 0.299805)"/>
</clipPath>
</defs>
</svg></span>
    </div>
      </div>
    </div>
    
      <style id="custom-css-gwSAyhmveQ">
        .gwSAyhmveQ .overflow-hidden{
    overflow: visible!important;
}
      </style>
    
    </div>
    </div>
   
    
      <style id="custom-css-gIuMnwzvtN">
        .gIuMnwzvtN {
      --gtc: minmax(38.144329%, 4fr) minmax(0, 4fr) minmax(0, 4fr) !important; 
}
      </style>
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="g4aM-JwW1r" data-id="g4aM-JwW1r"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--cg:0px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g4aM-JwW1r gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gV-U8nr4Id gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gDznYulJ2W">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gDznYulJ2W "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:21px;--pl:32px;--pb:21px;--pr:32px;--mb-mobile:0px;--pt-mobile:14px;--pl-mobile:14px;--pb-mobile:14px;--pr-mobile:14px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424153;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggDznYulJ2W_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gYLr4lI6pz gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gz6SGKC8Ql" data-id="gz6SGKC8Ql"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1200%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#FFDBBC;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gz6SGKC8Ql gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gUsg3b0Wxk gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:21px;--pb:21px;--mb-mobile:0px;--pt-mobile:14px;--pb-mobile:14px;--mb-tablet:0px;--pt-tablet:23px;--pb-tablet:23px;--ta:left"
      class="gp-leading-[0] gnrbjmjmCE"
    >
      <div 
      data-id="gnrbjmjmCE"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#EE6F4B;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg data-id="496639295335957343" xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
<path d="M24 12.2998C24 15.4824 22.7357 18.5347 20.4853 20.7851C18.2348 23.0355 15.1826 24.2998 12 24.2998C8.8174 24.2998 5.76515 23.0355 3.51472 20.7851C1.26428 18.5347 0 15.4824 0 12.2998C0 9.11721 1.26428 6.06496 3.51472 3.81452C5.76515 1.56409 8.8174 0.299805 12 0.299805C15.1826 0.299805 18.2348 1.56409 20.4853 3.81452C22.7357 6.06496 24 9.11721 24 12.2998ZM18.045 7.7548C17.9379 7.64803 17.8103 7.56396 17.6699 7.50763C17.5295 7.45129 17.3792 7.42384 17.228 7.42692C17.0768 7.43 16.9277 7.46355 16.7897 7.52556C16.6518 7.58756 16.5277 7.67676 16.425 7.7878L11.2155 14.4253L8.076 11.2843C7.86274 11.0856 7.58067 10.9774 7.28922 10.9825C6.99776 10.9877 6.71969 11.1058 6.51357 11.3119C6.30745 11.518 6.18938 11.7961 6.18424 12.0875C6.1791 12.379 6.28728 12.661 6.486 12.8743L10.455 16.8448C10.5619 16.9515 10.6892 17.0356 10.8294 17.0921C10.9695 17.1485 11.1196 17.1762 11.2706 17.1734C11.4217 17.1706 11.5706 17.1374 11.7085 17.0758C11.8465 17.0142 11.9706 16.9254 12.0735 16.8148L18.0615 9.3298C18.2656 9.11755 18.3784 8.83372 18.3756 8.53924C18.3728 8.24477 18.2546 7.96313 18.0465 7.7548H18.045Z" fill="#EE6F4B"/>
</svg></span>
    </div>
      </div>
    </div>
    
      <style id="custom-css-gnrbjmjmCE">
        .gnrbjmjmCE .overflow-hidden{
    overflow: visible!important;
}
      </style>
    
    </div>
    </div>
   
    
      <style id="custom-css-gz6SGKC8Ql">
        .gz6SGKC8Ql {
    height: 100% !important;
    align-items: center !important;
    justify-content: center !important;
    display: flex !important;
    flex-wrap: nowrap;
}
      </style>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gRlcnceBeq gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:21px;--pb:21px;--mb-mobile:0px;--pt-mobile:14px;--pb-mobile:14px;--ta:center"
      class="gp-leading-[0] g13gQ82zhc"
    >
      <div 
      data-id="g13gQ82zhc"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#7F7F8D;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg data-id="496639423950095199" xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
<g clip-path="url(#clip0_4598_32074)">
<path d="M24 12.2998C24 15.4824 22.7357 18.5347 20.4853 20.7851C18.2348 23.0355 15.1826 24.2998 12 24.2998C8.8174 24.2998 5.76515 23.0355 3.51472 20.7851C1.26428 18.5347 0 15.4824 0 12.2998C0 9.11721 1.26428 6.06496 3.51472 3.81452C5.76515 1.56409 8.8174 0.299805 12 0.299805C15.1826 0.299805 18.2348 1.56409 20.4853 3.81452C22.7357 6.06496 24 9.11721 24 12.2998ZM8.031 7.2688C7.89017 7.12797 7.69916 7.04886 7.5 7.04886C7.30084 7.04886 7.10983 7.12797 6.969 7.2688C6.82817 7.40963 6.74905 7.60064 6.74905 7.7998C6.74905 7.99897 6.82817 8.18997 6.969 8.3308L10.9395 12.2998L6.969 16.2688C6.89927 16.3385 6.84395 16.4213 6.80621 16.5124C6.76848 16.6035 6.74905 16.7012 6.74905 16.7998C6.74905 16.8984 6.76848 16.9961 6.80621 17.0872C6.84395 17.1783 6.89927 17.2611 6.969 17.3308C7.10983 17.4716 7.30084 17.5508 7.5 17.5508C7.59862 17.5508 7.69627 17.5313 7.78738 17.4936C7.87848 17.4559 7.96127 17.4005 8.031 17.3308L12 13.3603L15.969 17.3308C16.0387 17.4005 16.1215 17.4559 16.2126 17.4936C16.3037 17.5313 16.4014 17.5508 16.5 17.5508C16.5986 17.5508 16.6963 17.5313 16.7874 17.4936C16.8785 17.4559 16.9613 17.4005 17.031 17.3308C17.1007 17.2611 17.156 17.1783 17.1938 17.0872C17.2315 16.9961 17.2509 16.8984 17.2509 16.7998C17.2509 16.7012 17.2315 16.6035 17.1938 16.5124C17.156 16.4213 17.1007 16.3385 17.031 16.2688L13.0605 12.2998L17.031 8.3308C17.1007 8.26107 17.156 8.17829 17.1938 8.08718C17.2315 7.99607 17.2509 7.89842 17.2509 7.7998C17.2509 7.70119 17.2315 7.60354 17.1938 7.51243C17.156 7.42132 17.1007 7.33854 17.031 7.2688C16.9613 7.19907 16.8785 7.14376 16.7874 7.10602C16.6963 7.06828 16.5986 7.04886 16.5 7.04886C16.4014 7.04886 16.3037 7.06828 16.2126 7.10602C16.1215 7.14376 16.0387 7.19907 15.969 7.2688L12 11.2393L8.031 7.2688Z" fill="#7F7F8D"/>
</g>
<defs>
<clipPath id="clip0_4598_32074">
<rect width="24" height="24" fill="white" transform="translate(0 0.299805)"/>
</clipPath>
</defs>
</svg></span>
    </div>
      </div>
    </div>
    
      <style id="custom-css-g13gQ82zhc">
        .g13gQ82zhc .overflow-hidden{
    overflow: visible!important;
}
      </style>
    
    </div>
    </div>
   
    
      <style id="custom-css-g4aM-JwW1r">
        .g4aM-JwW1r {
  --gtc: minmax(38.144329%, 4fr) minmax(0, 4fr) minmax(0, 4fr) !important; 
}
      </style>
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gRJ4ZsbqeU" data-id="gRJ4ZsbqeU"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--cg:0px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gRJ4ZsbqeU gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g5EfpTG3B_ gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gM3GTyOMQy">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gM3GTyOMQy "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:21px;--pl:32px;--pb:21px;--pr:32px;--mb-mobile:0px;--pt-mobile:14px;--pl-mobile:14px;--pb-mobile:14px;--pr-mobile:14px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424153;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggM3GTyOMQy_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gpuVykw7SP gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gjYUmDCP7C" data-id="gjYUmDCP7C"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1200%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#FFDBBC;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gjYUmDCP7C gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g0pk5s0gn8 gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:21px;--pb:21px;--mb-mobile:0px;--pt-mobile:14px;--pb-mobile:14px;--mb-tablet:0px;--pt-tablet:23px;--pb-tablet:23px;--ta:left"
      class="gp-leading-[0] geTnN5qlUw"
    >
      <div 
      data-id="geTnN5qlUw"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#EE6F4B;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg data-id="496639295335957343" xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
<path d="M24 12.2998C24 15.4824 22.7357 18.5347 20.4853 20.7851C18.2348 23.0355 15.1826 24.2998 12 24.2998C8.8174 24.2998 5.76515 23.0355 3.51472 20.7851C1.26428 18.5347 0 15.4824 0 12.2998C0 9.11721 1.26428 6.06496 3.51472 3.81452C5.76515 1.56409 8.8174 0.299805 12 0.299805C15.1826 0.299805 18.2348 1.56409 20.4853 3.81452C22.7357 6.06496 24 9.11721 24 12.2998ZM18.045 7.7548C17.9379 7.64803 17.8103 7.56396 17.6699 7.50763C17.5295 7.45129 17.3792 7.42384 17.228 7.42692C17.0768 7.43 16.9277 7.46355 16.7897 7.52556C16.6518 7.58756 16.5277 7.67676 16.425 7.7878L11.2155 14.4253L8.076 11.2843C7.86274 11.0856 7.58067 10.9774 7.28922 10.9825C6.99776 10.9877 6.71969 11.1058 6.51357 11.3119C6.30745 11.518 6.18938 11.7961 6.18424 12.0875C6.1791 12.379 6.28728 12.661 6.486 12.8743L10.455 16.8448C10.5619 16.9515 10.6892 17.0356 10.8294 17.0921C10.9695 17.1485 11.1196 17.1762 11.2706 17.1734C11.4217 17.1706 11.5706 17.1374 11.7085 17.0758C11.8465 17.0142 11.9706 16.9254 12.0735 16.8148L18.0615 9.3298C18.2656 9.11755 18.3784 8.83372 18.3756 8.53924C18.3728 8.24477 18.2546 7.96313 18.0465 7.7548H18.045Z" fill="#EE6F4B"/>
</svg></span>
    </div>
      </div>
    </div>
    
      <style id="custom-css-geTnN5qlUw">
        .geTnN5qlUw .overflow-hidden{
    overflow: visible!important;
}
      </style>
    
    </div>
    </div>
   
    
      <style id="custom-css-gjYUmDCP7C">
        .gjYUmDCP7C {
    height: 100% !important;
    align-items: center !important;
    justify-content: center !important;
    display: flex !important;
    flex-wrap: nowrap;
}
      </style>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g4JMDBzT_t gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:21px;--pb:21px;--mb-mobile:0px;--pt-mobile:14px;--pb-mobile:14px;--ta:center"
      class="gp-leading-[0] gQn98C6Lk-"
    >
      <div 
      data-id="gQn98C6Lk-"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#7F7F8D;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg data-id="496639423950095199" xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
<g clip-path="url(#clip0_4598_32074)">
<path d="M24 12.2998C24 15.4824 22.7357 18.5347 20.4853 20.7851C18.2348 23.0355 15.1826 24.2998 12 24.2998C8.8174 24.2998 5.76515 23.0355 3.51472 20.7851C1.26428 18.5347 0 15.4824 0 12.2998C0 9.11721 1.26428 6.06496 3.51472 3.81452C5.76515 1.56409 8.8174 0.299805 12 0.299805C15.1826 0.299805 18.2348 1.56409 20.4853 3.81452C22.7357 6.06496 24 9.11721 24 12.2998ZM8.031 7.2688C7.89017 7.12797 7.69916 7.04886 7.5 7.04886C7.30084 7.04886 7.10983 7.12797 6.969 7.2688C6.82817 7.40963 6.74905 7.60064 6.74905 7.7998C6.74905 7.99897 6.82817 8.18997 6.969 8.3308L10.9395 12.2998L6.969 16.2688C6.89927 16.3385 6.84395 16.4213 6.80621 16.5124C6.76848 16.6035 6.74905 16.7012 6.74905 16.7998C6.74905 16.8984 6.76848 16.9961 6.80621 17.0872C6.84395 17.1783 6.89927 17.2611 6.969 17.3308C7.10983 17.4716 7.30084 17.5508 7.5 17.5508C7.59862 17.5508 7.69627 17.5313 7.78738 17.4936C7.87848 17.4559 7.96127 17.4005 8.031 17.3308L12 13.3603L15.969 17.3308C16.0387 17.4005 16.1215 17.4559 16.2126 17.4936C16.3037 17.5313 16.4014 17.5508 16.5 17.5508C16.5986 17.5508 16.6963 17.5313 16.7874 17.4936C16.8785 17.4559 16.9613 17.4005 17.031 17.3308C17.1007 17.2611 17.156 17.1783 17.1938 17.0872C17.2315 16.9961 17.2509 16.8984 17.2509 16.7998C17.2509 16.7012 17.2315 16.6035 17.1938 16.5124C17.156 16.4213 17.1007 16.3385 17.031 16.2688L13.0605 12.2998L17.031 8.3308C17.1007 8.26107 17.156 8.17829 17.1938 8.08718C17.2315 7.99607 17.2509 7.89842 17.2509 7.7998C17.2509 7.70119 17.2315 7.60354 17.1938 7.51243C17.156 7.42132 17.1007 7.33854 17.031 7.2688C16.9613 7.19907 16.8785 7.14376 16.7874 7.10602C16.6963 7.06828 16.5986 7.04886 16.5 7.04886C16.4014 7.04886 16.3037 7.06828 16.2126 7.10602C16.1215 7.14376 16.0387 7.19907 15.969 7.2688L12 11.2393L8.031 7.2688Z" fill="#7F7F8D"/>
</g>
<defs>
<clipPath id="clip0_4598_32074">
<rect width="24" height="24" fill="white" transform="translate(0 0.299805)"/>
</clipPath>
</defs>
</svg></span>
    </div>
      </div>
    </div>
    
      <style id="custom-css-gQn98C6Lk-">
        .gQn98C6Lk- .overflow-hidden{
    overflow: visible!important;
}
      </style>
    
    </div>
    </div>
   
    
      <style id="custom-css-gRJ4ZsbqeU">
        .gRJ4ZsbqeU {
  --gtc: minmax(38.144329%, 4fr) minmax(0, 4fr) minmax(0, 4fr) !important; 
}
      </style>
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gJKAlWLE1z" data-id="gJKAlWLE1z"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--cg:0px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gJKAlWLE1z gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gAYsgpALMa gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gg3vgpmQgp">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gg3vgpmQgp "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:21px;--pl:32px;--pb:21px;--pr:32px;--mb-mobile:0px;--pt-mobile:14px;--pl-mobile:14px;--pb-mobile:14px;--pr-mobile:14px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424153;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggg3vgpmQgp_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gPsERLA2qS gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="g5aZjgDYAR" data-id="g5aZjgDYAR"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1200%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#FFDBBC;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g5aZjgDYAR gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gTozlP5hhd gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:21px;--pb:21px;--mb-mobile:0px;--pt-mobile:14px;--pb-mobile:14px;--mb-tablet:0px;--pt-tablet:23px;--pb-tablet:23px;--ta:left"
      class="gp-leading-[0] gng-cGLhLr"
    >
      <div 
      data-id="gng-cGLhLr"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#EE6F4B;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg data-id="496639295335957343" xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
<path d="M24 12.2998C24 15.4824 22.7357 18.5347 20.4853 20.7851C18.2348 23.0355 15.1826 24.2998 12 24.2998C8.8174 24.2998 5.76515 23.0355 3.51472 20.7851C1.26428 18.5347 0 15.4824 0 12.2998C0 9.11721 1.26428 6.06496 3.51472 3.81452C5.76515 1.56409 8.8174 0.299805 12 0.299805C15.1826 0.299805 18.2348 1.56409 20.4853 3.81452C22.7357 6.06496 24 9.11721 24 12.2998ZM18.045 7.7548C17.9379 7.64803 17.8103 7.56396 17.6699 7.50763C17.5295 7.45129 17.3792 7.42384 17.228 7.42692C17.0768 7.43 16.9277 7.46355 16.7897 7.52556C16.6518 7.58756 16.5277 7.67676 16.425 7.7878L11.2155 14.4253L8.076 11.2843C7.86274 11.0856 7.58067 10.9774 7.28922 10.9825C6.99776 10.9877 6.71969 11.1058 6.51357 11.3119C6.30745 11.518 6.18938 11.7961 6.18424 12.0875C6.1791 12.379 6.28728 12.661 6.486 12.8743L10.455 16.8448C10.5619 16.9515 10.6892 17.0356 10.8294 17.0921C10.9695 17.1485 11.1196 17.1762 11.2706 17.1734C11.4217 17.1706 11.5706 17.1374 11.7085 17.0758C11.8465 17.0142 11.9706 16.9254 12.0735 16.8148L18.0615 9.3298C18.2656 9.11755 18.3784 8.83372 18.3756 8.53924C18.3728 8.24477 18.2546 7.96313 18.0465 7.7548H18.045Z" fill="#EE6F4B"/>
</svg></span>
    </div>
      </div>
    </div>
    
      <style id="custom-css-gng-cGLhLr">
        .gng-cGLhLr .overflow-hidden{
    overflow: visible!important;
}
      </style>
    
    </div>
    </div>
   
    
      <style id="custom-css-g5aZjgDYAR">
        .g5aZjgDYAR {
    height: 100% !important;
    align-items: center !important;
    justify-content: center !important;
    display: flex !important;
    flex-wrap: nowrap;
}
      </style>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gkD8nf4Y5U gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:21px;--pb:21px;--mb-mobile:0px;--pt-mobile:14px;--pb-mobile:14px;--ta:center"
      class="gp-leading-[0] gd8apmOZk_"
    >
      <div 
      data-id="gd8apmOZk_"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#7F7F8D;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg data-id="496639423950095199" xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
<g clip-path="url(#clip0_4598_32074)">
<path d="M24 12.2998C24 15.4824 22.7357 18.5347 20.4853 20.7851C18.2348 23.0355 15.1826 24.2998 12 24.2998C8.8174 24.2998 5.76515 23.0355 3.51472 20.7851C1.26428 18.5347 0 15.4824 0 12.2998C0 9.11721 1.26428 6.06496 3.51472 3.81452C5.76515 1.56409 8.8174 0.299805 12 0.299805C15.1826 0.299805 18.2348 1.56409 20.4853 3.81452C22.7357 6.06496 24 9.11721 24 12.2998ZM8.031 7.2688C7.89017 7.12797 7.69916 7.04886 7.5 7.04886C7.30084 7.04886 7.10983 7.12797 6.969 7.2688C6.82817 7.40963 6.74905 7.60064 6.74905 7.7998C6.74905 7.99897 6.82817 8.18997 6.969 8.3308L10.9395 12.2998L6.969 16.2688C6.89927 16.3385 6.84395 16.4213 6.80621 16.5124C6.76848 16.6035 6.74905 16.7012 6.74905 16.7998C6.74905 16.8984 6.76848 16.9961 6.80621 17.0872C6.84395 17.1783 6.89927 17.2611 6.969 17.3308C7.10983 17.4716 7.30084 17.5508 7.5 17.5508C7.59862 17.5508 7.69627 17.5313 7.78738 17.4936C7.87848 17.4559 7.96127 17.4005 8.031 17.3308L12 13.3603L15.969 17.3308C16.0387 17.4005 16.1215 17.4559 16.2126 17.4936C16.3037 17.5313 16.4014 17.5508 16.5 17.5508C16.5986 17.5508 16.6963 17.5313 16.7874 17.4936C16.8785 17.4559 16.9613 17.4005 17.031 17.3308C17.1007 17.2611 17.156 17.1783 17.1938 17.0872C17.2315 16.9961 17.2509 16.8984 17.2509 16.7998C17.2509 16.7012 17.2315 16.6035 17.1938 16.5124C17.156 16.4213 17.1007 16.3385 17.031 16.2688L13.0605 12.2998L17.031 8.3308C17.1007 8.26107 17.156 8.17829 17.1938 8.08718C17.2315 7.99607 17.2509 7.89842 17.2509 7.7998C17.2509 7.70119 17.2315 7.60354 17.1938 7.51243C17.156 7.42132 17.1007 7.33854 17.031 7.2688C16.9613 7.19907 16.8785 7.14376 16.7874 7.10602C16.6963 7.06828 16.5986 7.04886 16.5 7.04886C16.4014 7.04886 16.3037 7.06828 16.2126 7.10602C16.1215 7.14376 16.0387 7.19907 15.969 7.2688L12 11.2393L8.031 7.2688Z" fill="#7F7F8D"/>
</g>
<defs>
<clipPath id="clip0_4598_32074">
<rect width="24" height="24" fill="white" transform="translate(0 0.299805)"/>
</clipPath>
</defs>
</svg></span>
    </div>
      </div>
    </div>
    
      <style id="custom-css-gd8apmOZk_">
        .gd8apmOZk_ .overflow-hidden{
    overflow: visible!important;
}
      </style>
    
    </div>
    </div>
   
    
      <style id="custom-css-gJKAlWLE1z">
        .gJKAlWLE1z {
  --gtc: minmax(38.144329%, 4fr) minmax(0, 4fr) minmax(0, 4fr) !important; 
}
      </style>
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gYhTD_Z58H" data-id="gYhTD_Z58H"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--cg:0px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gYhTD_Z58H gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gpMeyqo5Ud gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gzL9Y-LENY">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gzL9Y-LENY "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:21px;--pl:32px;--pb:21px;--pr:32px;--mb-mobile:0px;--pt-mobile:14px;--pl-mobile:14px;--pb-mobile:14px;--pr-mobile:14px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424153;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggzL9Y-LENY_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g8OH4b9--R gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="g97uGzjOi-" data-id="g97uGzjOi-"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1200%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#FFDBBC;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g97uGzjOi- gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gmb6jAAXCu gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:21px;--pb:21px;--mb-mobile:0px;--pt-mobile:14px;--pb-mobile:14px;--mb-tablet:0px;--pt-tablet:23px;--pb-tablet:23px;--ta:left"
      class="gp-leading-[0] gLxkO0mTI8"
    >
      <div 
      data-id="gLxkO0mTI8"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#EE6F4B;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg data-id="496639295335957343" xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
<path d="M24 12.2998C24 15.4824 22.7357 18.5347 20.4853 20.7851C18.2348 23.0355 15.1826 24.2998 12 24.2998C8.8174 24.2998 5.76515 23.0355 3.51472 20.7851C1.26428 18.5347 0 15.4824 0 12.2998C0 9.11721 1.26428 6.06496 3.51472 3.81452C5.76515 1.56409 8.8174 0.299805 12 0.299805C15.1826 0.299805 18.2348 1.56409 20.4853 3.81452C22.7357 6.06496 24 9.11721 24 12.2998ZM18.045 7.7548C17.9379 7.64803 17.8103 7.56396 17.6699 7.50763C17.5295 7.45129 17.3792 7.42384 17.228 7.42692C17.0768 7.43 16.9277 7.46355 16.7897 7.52556C16.6518 7.58756 16.5277 7.67676 16.425 7.7878L11.2155 14.4253L8.076 11.2843C7.86274 11.0856 7.58067 10.9774 7.28922 10.9825C6.99776 10.9877 6.71969 11.1058 6.51357 11.3119C6.30745 11.518 6.18938 11.7961 6.18424 12.0875C6.1791 12.379 6.28728 12.661 6.486 12.8743L10.455 16.8448C10.5619 16.9515 10.6892 17.0356 10.8294 17.0921C10.9695 17.1485 11.1196 17.1762 11.2706 17.1734C11.4217 17.1706 11.5706 17.1374 11.7085 17.0758C11.8465 17.0142 11.9706 16.9254 12.0735 16.8148L18.0615 9.3298C18.2656 9.11755 18.3784 8.83372 18.3756 8.53924C18.3728 8.24477 18.2546 7.96313 18.0465 7.7548H18.045Z" fill="#EE6F4B"/>
</svg></span>
    </div>
      </div>
    </div>
    
      <style id="custom-css-gLxkO0mTI8">
        .gLxkO0mTI8 .overflow-hidden{
    overflow: visible!important;
}
      </style>
    
    </div>
    </div>
   
    
      <style id="custom-css-g97uGzjOi-">
        .g97uGzjOi- {
    height: 100% !important;
    align-items: center !important;
    justify-content: center !important;
    display: flex !important;
    flex-wrap: nowrap;
}
      </style>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gHYHOguc4k gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:21px;--pb:21px;--mb-mobile:0px;--pt-mobile:14px;--pb-mobile:14px;--ta:center"
      class="gp-leading-[0] gtoxirx3Ep"
    >
      <div 
      data-id="gtoxirx3Ep"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#7F7F8D;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg data-id="496639423950095199" xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
<g clip-path="url(#clip0_4598_32074)">
<path d="M24 12.2998C24 15.4824 22.7357 18.5347 20.4853 20.7851C18.2348 23.0355 15.1826 24.2998 12 24.2998C8.8174 24.2998 5.76515 23.0355 3.51472 20.7851C1.26428 18.5347 0 15.4824 0 12.2998C0 9.11721 1.26428 6.06496 3.51472 3.81452C5.76515 1.56409 8.8174 0.299805 12 0.299805C15.1826 0.299805 18.2348 1.56409 20.4853 3.81452C22.7357 6.06496 24 9.11721 24 12.2998ZM8.031 7.2688C7.89017 7.12797 7.69916 7.04886 7.5 7.04886C7.30084 7.04886 7.10983 7.12797 6.969 7.2688C6.82817 7.40963 6.74905 7.60064 6.74905 7.7998C6.74905 7.99897 6.82817 8.18997 6.969 8.3308L10.9395 12.2998L6.969 16.2688C6.89927 16.3385 6.84395 16.4213 6.80621 16.5124C6.76848 16.6035 6.74905 16.7012 6.74905 16.7998C6.74905 16.8984 6.76848 16.9961 6.80621 17.0872C6.84395 17.1783 6.89927 17.2611 6.969 17.3308C7.10983 17.4716 7.30084 17.5508 7.5 17.5508C7.59862 17.5508 7.69627 17.5313 7.78738 17.4936C7.87848 17.4559 7.96127 17.4005 8.031 17.3308L12 13.3603L15.969 17.3308C16.0387 17.4005 16.1215 17.4559 16.2126 17.4936C16.3037 17.5313 16.4014 17.5508 16.5 17.5508C16.5986 17.5508 16.6963 17.5313 16.7874 17.4936C16.8785 17.4559 16.9613 17.4005 17.031 17.3308C17.1007 17.2611 17.156 17.1783 17.1938 17.0872C17.2315 16.9961 17.2509 16.8984 17.2509 16.7998C17.2509 16.7012 17.2315 16.6035 17.1938 16.5124C17.156 16.4213 17.1007 16.3385 17.031 16.2688L13.0605 12.2998L17.031 8.3308C17.1007 8.26107 17.156 8.17829 17.1938 8.08718C17.2315 7.99607 17.2509 7.89842 17.2509 7.7998C17.2509 7.70119 17.2315 7.60354 17.1938 7.51243C17.156 7.42132 17.1007 7.33854 17.031 7.2688C16.9613 7.19907 16.8785 7.14376 16.7874 7.10602C16.6963 7.06828 16.5986 7.04886 16.5 7.04886C16.4014 7.04886 16.3037 7.06828 16.2126 7.10602C16.1215 7.14376 16.0387 7.19907 15.969 7.2688L12 11.2393L8.031 7.2688Z" fill="#7F7F8D"/>
</g>
<defs>
<clipPath id="clip0_4598_32074">
<rect width="24" height="24" fill="white" transform="translate(0 0.299805)"/>
</clipPath>
</defs>
</svg></span>
    </div>
      </div>
    </div>
    
      <style id="custom-css-gtoxirx3Ep">
        .gtoxirx3Ep .overflow-hidden{
    overflow: visible!important;
}
      </style>
    
    </div>
    </div>
   
    
      <style id="custom-css-gYhTD_Z58H">
        .gYhTD_Z58H {
  --gtc: minmax(38.144329%, 4fr) minmax(0, 4fr) minmax(0, 4fr) !important; 
}
      </style>
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gLt1ZTVg8D" data-id="gLt1ZTVg8D"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:10px;--bbrr:10px;--btlr:0px;--btrr:0px;--mb:0px;--cg:0px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gLt1ZTVg8D gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gqinoyzcOL gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gngHQzctNd">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gngHQzctNd "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:21px;--pl:32px;--pb:21px;--pr:32px;--mb-mobile:0px;--pt-mobile:14px;--pl-mobile:14px;--pb-mobile:14px;--pr-mobile:14px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424153;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggngHQzctNd_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gGMz0xQHEa gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gc3oZkSOLy" data-id="gc3oZkSOLy"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1200%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#FFDBBC;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gc3oZkSOLy gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g4tpxffSnr gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:21px;--pb:21px;--mb-mobile:0px;--pt-mobile:14px;--pb-mobile:14px;--mb-tablet:0px;--pt-tablet:23px;--pb-tablet:23px;--ta:left"
      class="gp-leading-[0] g993JJsoBr"
    >
      <div 
      data-id="g993JJsoBr"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#EE6F4B;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg data-id="496639295335957343" xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
<path d="M24 12.2998C24 15.4824 22.7357 18.5347 20.4853 20.7851C18.2348 23.0355 15.1826 24.2998 12 24.2998C8.8174 24.2998 5.76515 23.0355 3.51472 20.7851C1.26428 18.5347 0 15.4824 0 12.2998C0 9.11721 1.26428 6.06496 3.51472 3.81452C5.76515 1.56409 8.8174 0.299805 12 0.299805C15.1826 0.299805 18.2348 1.56409 20.4853 3.81452C22.7357 6.06496 24 9.11721 24 12.2998ZM18.045 7.7548C17.9379 7.64803 17.8103 7.56396 17.6699 7.50763C17.5295 7.45129 17.3792 7.42384 17.228 7.42692C17.0768 7.43 16.9277 7.46355 16.7897 7.52556C16.6518 7.58756 16.5277 7.67676 16.425 7.7878L11.2155 14.4253L8.076 11.2843C7.86274 11.0856 7.58067 10.9774 7.28922 10.9825C6.99776 10.9877 6.71969 11.1058 6.51357 11.3119C6.30745 11.518 6.18938 11.7961 6.18424 12.0875C6.1791 12.379 6.28728 12.661 6.486 12.8743L10.455 16.8448C10.5619 16.9515 10.6892 17.0356 10.8294 17.0921C10.9695 17.1485 11.1196 17.1762 11.2706 17.1734C11.4217 17.1706 11.5706 17.1374 11.7085 17.0758C11.8465 17.0142 11.9706 16.9254 12.0735 16.8148L18.0615 9.3298C18.2656 9.11755 18.3784 8.83372 18.3756 8.53924C18.3728 8.24477 18.2546 7.96313 18.0465 7.7548H18.045Z" fill="#EE6F4B"/>
</svg></span>
    </div>
      </div>
    </div>
    
      <style id="custom-css-g993JJsoBr">
        .g993JJsoBr .overflow-hidden{
    overflow: visible!important;
}
      </style>
    
    </div>
    </div>
   
    
      <style id="custom-css-gc3oZkSOLy">
        .gc3oZkSOLy {
    height: 100% !important;
    align-items: center !important;
    justify-content: center !important;
    display: flex !important;
    flex-wrap: nowrap;
}
      </style>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gN3Sd3ljdf gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:21px;--pb:21px;--mb-mobile:0px;--pt-mobile:14px;--pb-mobile:14px;--ta:center"
      class="gp-leading-[0] gtBua4_N1-"
    >
      <div 
      data-id="gtBua4_N1-"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#7F7F8D;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg data-id="496639423950095199" xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
<g clip-path="url(#clip0_4598_32074)">
<path d="M24 12.2998C24 15.4824 22.7357 18.5347 20.4853 20.7851C18.2348 23.0355 15.1826 24.2998 12 24.2998C8.8174 24.2998 5.76515 23.0355 3.51472 20.7851C1.26428 18.5347 0 15.4824 0 12.2998C0 9.11721 1.26428 6.06496 3.51472 3.81452C5.76515 1.56409 8.8174 0.299805 12 0.299805C15.1826 0.299805 18.2348 1.56409 20.4853 3.81452C22.7357 6.06496 24 9.11721 24 12.2998ZM8.031 7.2688C7.89017 7.12797 7.69916 7.04886 7.5 7.04886C7.30084 7.04886 7.10983 7.12797 6.969 7.2688C6.82817 7.40963 6.74905 7.60064 6.74905 7.7998C6.74905 7.99897 6.82817 8.18997 6.969 8.3308L10.9395 12.2998L6.969 16.2688C6.89927 16.3385 6.84395 16.4213 6.80621 16.5124C6.76848 16.6035 6.74905 16.7012 6.74905 16.7998C6.74905 16.8984 6.76848 16.9961 6.80621 17.0872C6.84395 17.1783 6.89927 17.2611 6.969 17.3308C7.10983 17.4716 7.30084 17.5508 7.5 17.5508C7.59862 17.5508 7.69627 17.5313 7.78738 17.4936C7.87848 17.4559 7.96127 17.4005 8.031 17.3308L12 13.3603L15.969 17.3308C16.0387 17.4005 16.1215 17.4559 16.2126 17.4936C16.3037 17.5313 16.4014 17.5508 16.5 17.5508C16.5986 17.5508 16.6963 17.5313 16.7874 17.4936C16.8785 17.4559 16.9613 17.4005 17.031 17.3308C17.1007 17.2611 17.156 17.1783 17.1938 17.0872C17.2315 16.9961 17.2509 16.8984 17.2509 16.7998C17.2509 16.7012 17.2315 16.6035 17.1938 16.5124C17.156 16.4213 17.1007 16.3385 17.031 16.2688L13.0605 12.2998L17.031 8.3308C17.1007 8.26107 17.156 8.17829 17.1938 8.08718C17.2315 7.99607 17.2509 7.89842 17.2509 7.7998C17.2509 7.70119 17.2315 7.60354 17.1938 7.51243C17.156 7.42132 17.1007 7.33854 17.031 7.2688C16.9613 7.19907 16.8785 7.14376 16.7874 7.10602C16.6963 7.06828 16.5986 7.04886 16.5 7.04886C16.4014 7.04886 16.3037 7.06828 16.2126 7.10602C16.1215 7.14376 16.0387 7.19907 15.969 7.2688L12 11.2393L8.031 7.2688Z" fill="#7F7F8D"/>
</g>
<defs>
<clipPath id="clip0_4598_32074">
<rect width="24" height="24" fill="white" transform="translate(0 0.299805)"/>
</clipPath>
</defs>
</svg></span>
    </div>
      </div>
    </div>
    
      <style id="custom-css-gtBua4_N1-">
        .gtBua4_N1- .overflow-hidden{
    overflow: visible!important;
}
      </style>
    
    </div>
    </div>
   
    
      <style id="custom-css-gLt1ZTVg8D">
        .gLt1ZTVg8D {
  --gtc: minmax(38.144329%, 4fr) minmax(0, 4fr) minmax(0, 4fr) !important; 
}
      </style>
    
    </div>
    </div>
   
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gL6J0140lg" data-id="gL6J0140lg"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--pt:48px;--mb-mobile:0px;--pt-mobile:42px;--pl-mobile:15px;--pr-mobile:15px;--mb-tablet:0px;--pt-tablet:42px;--pl-tablet:30px;--pr-tablet:30px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:462px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gL6J0140lg gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g4IolANYye gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--ta:left"
    
  >
    <style>
    .g82et3Cx7I.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }

    .g82et3Cx7I:hover::before {
      
      
    }

    .g82et3Cx7I:hover .gp-button-icon {
      color: undefined;
    }

     .g82et3Cx7I .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .g82et3Cx7I:hover .gp-button-price {
      color: undefined;
    }

    .g82et3Cx7I .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .g82et3Cx7I .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .g82et3Cx7I:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/products/happy-dog-bites" target="_self" data-id="g82et3Cx7I" aria-label="Start baking doggy delights"
      
      data-state="idle"
      class="g82et3Cx7I gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center"
      style="--hvr-bg:#E1481C;--bg:#EE6F4B;--radius:var(--g-radius-small);--shadow:none;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--c:var(--g-c-text-3, text-3);--size:16px;--size-tablet:14px;--size-mobile:14px;--ff:var(--g-font-body, body);--weight:600;--ls:0.5px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="group-hover/button:!gp-text-inherit gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:14px;--size-mobile:14px;--c:var(--g-c-text-3, text-3)"
      >
        {{ section.settings.gg82et3Cx7I_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gAr1SlQUYP">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gAr1SlQUYP "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:16px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424153;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggAr1SlQUYP_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 7",
    "tag": "section",
    "class": "gps-557559594797237241 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/tienphamvan/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=557559570889704373&sectionId=557559594797237241)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggwJnSlH-CK_text","label":"ggwJnSlH-CK_text","default":"<p>Were a whole different breed.</p>"},{"type":"html","id":"gg3n5zc_StG_text","label":"gg3n5zc_StG_text","default":"<p>Its easy to see why Super Tummy Daily is recommended #1 by vets and owners. The powerful ingredients in each tasty scoop can support your dogs digestive system, leaving them to live a comfortable, healthy, and active lifestyle</p>"},{"type":"html","id":"gga25KV44V7_text","label":"gga25KV44V7_text","default":"<p>Happy Dog Bites</p>"},{"type":"html","id":"ggqQihKpf8G_text","label":"ggqQihKpf8G_text","default":"<p>Other Brand</p>"},{"type":"html","id":"ggtQyREBndT_text","label":"ggtQyREBndT_text","default":"<p>Tailored nutrition</p>"},{"type":"html","id":"ggDznYulJ2W_text","label":"ggDznYulJ2W_text","default":"<p>Irresistible taste</p>"},{"type":"html","id":"ggM3GTyOMQy_text","label":"ggM3GTyOMQy_text","default":"<p>Natural, whole ingredients</p>"},{"type":"html","id":"ggg3vgpmQgp_text","label":"ggg3vgpmQgp_text","default":"<p>Optimal palatability</p>"},{"type":"html","id":"ggzL9Y-LENY_text","label":"ggzL9Y-LENY_text","default":"<p>Pet-loving formulation</p>"},{"type":"html","id":"ggngHQzctNd_text","label":"ggngHQzctNd_text","default":"<p>High digestibility</p>"},{"type":"html","id":"gg82et3Cx7I_label","label":"gg82et3Cx7I_label","default":"Start baking doggy delights"},{"type":"html","id":"ggAr1SlQUYP_text","label":"ggAr1SlQUYP_text","default":"<p>*100% satisfaction. No fuss, 30-day money-back guarantee</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
